<!doctype html>
<html>
  {{> head title="REPORT.PURCHASE_ORDER_ANALYSIS.TITLE" }}

  <body class="container">
    {{> header}}

    <!-- body -->
    <div class="row">
      <div class="col-xs-12">
        <!-- page title  -->
        <h3 class="text-center text-bold text-uppercase">{{translate 'REPORT.PURCHASE_ORDER_ANALYSIS.TITLE'}}</h3>
        <br>
        <table class="table-condensed table-report">
          <tr>
            <td class="text-uppercase">
              {{translate 'FORM.LABELS.REFERENCE'}}
            </td>
            <td colspan="2"><strong>{{ purchase.reference }} </td>
          </tr>
          <tr>
            <td class="text-uppercase">
               {{translate 'FORM.LABELS.SUPPLIER'}}
            </td>
            <td colspan="2"> <strong>{{ purchase.supplier }}</strong> </td>
          </tr>
          <tr>
            <td class="text-uppercase">
              {{translate 'FORM.LABELS.DATE'}}
            </td>
            <td colspan="2"> <strong><em> {{date purchase.date "DD/MM/YYYY"}} </em></strong> </td>
          </tr>
          <tr>
            <td class="text-uppercase">
              {{translate 'FORM.LABELS.STATUS'}}
            </td>
            <td style="color:white; text-align:center; background-color: {{ purchase.statusDisplay.color }}"> {{ purchase.statusDisplay.icon }} </td>
            <td> <strong> {{translate purchase.status}} </strong> </td>
          </tr>
        </table>

        <hr>

        {{#if this.hideDetails }}
        <table class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <th> {{translate 'FORM.LABELS.CODE'}} </th>
            <th> {{translate 'FORM.LABELS.INVENTORY'}} </th>
            <th> {{translate 'FORM.LABELS.QUANTITY_ORDERED'}} </th>
            <th> {{translate 'FORM.LABELS.QUANTITY_ENTRY'}} </th>
            <th> {{translate 'FORM.LABELS.QUANTITY_DIFFERENCE'}} </th>
            <th colspan="2"> {{translate 'FORM.LABELS.STATUS'}} </th>
            <th> {{translate 'FORM.LABELS.LAST_ENTRY_DATE'}} </th>
          </thead>
          <tbody>
            {{#each this.inventoriesOrdered}}
              <tr>
                <td>{{ code }}</td>
                <td>{{ inventory_text }}</td>
                <td class="text-right">{{ quantity_ordered }}</td>
                <td class="text-right">{{ quantity_inStock }}</td>
                <td class="text-right"><strong>{{ quantity_difference }}</strong></td>
                <td width="2%" style="color:white; text-align:center; background-color: {{ status.color }}">
                  <strong> {{ status.icon }} </strong>
                </td>
                <td> <strong> {{translate status.text}} </strong> </td>
                <td>{{date last_entry_date "DD/MM/YYYY HH:mm"}} </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}

        {{#if this.displayDetails }}
        {{#each this.inventoriesOrdered}}
          <table class="table table-condensed table-report table-bordered">
            <caption>
              <strong>{{ code }} - {{ inventory_text }}</strong>
            </caption>
            <thead>
              <tr class="text-capitalize text-bold">
                <th>{{translate 'STOCK.MOVEMENT'}}</th>
                <th>{{translate 'FORM.LABELS.DATE'}}</th>
                <th>{{translate 'FORM.LABELS.DEPOT'}}</th>
                <th>{{translate 'STOCK.LOT'}}</th>
                <th>{{translate 'STOCK.EXPIRATION_DATE'}}</th>
                <th>{{translate 'FORM.LABELS.QUANTITY_ENTRY'}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each detailled}}
                <tr>
                  <td> {{ stock_movement_reference }} </td>
                  <td> {{ date entry_date "DD/MM/YYYY HH:mm"}} </td>
                  <td> {{ depotText }} </td>
                  <td> {{ lotLabel }} </td>
                  <td> {{ date expiration_date "DD/MM/YYYY"}} </td>
                  <td class="text-right"> {{ quantity }} </td>
                </tr>
              {{else}}
                <tr>
                  <td class="text-center" colspan="6">{{translate "TABLE.COLUMNS.EMPTY"}}</td>
                </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6"></td>
              </tr>
              <tr>
                <td class="text-capitalize text-right text-bold" colspan="5">
                  {{translate 'FORM.LABELS.TOTAL'}}
                </td>
                <td class="text-bold text-right"> {{ quantity_inStock }} </td>
              </tr>
              <tr>
                <td class="text-capitalize text-right text-bold" colspan="5">
                  {{translate 'FORM.LABELS.QUANTITY_ORDERED'}}
                </td>
                <td class="text-bold text-right"> {{ quantity_ordered }} </td>
              </tr>
              <tr>
                <td class="text-capitalize text-right text-bold" colspan="5">
                  {{translate 'FORM.LABELS.QUANTITY_DIFFERENCE'}}
                </td>
                <td class="text-bold text-right"> {{ quantity_difference }} </td>
              </tr>
              <tr>
                <td class="text-capitalize text-right text-bold" colspan="5">
                  {{translate 'FORM.LABELS.STATUS'}}
                </td>
                <td>
                  <strong style="display:inline-block; padding-left:5px; padding-right:5px; color:white; text-align:center; background-color: {{ status.color }}">{{ status.icon }}</strong>
                  <strong>{{translate status.text}}</strong>
                </td>
              </tr>
            </tfoot>
          </table>
          <br>
        {{/each}}
        {{/if}}
      </div>
    </div>
  </body>
</html>
