{{> head title="TREE.CASH_REPORT" }}

<div class="container">
  {{> header}}

  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center text-uppercase">
        <strong>{{translate 'TREE.CASH_REPORT'}}</strong>
      </h3>
      <h5 class="text-center text-uppercase">
        {{ cashbox.label }} ({{ cashbox.symbol}})
      </h5>
      <h6 class="text-center text-uppercase">
        {{date dateFrom }} - {{date dateTo }}
      </h6>

      <div class="text-right">
        <strong>{{ translate 'FORM.LABELS.OPENING_BALANCE' }} : {{debcred header.balance metadata.enterprise.currency_id}}</strong>
      </div>

      <table class="table table-condensed table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th>{{ translate 'TABLE.COLUMNS.DATE' }}</th>
            <th>{{ translate 'TABLE.COLUMNS.TRANSACTION_ID' }}</th>
            <th>{{ translate 'TABLE.COLUMNS.NUM_PIECE' }}</th>
            <th style="width: 45%">{{ translate 'TABLE.COLUMNS.DESCRIPTION'}}</th>
            <th>{{ translate 'TABLE.COLUMNS.ENTRY' }}</th>
            <th>{{ translate 'TABLE.COLUMNS.EXIT' }}</th>
            <th>{{ translate 'TABLE.COLUMNS.VALUE' }}</th>
            <th>{{ translate 'TABLE.COLUMNS.BALANCE' }}</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactions as |txn| }}
            <tr {{#unless txn.posted}}style="font-style: italic !important;"{{/unless}}>
              <td>{{ date txn.trans_date }}</td>
              <td>{{ txn.trans_id }}</td>
              <td>{{ txn.document_reference }}</td>
              <td style="white-space : nowrap;  text-overflow : ellipsis; overflow : hidden; max-width : 400px;" title="{{ txn.description }}">
                {{ txn.description }}
              </td>
              <td class="text-right">
                {{currency txn.debit txn.currency_id}}
              </td>
              <td class="text-right">
                {{currency txn.credit txn.currency_id}}
              </td>
              <td class="text-right">
                {{debcred txn.exchangedBalance ../metadata.enterprise.currency_id}}
              </td>
              <td class="text-right">
                {{debcred txn.cumsum ../metadata.enterprise.currency_id}}
              </td>
            </tr>
          {{else}}
            {{>emptyTable columns=8}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">{{ date footer.date }}</th>
            <th class="text-right">
              {{#if footer.shouldDisplayDebitCredit }}
                {{ currency footer.totals.debit cashbox.currency_id }}
              {{/if}}
            </th>
            <th class="text-right">
              {{#if footer.shouldDisplayDebitCredit }}
                {{ currency footer.totals.credit cashbox.currency_id }}
              {{/if}}
            </th>
            <th class="text-right">{{ debcred footer.exchangedBalance metadata.enterprise.currency_id }}</th>
            <th class="text-right">{{ debcred footer.exchangedCumSum metadata.enterprise.currency_id }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
