{{> head title="VOUCHERS.GLOBAL.TITLE"}}

<body>

  <div class="container">
    <!-- header  -->
    <div class="row">
      <div class="col-xs-4">
        <h3 style="margin:2px;">{{metadata.enterprise.name}} ({{metadata.enterprise.abbr}})</h3>
        <span>{{translate 'FORM.LABELS.PHONE'}}: {{metadata.enterprise.phone}}</span><br>
        <span>{{translate 'FORM.LABELS.EMAIL'}}: {{metadata.enterprise.email}}</span><br>
      </div>
      <div class="col-xs-offset-4 col-xs-4 text-right">
        <small>{{metadata.project.name}} ({{metadata.project.abbr}})</small>
      </div>
    </div>

    <!-- body  -->
    <div class="row">
      <div class="col-xs-12">

        <!-- page title  -->
        <h2 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
          {{translate 'VOUCHERS.GLOBAL.TITLE'}}
        </h2>

        <!-- voucher info  -->
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{translate 'FORM.LABELS.REFERENCE'}}</th>
              <th>{{translate 'FORM.LABELS.DATE'}}</th>
              <th>{{translate 'FORM.LABELS.DESCRIPTION'}}</th>
              <th class="text-right">{{translate 'FORM.LABELS.AMOUNT'}}</th>
              <th>{{translate 'FORM.LABELS.BY'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each rows}}
              {{#if @first}}
                <tr>
                  <td>{{reference}}</td>
                  <td>{{date date}}</td>
                  <td>{{description}}</td>
                  <td class="text-right">{{currency amount}}</td>
                  <td>{{user}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-6">
        <!-- voucher items info  -->
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{translate 'FORM.LABELS.ACCOUNT'}}</th>
              <th>{{translate 'FORM.LABELS.DESCRIPTION'}}</th>
              <th class="text-right">{{translate 'FORM.LABELS.DEBIT'}}</th>
              <th class="text-right">{{translate 'FORM.LABELS.CREDIT'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each rows}}
            <tr>
              <td>{{number}}</td>
              <td>{{label}}</td>
              <td class="text-right">{{currency debit}}</td>
              <td class="text-right">{{currency credit}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <small>{{translate 'FORM.LABELS.SIGNATURE'}}</small>
    <hr>

  </div>
</body>
