{{> head title="VOUCHERS.GLOBAL.TITLE"}}

<div class="container" style="font-size: 0.9em;">

  <header>
    <!-- headings  -->
    <div class="row">
      <div class="col-xs-6">
        <h3 style="margin: 0px;">{{metadata.enterprise.name}}</h3>
        <address style="margin-bottom: 0px;">
          {{metadata.enterprise.location}}
        </address>
        <div>{{metadata.enterprise.email}}</div>
        <div>{{metadata.enterprise.phone}}</div>
      </div>
      <div class="col-xs-6 text-right">
        <h3 style="margin: 0px;">
          <div class="text-uppercase">{{translate details.text}}</div>
          <div><strong>{{details.reference}}</strong></div>
        </h3>
        <div>{{translate "REPORT.PRODUCED_ON"}} <time datetime="{{metadata.timestamp}}">{{date metadata.timestamp}}</time></div>
        <div>{{translate "REPORT.PRODUCED_BY"}} {{metadata.user.username}}</div>
      </div>
    </div>
  </header>

  <!-- client and user details  -->
  <div class="row" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;">
    <div class="col-xs-6">
      <span class="text-capitalize">{{translate 'FORM.LABELS.PAYMENT'}}</span>: <strong>{{details.reference}}</strong> <br>
      <span class="text-capitalize">{{translate 'FORM.LABELS.AMOUNT'}}</span>: <strong>{{currency details.amount details.currency_id}}</strong> <br>
      <span class="text-capitalize">{{translate 'FORM.LABELS.TRANSACTION_DATE'}}</span>: {{date details.date}} <br>
      <span class="text-capitalize">{{translate 'TABLE.COLUMNS.RESPONSIBLE'}}</span>: {{details.display_name}}
    </div>
  </div>

  <h5>{{details.description}}</h5>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{translate 'FORM.LABELS.ACCOUNT'}}</th>
        <th>{{translate 'FORM.LABELS.DESCRIPTION'}}</th>
        <th class="text-right">{{translate 'FORM.LABELS.DEBIT'}}</th>
        <th class="text-right">{{translate 'FORM.LABELS.CREDIT'}}</th>
        <th>{{translate 'FORM.LABELS.ENTITY'}}</th>
        <th>{{translate 'FORM.LABELS.REFERENCE'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <td>{{number}}</td>
          <td>{{label}}</td>
          <td class="text-right">{{currency debit currency_id}}</td>
          <td class="text-right">{{currency credit currency_id}}</td>
          <td>{{ entity_reference }}</td>
          <td>{{ document_reference }}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2" class="text-right">{{translate 'FORM.LABELS.TOTAL'}}</th>
        <th class="text-right">{{currency (sum rows 'debit') details.currency_id}}</th>
        <th class="text-right">{{currency (sum rows 'credit') details.currency_id}}</th>
        <th colspan="2"></th>
      </tr>
    </tfoot>
  </table>

  <h4>
    <u>{{translate 'FORM.LABELS.SIGNATURE'}}s</u>
  </h4>
</div>
