{{> head title="VOUCHERS.GLOBAL.REPORT"}}

<div class="container">

  {{> header }}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-uppercase">
        {{translate 'VOUCHERS.GLOBAL.REPORT'}} <br />
        <small>
          {{#if dateFrom}} {{date dateFrom}} - {{/if}}
          {{#if dateTo}} {{date dateTo}} {{/if}}
        </small>
      </h2>

      <!-- list of data  -->
      <!-- voucher info  -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{translate 'FORM.LABELS.REFERENCE'}}</th>
            <th>{{translate 'FORM.LABELS.DATE'}}</th>
            <th>{{translate 'FORM.LABELS.DESCRIPTION'}}</th>
            <th class="text-right">{{translate 'FORM.LABELS.AMOUNT'}}</th>
            <th>{{translate 'FORM.LABELS.BY'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
            <tr>
              <td>{{reference}}</td>
              <td>{{date date}}</td>
              <td>{{description}}</td>
              <td class="text-right">{{currency amount}}</td>
              <td>{{user}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
