{{> head title="REPORT.OHADA.BALANCE_SHEET"}}

<body>

  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-uppercase">
        {{translate 'REPORT.OHADA.BALANCE_SHEET'}} : <strong>{{fiscalYear.details.current_fiscal_year}}</strong>
      </h2>

      {{!-- assets --}}
      <table style="margin-bottom: 15px; font-size: 10px;" class="table table-striped table-condensed table-report table-bordered">
        <thead>
          <tr style="background-color:#ddd;">
            <th colspan="3">&nbsp;</th>
            <th class="text-center" colspan="3">{{translate "REPORT.OHADA.EXERCISE"}} {{fiscalYear.details.current_fiscal_year}}</th>
            {{#if fiscalYear.details.previous_fiscal_year}}
              <th class="text-center">{{translate "REPORT.OHADA.EXERCISE"}} {{fiscalYear.details.previous_fiscal_year}}</th>
            {{/if}}
          </tr>
          <tr style="background-color:#ddd;">
            <th>{{translate "REPORT.OHADA.REF"}}</th>
            <th class="text-center text-uppercase">{{translate "REPORT.OHADA.ASSET"}}</th>
            <th class="text-center text-uppercase">{{translate "REPORT.OHADA.NOTE"}}</th>
            <th class="text-center">{{translate "REPORT.OHADA.BRUT"}}</th>
            <th class="text-center">{{translate "REPORT.OHADA.ADP"}}</th>
            <th class="text-center">{{translate "REPORT.OHADA.NET"}}</th>
            {{#if fiscalYear.details.previous_fiscal_year}}
              <th class="text-center">{{translate "REPORT.OHADA.NET"}}</th>
            {{/if}}
          </tr>
        </thead>

        <tbody>
          {{#each assetTable as | poste |}}
            <tr {{#if poste.is_title}} class="text-uppercase" style="background-color:#efefef; font-weight: bold;"{{/if}}>
              <td>{{ poste.ref }}</td><td>{{translate poste.label }}</td><td class="text-center">{{ poste.note }}</td>
              <td class="text-right">{{debcred poste.currentBrut metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred poste.currentAmo metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred poste.currentNet metadata.enterprise.currency_id}}</td>
              {{#if ../fiscalYear.details.previous_fiscal_year}}
                <td class="text-right">{{debcred poste.previousNet metadata.enterprise.currency_id}}</td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>

      <hr>

      {{!-- liability --}}
      <table style="margin-bottom: 15px; font-size: 10px;" class="table table-striped table-condensed table-report table-bordered">
        <thead>
          <tr style="background-color:#ddd;">
            <th colspan="3">&nbsp;</th>
            <th class="text-center">{{translate "REPORT.OHADA.EXERCISE"}} {{fiscalYear.details.current_fiscal_year}}</th>
            {{#if fiscalYear.details.previous_fiscal_year}}
              <th class="text-center">{{translate "REPORT.OHADA.EXERCISE"}} {{fiscalYear.details.previous_fiscal_year}}</th>
            {{/if}}
          </tr>
          <tr style="background-color:#ddd;">
            <th>{{translate "REPORT.OHADA.REF"}}</th>
            <th class="text-center text-uppercase">{{translate "REPORT.OHADA.LIABILITY"}}</th>
            <th class="text-center text-uppercase">{{translate "REPORT.OHADA.NOTE"}}</th>
            <th class="text-center">{{translate "REPORT.OHADA.NET"}}</th>
            {{#if fiscalYear.details.previous_fiscal_year}}
              <th class="text-center">{{translate "REPORT.OHADA.NET"}}</th>
            {{/if}}
          </tr>
        </thead>

        <tbody>
          {{#each liabilityTable as | poste |}}
            <tr {{#if poste.is_title}} class="text-uppercase" style="background-color:#efefef; font-weight: bold;"{{/if}}>
              <td>{{ poste.ref }}</td><td>{{translate poste.label }}</td><td class="text-center">{{ poste.note }}</td>
              <td class="text-right">{{debcred poste.currentNet metadata.enterprise.currency_id}}</td>
              {{#if ../fiscalYear.details.previous_fiscal_year}}
                <td class="text-right">{{debcred poste.previousNet metadata.enterprise.currency_id}}</td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <p>
    <em>*{{translate 'REPORT.OHADA.ADP'}}: {{translate 'REPORT.OHADA.ADP_LONG'}}</em>
  </p>

</body>
