{{> head }}

<body>

  {{> header}}

  <!-- filters  -->
  {{> filterbar filters=filters }}

  <!-- invoices listed  -->
  <table class="table table-condensed table-report table-bordered">
    <thead>
      <tr style="background-color: #ddd;">
        <th>{{translate 'TABLE.COLUMNS.REFERENCE'}}</th>
        <th>{{translate 'TABLE.COLUMNS.DATE'}}</th>
        <th>{{translate 'TABLE.COLUMNS.SUPPLIER'}}</th>
        <th>{{translate 'TABLE.COLUMNS.ITEM'}}</th>
        <th>{{translate 'TABLE.COLUMNS.QUANTITY'}}</th>
        <th>{{translate 'STOCK.QUANTITY_RECEIVED'}}</th>
        <th>{{translate 'STOCK.QUANTITY_REMAINING'}}</th>
        <th>{{translate 'TABLE.COLUMNS.COST'}}</th>
        <th>{{translate 'FORM.LABELS.RESPONSIBLE'}}</th>
        <th>{{translate 'TABLE.COLUMNS.USER'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr class="text-right">
          <td>{{reference}}</td>
          <td>{{date date}}</td>
          <td>{{supplier}}</td>
          <td  class="text-left">{{inventory_text}}</td>
          <td>{{quantity}}</td>
          <td>{{quatity_delivered}}</td>
          <td>{{balance}}</td>
          <td>{{currency inventory_purchase_price currency_id 4}}</td>
          <td><strong>{{responsible}}</strong></td>
          <td><strong>{{author}}</strong></td>
        </tr>
      {{else}}
        {{> emptyTable columns=10}}
      {{/each}}
    </tbody>
  </table>
</body>
