{{> head title="FORM.LABELS.PAYSLIP"}}
<body>
  <!-- body  -->
  {{#each dataEmployees}}

    <div style="page-break-after: always">
      <header class="row">
        <div class="col-xs-6">
          <h3 style="margin: 0px;"> {{../enterprise.name}} </h3>
          <address style="margin-bottom: 0px;">
            {{../enterprise.location}}
          </address>
          <div>{{../enterprise.email}}</div>
          <div>{{../enterprise.phone}}</div>
        </div>
        <div class="col-xs-6 text-right">
          <div> <b>{{translate "FORM.LABELS.NAME"}} :</b> {{display_name}} </div>
          <div> <b>{{translate "FORM.LABELS.GENDER"}} :</b> {{sex}} </div>
          <div> <b>{{translate "FORM.LABELS.CODE"}} :</b> {{code}} </div>
          <div> <b>{{translate "FORM.LABELS.REFERENCE"}} :</b> {{hrreference}} </div>
          <div> <b>{{translate "FORM.LABELS.GRADE"}} :</b> {{text}} </div>
          <div> <b>{{translate "FORM.LABELS.DATE_EMBAUCHE"}} :</b> {{date date_embauche}} </div>
          <div> <b>{{translate "FORM.LABELS.NB_CHILD"}} :</b> {{nb_enfant}} </div>
        </div>
      </header>
  
      <h3 class="text-center text-uppercase">
        <strong>{{translate 'TABLE.COLUMNS.PAYSLIP'}} : {{ ../payrollPeriod.label }} </strong>
      </h3>

      <table class="table table-condensed table-bordered table-report" style="margin-bottom: 5px; font-size: 13px">
        <thead>
          <tr>
            <th style="background-color:#efefef;" class="text-center" colspan="5"> <strong> {{translate 'TABLE.COLUMNS.BASIC_SALARY'}} </strong></th>
          </tr>
          <tr>
            <td style="width: 37%;">{{translate "TABLE.COLUMNS.RUBRICS"}}</td>
            <td style="width: 8%;" class="text-center">{{translate 'TABLE.COLUMNS.RATE'}} ( % )</td>
            <td style="width: 5%;" class="text-center">{{translate 'TABLE.COLUMNS.DAYS'}} </td>       
            <td style="width: 25%;" class="text-center">{{translate 'TABLE.COLUMNS.DAILY_RATE'}} </td>
            <td style="width: 25%;" class="text-center"> {{translate "TABLE.COLUMNS.RESULT"}}</td>
          </tr>
        </thead>
        <tr>
          <td>  {{translate 'TABLE.COLUMNS.DAY_WORKED'}} </td>
          <td></td>
          <td class="text-right"> {{ working_day }} </td>
          <td class="text-right"> {{currency (multiply daily_salary ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} </td>
          <td class="text-right"> {{currency (multiply dailyWorkedValue ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} </td>
        </tr>

        {{#each holidaysPaid}}
          <tr>
            <td> {{ label }} </td>
            <td class="text-right"> {{ holiday_percentage }} </td>
            <td class="text-right"> {{ holiday_nbdays }} </td> 
            <td class="text-right"> {{currency (multiply dailyRate ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }} </td>
            <td class="text-right"> {{currency (multiply value ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }} </td>
          </tr>
        {{/each}}

        {{#each offDaysPaid}}
          <tr>
            <td> {{ label }} </td>
            <td class="text-right"> {{ offday_percentage }} </td>
            <td class="text-right"> 1 </td>
            <td class="text-right"> {{currency (multiply value ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }} </td>
            <td class="text-right"> {{currency (multiply value ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }} </td>
          </tr>
        {{/each}}
        <tr>
          <td class="text-right" colspan="4"> <strong> {{translate 'TABLE.COLUMNS.TOTAL'}} </strong></td>
          <td class="text-right"> {{currency (multiply basic_salary ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} </td>
        </tr>
      </table>
      
      <table class="table table-condensed table-bordered table-report" style="margin-bottom: 5px; font-size: 13px">  
        <tr>
          <th style="background-color:#efefef;" class="text-center" colspan="8"> <strong> {{translate 'TABLE.COLUMNS.PROFITS'}} </strong></th>
        </tr>
        <tr>
          <th class="col-xs-6 text-center" colspan="4"> <strong> {{translate 'TABLE.COLUMNS.TAXABLE'}} </strong></th>
          <th class="col-xs-6 text-center" colspan="4"> <strong> {{translate 'TABLE.COLUMNS.NON_TAXABLE'}} </strong></th>
        </tr>
        <tr>
          <td class="col-xs-6 text-center" colspan="4">
            <table class="table table-condensed table-bordered table-report" style="width: 100%;">
              {{#each rubricTaxable}}
                <tr>
                  <td style="width: 50%;">
                    {{ label }}
                    {{#if ratePercentage}}
                      ({{ ratePercentage }} %)
                    {{/if}}
                  </td>
                  <td style=" width: 50%;" class="text-right">
                    {{currency (multiply result ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }}
                  </td>
                </tr>
              {{/each}}
              <tr style="text-transform: uppercase;">
                <td> <strong> {{translate 'TABLE.COLUMNS.NET_TAXABLE'}} </strong> </td>
                <td class="text-right">
                  <strong>
                    {{currency (multiply somRubTaxable ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }}
                  </strong>
                </td>
              </tr>
            </table>
          </td>
          <td class="col-xs-6 text-center" colspan="4">
            <table class="table table-condensed table-bordered table-report" style="width: 100%;">
              {{#each rubricNonTaxable}}
                <tr>
                  <td style="width: 50%;">
                    {{ label }}
                    {{#if ratePercentage}}
                      ({{ ratePercentage }} %)
                    {{/if}}
                  </td>
                  <td style="width: 50%;" class="text-right"> 
                    {{currency (multiply result ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }}
                  </td>
                </tr>
              {{/each}}
              <tr style="text-transform: uppercase;">
                <td> <strong> {{translate 'TABLE.COLUMNS.NET_NON_TAXABLE'}} </strong> </td>
                <td class="text-right">
                  <strong>
                    {{currency (multiply somRubNonTaxable ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }}
                  </strong>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="background-color:#fefefe;">
          <td class="col-xs-6 text-center" colspan="4">
            <strong>
              {{translate 'TABLE.COLUMNS.TAXABLE_GROSS_SALARY'}} = ({{translate 'TABLE.COLUMNS.BASIC_SALARY'}}) + ({{translate 'TABLE.COLUMNS.NET_TAXABLE'}})
            </strong> = {{currency (multiply basic_salary ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} + 
            {{currency (multiply somRubTaxable ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} => 
            <strong> [ {{currency (multiply base_taxable ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} ] </strong>
          </td>
          <td class="col-xs-6 text-center" colspan="4">
            <strong> {{translate 'TABLE.COLUMNS.GROSS_SALARY'}} = ({{translate 'TABLE.COLUMNS.TAXABLE_GROSS_SALARY'}}) + ({{translate 'TABLE.COLUMNS.NET_NON_TAXABLE'}}) </strong> = 
            {{currency (multiply base_taxable ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} + {{currency (multiply somRubNonTaxable ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} 
            => <strong> [ {{currency (multiply gross_salary ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} ]
          </td>
        </tr>
      </table>

      <table class="table table-condensed table-bordered table-report" style="margin-bottom: 5px; font-size: 13px">  
        <tr>
          <th style="background-color:#efefef;" class="text-center" colspan="8"> <strong> {{translate "TABLE.COLUMNS.DEDUCTIONS"}}  </strong></th>
        </tr>
        <tr>
          <th class="col-xs-6 text-center" colspan="4"> <strong> {{translate 'TABLE.COLUMNS.CONTRIBUTION_DEDUCTIONS'}} </strong></th>
          <th class="col-xs-6 text-center" colspan="4"> <strong> {{translate "TABLE.COLUMNS.EMPLOYER_CONTRIBUTIONS"}} </strong></th>
        </tr>
        <tr>
          <td class="col-xs-6 text-center" colspan="4">
            <table class="table table-condensed table-bordered table-report" style="width: 100%;">
              {{#each rubricsChargeEmployee}}
                <tr>
                  <td style="width: 50%;">
                    {{ label }}
                    {{#if ratePercentage}}
                      ({{ ratePercentage }} %)
                    {{/if}}
                  </td>
                  <td style=" width: 50%;" class="text-right">
                    {{currency (multiply result ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }}
                  </td>
                </tr>
              {{/each}}
              <tr style="text-transform: uppercase;">
                <td> <strong> {{translate 'TABLE.COLUMNS.TOTAL'}} </strong> </td>
                <td class="text-right">
                  {{currency (multiply somChargeEmployee ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }}
                </td>
              </tr>
            </table>
          </td>
          <td class="col-xs-6 text-center" colspan="4">
            <table class="table table-condensed table-bordered table-report" style="width: 100%;">
              {{#each rubricsChargeEnterprise}}
                <tr>
                  <td style="width: 50%;">
                    {{ label }}
                    {{#if ratePercentage}}
                      ({{ ratePercentage }} %)
                    {{/if}}
                  </td>
                  <td style="width: 50%;" class="text-right">
                    {{currency (multiply result ../../payrollPeriod.exchangeRate) ../../payrollPeriod.currency }}
                  </td>
                </tr>
              {{/each}}
              <tr style="text-transform: uppercase;">
                <td> <strong> {{translate 'TABLE.COLUMNS.TOTAL'}} </strong> </td>
                <td class="text-right"><strong> {{currency (multiply somChargeEnterprise ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} </strong></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="col-xs-6 text-right" colspan="4">
            <strong>({{translate 'TABLE.COLUMNS.GROSS_SALARY'}}) - ({{translate "TABLE.COLUMNS.CONTRIBUTION_DEDUCTIONS"}})</strong>
          </td>
          <td class="col-xs-6 text-right" colspan="4">
            <strong> {{currency (multiply gross_salary ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} - 
              {{currency (multiply somChargeEmployee ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }} </strong>
          </td>
        </tr>
        <tr>
          <td class="col-xs-6 text-right" style="vertical-align : 'top'" rowspan="2" colspan="4">
            <strong>{{translate 'TABLE.COLUMNS.NET_SALARY'}}</strong>
          </td>
          <td class="col-xs-6 text-right" colspan="4">
            <strong>
              {{currency (multiply net_salary ../payrollPeriod.exchangeRate) ../payrollPeriod.currency }}
            </strong>
          </td>
        </tr>
        <tr>
          <td class="col-xs-6 text-right" colspan="4">
            <strong>
              {{numberToText (multiply net_salary ../payrollPeriod.exchangeRate) ../lang '.'  }} 
            </strong>
          </td>
        </tr>
        <tr>
          <td class="col-xs-12 text-right" colspan="8">
            <strong>
              <i>
                * {{translate 'EXCHANGE.EXCHANGE_RATES'}} : {{currency ../payrollPeriod.exchangeRate ../payrollPeriod.currency}}
              </i>
            </strong>
          </td>
        </tr>
     </table>
    </div>
  {{/each}}
</body>