<!doctype html>
<html>
{{> head title="TREE.BALANCE"}}

<body>

<main class="container">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-capitalize">
        {{translate 'REPORT.BALANCE'}}
      </h2>

      <h4 class="text-center">
        {{#if period.start_date}}
          <span class="text-capitalize">{{translate "FORM.LABELS.UNTIL_PERIOD"}}</span>
          <strong class="text-capitalize">{{date period.start_date "MMMM YYYY"}}</strong>
        {{/if}}
      </h4>

      <!-- data  -->
      <table class="table table-condensed table-report">
        <thead>
          {{! only shown if we are separating the debit and credit columns }}
          {{#if useSeparateDebitsAndCredits}}
            <tr style="background-color:#ddd;">
              <th class="text-center" rowspan="2" style="vertical-align:middle">
                {{translate "FORM.LABELS.ACCOUNT"}}
              </th>
              <th colspan="2" class="text-center">
                {{translate "BALANCE.OLD_SOLD"}} <br>
                <small class="text-capitalize">&lt; {{date ../period.start_date "MMMM YYYY"}}</small>
              </th>
              <th colspan="2" class="text-center">
                {{translate "BALANCE.MONTH_SOLD"}} <br>
                <small class="text-capitalize">{{date ../period.start_date "MMMM YYYY"}}</small>
              </th>
              <th colspan="2" class="text-center">
                {{translate "BALANCE.NEW_SOLD"}} <br>
                <small class="text-capitalize">&gt; {{date ../period.start_date "MMMM YYYY"}}</small>
              </th>
            </tr>
          {{else}}
            <tr style="background-color:#ddd;">
              <th class="text-center">
                {{translate "FORM.LABELS.ACCOUNT"}}
              </th>
              <th class="text-center">
                {{translate "BALANCE.OLD_SOLD"}} <br>
                <small class="text-capitalize">&lt; {{date ../period.start_date "MMMM YYYY"}}</small>
              </th>
              <th class="text-center">
                {{translate "BALANCE.MONTH_SOLD"}} <br>
                <small class="text-capitalize">{{date ../period.start_date "MMMM YYYY"}}</small>
              </th>
              <th class="text-center">
                {{translate "BALANCE.NEW_SOLD"}} <br>
                <small class="text-capitalize">&gt; {{date ../period.start_date "MMMM YYYY"}}</small>
              </th>
            </tr>
          {{/if}}

          {{! separating debits and credits requires an additional header to name each column }}
          {{#if useSeparateDebitsAndCredits}}
            <tr style="background-color:#ddd;">
              <th class="text-center">{{translate "FORM.LABELS.DEBIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.CREDIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.DEBIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.CREDIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.DEBIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.CREDIT"}}</th>
            </tr>
          {{/if}}
        </thead>
        <tbody>
          {{#each accounts as |account|}}
            <tr class="text-right" {{#if account.isTitleAccount}}style="font-weight:bold;"{{/if}}>
              <td class="text-left">
                <span style="padding-left: calc(10px * {{account.depth}})">{{ account.number }} - {{ account.label }}</span>
              </td>

              {{#if ../useSeparateDebitsAndCredits}}
                {{#if account.before}}
                  {{#gt account.before 0}}
                    <td>{{currency account.before account.currencyId }}</td>
                    <td></td>
                  {{else}}
                    <td></td>
                    <td>{{currency account.before account.currencyId }}</td>
                  {{/gt}}
                {{else}}
                  <td></td>
                  <td></td>
                {{/if}}
              {{else}}
                <td>{{#if account.before}}{{debcred account.before account.currencyId }}{{/if}}</td>
              {{/if}}

              {{#if ../useSeparateDebitsAndCredits}}
                {{#if account.during}}
                  {{#gt account.during 0}}
                    <td>{{currency account.during account.currencyId }}</td>
                    <td></td>
                  {{else}}
                    <td></td>
                    <td>{{currency account.during account.currencyId }}</td>
                  {{/gt}}
                {{else}}
                  <td></td>
                  <td></td>
                {{/if}}
              {{else}}
                <td>{{#if account.during}}{{debcred account.during account.currencyId }}{{/if}}</td>
              {{/if}}

              {{#if ../useSeparateDebitsAndCredits}}
                {{#if account.after}}
                  {{#gt account.after 0}}
                    <td>{{currency account.after account.currencyId }}</td>
                    <td></td>
                  {{else}}
                    <td></td>
                    <td>{{currency account.after account.currencyId }}</td>
                  {{/gt}}
                {{else}}
                  <td></td>
                  <td></td>
                {{/if}}
              {{else}}
                <td>{{#if account.after}}{{debcred account.after account.currencyId }}{{/if}}</td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>

        <tfoot>
          <tr class="text-right" style="background-color: #efefef;">
            <!--
            <th>{{translate "FORM.LABELS.TOTAL"}}</th>
            <td>{{currency totals.beginDebit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.beginCredit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.middleDebit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.middleCredit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.endDebit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.endCredit metadata.enterprise.currency_id }}</td>
            -->
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</main>
</body>
</html>
