<!doctype html>
<html>
{{> head title="TREE.BALANCE"}}

<body>

<main class="container">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-capitalize">
        {{translate 'REPORT.BALANCE'}}
      </h2>

      <h4 class="text-center">
        {{#if period.start_date}}
          <span class="text-capitalize">{{translate "FORM.LABELS.UNTIL_PERIOD"}}</span>
          <strong class="text-capitalize">{{date period.start_date "MMMM YYYY"}}</strong>
        {{/if}}
      </h4>

      <!-- data  -->
      <table class="table table-condensed table-report">
        <thead>
          {{! only shown if we are separating the debit and credit columns }}
          {{#if useSeparateDebitsAndCredits}}
            <tr style="background-color:#ddd;">
              <th class="text-center" rowspan="2" style="vertical-align:middle">
                {{translate "FORM.LABELS.ACCOUNT"}}
              </th>
              <th colspan="2" class="text-center">
                {{translate "BALANCE.OLD_SOLD"}} <br>
                <small class="text-capitalize">&lt; {{date period.start_date "MMMM YYYY"}}</small>
              </th>
              <th colspan="2" class="text-center">
                {{translate "BALANCE.MONTH_SOLD"}} <br>
                <small class="text-capitalize">{{date period.start_date "MMMM YYYY"}}</small>
              </th>
              <th colspan="2" class="text-center">
                {{translate "BALANCE.NEW_SOLD"}} <br>
                <small class="text-capitalize">&gt; {{date period.start_date "MMMM YYYY"}}</small>
              </th>
            </tr>
          {{else}}
            <tr style="background-color:#ddd;">
              <th class="text-center">
                {{translate "FORM.LABELS.ACCOUNT"}}
              </th>
              <th class="text-center">
                {{translate "BALANCE.OLD_SOLD"}} <br>
                <small class="text-capitalize">&lt; {{date period.start_date "MMMM YYYY"}}</small>
              </th>
              <th class="text-center">
                {{translate "BALANCE.MONTH_SOLD"}} <br>
                <small class="text-capitalize">{{date period.start_date "MMMM YYYY"}}</small>
              </th>
              <th class="text-center">
                {{translate "BALANCE.NEW_SOLD"}} <br>
                <small class="text-capitalize">&gt; {{date period.start_date "MMMM YYYY"}}</small>
              </th>
            </tr>
          {{/if}}

          {{! separating debits and credits requires an additional header to name each column }}
          {{#if useSeparateDebitsAndCredits}}
            <tr style="background-color:#ddd;">
              <th class="text-center">{{translate "FORM.LABELS.DEBIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.CREDIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.DEBIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.CREDIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.DEBIT"}}</th>
              <th class="text-center">{{translate "FORM.LABELS.CREDIT"}}</th>
            </tr>
          {{/if}}
        </thead>
        <tbody>
          {{#each accounts as |account|}}
            <tr class="text-right" {{#if account.isTitleAccount}}style="font-weight:bold;"{{/if}}>
              <td class="text-left">
                <span style="padding-left: calc(10px * {{account.depth}})">{{ account.number }} - {{ account.label }}</span>
              </td>

              {{#if ../useSeparateDebitsAndCredits}}
                {{#if account.before.debit }}
                  <td>{{currency account.before.debit account.currencyId }}</td>
                  <td></td>
                 {{else if account.befor.credit }}
                  <td></td>
                  <td>{{currency account.before.credit account.currencyId }}</td>
                  {{else}}
                  <td></td>
                  <td></td>
                {{/if}}
              {{else}}
                <td>{{#if account.before}}{{debcred account.before.amount account.currencyId }}{{/if}}</td>
              {{/if}}

              {{#if ../useSeparateDebitsAndCredits}}
                {{#if account.during.debit }}
                  <td>{{currency account.during.debit account.currencyId }}</td>
                  <td></td>
                 {{else if account.during.credit }}
                  <td></td>
                  <td>{{currency account.during.credit account.currencyId }}</td>
                {{else}}
                  <td></td>
                  <td></td>
                {{/if}}
              {{else}}
                <td>{{#if account.during}}{{debcred account.during.amount account.currencyId }}{{/if}}</td>
              {{/if}}

              {{#if ../useSeparateDebitsAndCredits}}
                {{#if account.after.debit }}
                  <td>{{currency account.after.debit account.currencyId }}</td>
                  <td></td>
                {{else if account.after.credit}}
                  <td></td>
                  <td>{{currency account.after.credit account.currencyId }}</td>
                {{else}}
                  <td></td>
                  <td></td>
                {{/if}}
              {{else}}
                <td>{{#if account.after}}{{debcred account.after.amount account.currencyId }}{{/if}}</td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>

        <tfoot>
          <tr class="text-right" style="background-color: #efefef;">
            <th>{{translate "FORM.LABELS.TOTAL"}}</th>
            {{#if useSeparateDebitsAndCredits}}
              {{#gt totals.before 0}}
                <th class="text-right">{{currency totals.before totals.currencyId }}</th>
                <th class="text-right">{{currency 0 totals.currencyId }}</th>
              {{else}}
                <th class="text-right">{{currency 0 totals.currencyId }}</th>
                <th class="text-right">{{currency totals.before totals.currencyId }}</th>
              {{/gt}}
            {{else}}
              <th class="text-right">{{debcred totals.before totals.currencyId }}</th>
            {{/if}}

            {{#if useSeparateDebitsAndCredits}}
              {{#gt totals.during 0}}
                <th class="text-right">{{currency totals.during totals.currencyId }}</th>
                <th class="text-right">{{currency 0 totals.currencyId }}</th>
              {{else}}
                <th class="text-right">{{currency 0 totals.currencyId }}</th>
                <th class="text-right">{{currency totals.during totals.currencyId }}</th>
              {{/gt}}
            {{else}}
              <th class="text-right">{{debcred totals.during totals.currencyId }}</th>
            {{/if}}


            {{#if useSeparateDebitsAndCredits}}
              {{#gt totals.after 0}}
                <th class="text-right">{{currency totals.after totals.currencyId }}</th>
                <th class="text-right">{{currency 0 totals.currencyId }}</th>
              {{else}}
                <th class="text-right">{{currency 0 totals.currencyId }}</th>
                <th class="text-right">{{currency totals.after totals.currencyId }}</th>
              {{/gt}}
            {{else}}
              <th class="text-right">{{debcred totals.after totals.currencyId }}</th>
            {{/if}}
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</main>
</body>
</html>
