{{> head title="TREE.BALANCE"}}

<body>

  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center">
        <span class="text-capitalize">{{translate 'TREE.BALANCE'}}</span><br>
        <small>
          {{#if session.dateFrom}}{{date session.dateFrom}} - {{date session.dateTo}}{{/if}}
          {{#if session.date}}{{date session.date}}{{/if}}
        </small>
        <small> / {{translate "ACCOUNT.CLASS"}} [{{ session.classe }}] {{translate session.classe_name}}</small>
      </h2>

      <br>

      <!-- data  -->
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th rowspan="2" class="text-center">{{translate "ACCOUNT.NUMBER" }}</th>
            <th rowspan="2" class="text-center">{{translate "FORM.LABELS.ACCOUNT" }}</th>
            <th colspan="2" class="text-center">
              {{translate "BALANCE.OLD_SOLD" }} <br>  
              <small>{{#if session.date}}< {{date session.date "MMMM"}}{{/if}}</small>
              <small>{{#if session.dateTo}}< {{date session.dateTo "MMMM"}}{{/if}}</small>
            </th>
            <th colspan="2" class="text-center">
              {{translate "BALANCE.MONTH_SOLD" }} <br>
              <small>{{#if session.date}}{{date session.date "MMMM"}}{{/if}}</small>
              <small>{{#if session.dateTo}}{{date session.dateTo "MMMM"}}{{/if}}</small>
            </th>
            <th colspan="2" class="text-center">
              {{translate "BALANCE.NEW_SOLD" }} <br>
              <small>{{#if session.date}}{{date session.date}}{{/if}}</small>
              <small>{{#if session.dateTo}}{{date session.dateTo}}{{/if}}</small>
            </th>
          </tr>
          <tr>
            <th class="text-center">{{translate "FORM.LABELS.DEBIT" }}</th>
            <th class="text-center">{{translate "FORM.LABELS.CREDIT" }}</th>
            <th class="text-center">{{translate "FORM.LABELS.DEBIT" }}</th>
            <th class="text-center">{{translate "FORM.LABELS.CREDIT" }}</th>
            <th class="text-center">{{translate "FORM.LABELS.DEBIT" }}</th>
            <th class="text-center">{{translate "FORM.LABELS.CREDIT" }}</th>
          </tr>
        </thead>
        <tbody>
          {{#each accounts as |account $index|}}
          <tr class="text-right">
            <td class="text-left">{{ $index }}</td>
            <td class="text-left"> {{ account.label }}</td>
            <td>{{currency account.beginDebit ../metadata.enterprise.currency_id }}</td>
            <td>{{currency account.beginCredit ../metadata.enterprise.currency_id }}</td>
            <td>{{currency account.middleDebit ../metadata.enterprise.currency_id }}</td>
            <td>{{currency account.middleCredit ../metadata.enterprise.currency_id }}</td>
            <td>{{currency account.endDebit ../metadata.enterprise.currency_id }}</td>
            <td>{{currency account.endCredit ../metadata.enterprise.currency_id }}</td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr class="text-right" style="font-weight: bold; background-color: #efefef;">
            <th colspan="2">{{translate "FORM.LABELS.TOTAL"}}</th>
            <td>{{currency totals.beginDebit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.beginCredit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.middleDebit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.middleCredit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.endDebit metadata.enterprise.currency_id }}</td>
            <td>{{currency totals.endCredit metadata.enterprise.currency_id }}</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</body>
