<style>

  body {
    font-family: sans-serif;
  }
  table.report-table {
    font-size: 10pt;
    margin: auto;
    width: 900px;
    border-collapse: collapse;
    border: 1px solid #d9e1f2; /*for older IE*/
    border-style: hidden;
  }

  table.report-table caption {
    background-color: #d9e1f2;
    font-size: large;
    font-weight: bold;
    letter-spacing: .3em;
    text-transform: uppercase;
  }

  table.report-table thead th {
    padding: 8px;
    background-color: #fde9d9;
    font-size: medium;
  }

  table.report-table th, table.report-table td {
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #d9e1f2 #ccc;
  }

  table.report-table td {
    text-align: right;
  }

  table.report-table td.first {
    text-align: left;
    text-transform: capitalize;
  }

  table.report-table tbody th {
    text-align: left;
    font-weight: normal;
  }

  table.report-table tfoot {
    font-weight: bold;
    font-size: large;
    background-color: #687886;
    color: #fff;
  }

  table.report-table tr {
    background-color: #fff;
  }
  table.report-table tr.delimitter {
    border-bottom: 3px solid #687886;
  }
  table.report-table tr.highlighted {
    font-weight: 800;
    background-color: #e8effd;
  }
  .text-center { text-align: center; }
  .text-left { text-align: left; }
  .p-0 { padding: 0px; margin: 0px; }
  .m-0 { padding: 0px; margin: 0px; }
</style>
<div class="container">

  <h2 class="text-center p-0 m-0">{{translate 'CDR_REPORTING.PEREMPTION_REPORT_TITLE'}}</h2>
  <h3 class="text-center p-0 m-0"><strong>{{ year }}</strong></h3>

  <br>

  <table class="report-table">
    <caption style="background-color: #d9e1f2; border-bottom: 1px solid #333">
      <span>{{translate 'CDR_REPORTING.MONTHLY_PEREMPTION_RATE'}}</span>
    </caption>
    <thead>
      <tr>
        <th class="first">Date</th>
        <th>Volet</th>
        <th>Totals</th>
        {{#each depots as |d|}}
        <th>{{ d.text }}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each vars.periods as |data periodKey|}}
        <tr>
          <td rowspan="3" class="first">{{date periodKey 'MMM YYYY'}}</td>
          <td class="first">Périmés sortis</td>
          <td>{{currency (look ../vars.totalExpiredDistributed periodKey)}}</td>
          {{#each ../depots as |depot|}}
            <td>{{currency (look ../../vars.expiredDistributed periodKey depot.text)}}</td>
          {{/each}}
        </tr>
        <tr>
          {{!-- <td class="first">{{date periodKey}}</td> --}}
          <td class="first">Stocks</td>
          <td>{{currency (look ../vars.totalStockAtPeriod periodKey)}}</td>
          {{#each ../depots as |depot|}}
            <td>{{currency (look ../../vars.stockAtPeriod periodKey depot.text)}}</td>
          {{/each}}
        </tr>
        <tr class="highlighted delimitter">
          {{!-- <td class="first">{{date periodKey}}</td> --}}
          <td class="first">Tx de péremption</td>
          <td>{{percentage (look ../vars.totalRate periodKey) 4}}</td>
          {{#each ../depots as |depot|}}
            <td>{{percentage (look ../../vars.peremptionRate periodKey depot.text) 4}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <br><br>
  
  <table class="report-table">
    <caption style="background-color: #d9e1f2; border-bottom: 1px solid #333">
      <span>{{translate 'CDR_REPORTING.TRIMONTHLY_PEREMPTION_RATE'}}</span>
    </caption>
    <thead>
      <tr>
        <th class="first">Date</th>
        <th>Volet</th>
        <th>Totals</th>
        {{#each depots as |d|}}
        <th>{{ d.text }}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each quarterPeriods as |periodKey|}}
        <tr>
          <td rowspan="3" class="first">{{look ../quarterLabels periodKey}}</td>
          <td class="first">Périmés sortis</td>
          <td>{{currency (look ../quarterVars.totalExpiredDistributed periodKey)}}</td>
          {{#each ../depots as |depot|}}
            <td>{{currency (look ../../quarterVars.expiredDistributed periodKey depot.text)}}</td>
          {{/each}}
        </tr>
        <tr>
          <td class="first">Stocks</td>
          <td>{{currency (look ../quarterVars.rangeTotalStockAtPeriod periodKey)}}</td>
          {{#each ../depots as |depot|}}
            <td>{{currency (look ../../quarterVars.rangeStockAtPeriod periodKey depot.text)}}</td>
          {{/each}}
        </tr>
        <tr class="highlighted delimitter">
          <td class="first">Tx de péremption</td>
          <td>{{percentage (look ../quarterVars.rangeTotalPeremptionRate periodKey) 4}}</td>
          {{#each ../depots as |depot|}}
            <td>{{percentage (look ../../quarterVars.rangePeremptionRate periodKey depot.text) 4}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <br><br>
  
  <table class="report-table">
    <caption style="background-color: #d9e1f2; border-bottom: 1px solid #333">
      <span>{{translate 'CDR_REPORTING.SIXMONTHLY_PEREMPTION_RATE'}}</span>
    </caption>
    <thead>
      <tr>
        <th class="first">Date</th>
        <th>Volet</th>
        <th>Totals</th>
        {{#each depots as |d|}}
        <th>{{ d.text }}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each semestrePeriods as |periodKey|}}
        <tr>
          <td rowspan="3" class="first">{{look ../semestreLabels periodKey}}</td>
          <td class="first">Périmés sortis</td>
          <td>{{currency (look ../semestreVars.totalExpiredDistributed periodKey)}}</td>
          {{#each ../depots as |depot|}}
            <td>{{currency (look ../../semestreVars.expiredDistributed periodKey depot.text)}}</td>
          {{/each}}
        </tr>
        <tr>
          <td class="first">Stocks</td>
          <td>{{currency (look ../semestreVars.rangeTotalStockAtPeriod periodKey)}}</td>
          {{#each ../depots as |depot|}}
            <td>{{currency (look ../../semestreVars.rangeStockAtPeriod periodKey depot.text)}}</td>
          {{/each}}
        </tr>
        <tr class="highlighted delimitter">
          <td class="first">Tx de péremption</td>
          <td>{{percentage (look ../semestreVars.rangeTotalPeremptionRate periodKey) 4}}</td>
          {{#each ../depots as |depot|}}
            <td>{{percentage (look ../../semestreVars.rangePeremptionRate periodKey depot.text) 4}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>


</div>