{{> head title="CASH.TITLE" }}

<div class="container" style="font-size: 0.8em;">

  <!-- this partial requires binding the variable "metadata" -->
  <header class="row">
    <div class="col-xs-6">
      <div><i class="fa fa-home"></i> {{enterprise.name}}</div>
      <address style="margin-bottom: 0px;">
         <i class="fa fa-map-marker"></i> {{enterprise.location}}
      </address>
      <div><i class="fa fa-envelope-o"></i> {{enterprise.email}}</div>
      <div><i class="fa fa-phone"></i> {{enterprise.phone}}</div>
      <div><i class="fa fa-user"></i> {{translate "REPORT.PRODUCED_BY"}} {{user.display_name}}</div>
    </div>

    <div class="col-xs-6 text-right">
      <b>{{patient.display_name}} [{{patient.reference}}] </b> <br />
      <i class="fa fa-h-square"></i> {{patient.hospital_no}} <br />
      <i class="fa fa-users"></i> {{patient.debtor_group_name}} <br />
      <i class="fa fa-calendar-o"></i> {{date payment.date}}
      {{#if hasRate}}
        <br />
        <i class="fa fa-balance-scale"></i> {{currency rate payment.currency_id}}
      {{/if}}
    </div>
  </header>

  <!-- cash payment header -->
  <h4 class="text-center">
     {{payment.reference}} - {{translate "CASH.RECEIPT.TITLE"}}
  </h4>

  <!-- list of items paid -->
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{translate "FORM.LABELS.INVOICE"}}</th>
        <th class="text-right">{{translate "FORM.LABELS.AMOUNT"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each payment.items as |item| }}
        <tr>
          <td>{{item.reference}}</td>
          <td class="text-right">{{currency item.amount ../payment.currency_id}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>{{translate "FORM.LABELS.TOTAL"}}</th>
        <th class="text-right">{{currency payment.amount payment.currency_id}}</th>
      </tr>
    </tfoot>
  </table>

  <div class="row">
    <div class="col-xs-5">
      {{translate "FORM.LABELS.CASHIER"}} <br />
      <br />
      <hr/>
    </div>
    <div class="col-xs-offset-2 col-xs-5">
      {{translate "FORM.LABELS.CLIENT"}} <br />
      <br />
      <hr/>
    </div>
  </div>
</div>
