{{> head title="PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE" }}

<body>

  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE"}}</strong></h3>
  <h4 class="text-center"><strong>{{ patient.reference }} | {{ patient.display_name }}</strong></h4>
  <h4 class="text-center"><strong>{{ patient.debtor_group_name }} ({{ patient.number }})</strong></h4>

  <section>
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;" >
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 10%;">{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.AMOUNT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td class="text-right">{{this.document}}</td>
            <td class="text-right">{{this.trans_id}}</td>
            <td style="max-width : 200px; white-space : nowrap; overflow : hidden; text-overflow : ellipsis;">{{this.description}}</td>
            <td class="text-right {{#if this.credit}}text-danger{{/if}}">
              {{#if this.credit}}
                ({{currency this.credit ../metadata.enterprise.currency_id}})
              {{else}}
                {{currency this.debit ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
            <td class="text-right">{{currency this.cumsum ../metadata.enterprise.currency_id}} </td>
          </tr>
        {{else}}
          {{>emptyTable columns=5}}
        {{/each}}
      </tbody>
      <tfoot style="background-color: #ddd;">
        <tr>
          <th colspan="5" class="text-right">{{translate "FORM.LABELS.TOTAL_BILLED" }}</th>
          <th class="text-right">
            <span>{{currency aggregates.debit metadata.enterprise.currency_id}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="5" class="text-right">{{translate "FORM.LABELS.TOTAL_PAID" }}</th>
          <th class="text-right">
            <span class="text-danger">({{currency aggregates.credit metadata.enterprise.currency_id}})</span>
          </th>
        </tr>
        <tr>
          <th colspan="5" class="text-right">
            {{translate "FORM.LABELS.TOTAL_BALANCE_REMAINING" }}
          </th>
          <th class="text-right">
            {{#unless aggregates.hasDebitBalance }}
              <span class="text-danger">
                ({{currency aggregates.balance metadata.enterprise.currency_id}})
              </span>
            {{else}}
              {{currency aggregates.balance metadata.enterprise.currency_id}}
            {{/unless}}
          </th>
        </tr>
      </tfoot>
    </table>
  </section>
</body>
