{{> head title="PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE" }}

<body>
  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE"}}</strong></h3>
  <h4 class="text-center"><strong>{{ patient.reference }} | {{ patient.display_name }}</strong></h4>
  <h4 class="text-center"><strong>{{ patient.debtor_group_name }} ({{ patient.number }})</strong></h4>

  <section>
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;">
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 10%;">{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.AMOUNT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          {{#if isChangeGroup}}
            <tr>
              <td>{{date created_at }}</td>
              <th colspan="4" class="text-center">{{group_prev}} &#8594; {{group_next}} <th>
            </tr>
          {{else}}
            <tr>
              <td>{{date this.trans_date}}</td>
              <td class="text-right" title="{{this.document}}">{{this.document}}</td>
              <td class="text-right" title="{{this.trans_id}}">{{this.trans_id}}</td>
              <td style="max-width : 200px; white-space : nowrap; overflow : hidden; text-overflow : ellipsis;" title="{{this.description}}">{{this.description}}</td>
              <td class="text-right">
                {{debcred this.balance ../metadata.enterprise.currency_id}}
              </td>
              <td class="text-right">
                {{debcred this.cumsum ../metadata.enterprise.currency_id}}
              </td>
            </tr>
          {{/if}}
        {{else}}
          {{>emptyTable columns=5}}
        {{/each}}
      </tbody>
      <tfoot style="background-color: #ddd;">
        <tr>
          <th colspan="5" class="text-right">{{translate "FORM.LABELS.TOTAL_BILLED" }}</th>
          <th class="text-right">
            <span>{{currency aggregates.debit metadata.enterprise.currency_id}}</span>
          </th>
        </tr>
        <tr>
          <th colspan="5" class="text-right">{{translate "FORM.LABELS.TOTAL_PAID" }}</th>
          <th class="text-right">
            <span class="text-danger">({{currency aggregates.credit metadata.enterprise.currency_id}})</span>
          </th>
        </tr>
        <tr>
          <th colspan="5" class="text-right">
            {{translate aggregates.balanceText}}
          </th>
          <th class="text-right">
            {{debcred aggregates.balance metadata.enterprise.currency_id}}
          </th>
        </tr>
      </tfoot>
    </table>

    {{#if includeStockDistributed }}
      <br />
      <table class="table table-condensed table-bordered table-report">
        <thead>
          <tr>
            <th class="text-uppercase text-center text-bold" style="background-color: #ddd;" colspan="8">
              {{translate "PATIENT_RECORDS.STOCK_MOVEMENTS_TO_PATIENT" }}
            </th>
          </tr>
        </thead>
        {{#each stockMovement}}
          <tbody style="padding-bottom: 2px;">
            <tr style="background-color: #eee;">
              <td
                class="text-uppercase"
                colspan="{{#if invoiceReference}}6{{else}}8{{/if}}">
                <strong>
                  ({{ add @index 1 }}): {{ hrReference }}  | {{timestamp date}}
                </strong>
              </td>

              {{#if invoiceReference}}
                <th colspan=2 class="text-right">{{invoiceReference}}</th>
              {{/if}}
            </tr>
            <tr class="text-capitalize text-bold" style="background-color: #efefef;">
              <td class="text-center" colspan=2 style="width: 4%;">{{translate "FORM.LABELS.NR" }}</td>
              <td>{{translate "FORM.LABELS.INVENTORY" }} </td>
              <td>{{translate "FORM.LABELS.UNIT" }} </td>
              <td>{{translate "FORM.LABELS.LOT" }} </td>
              <td>{{translate "FORM.LABELS.QUANTITY" }} </td>
              <td>{{translate "FORM.LABELS.UNIT_PRICE" }} </td>
              <td>{{translate "FORM.LABELS.TOTAL" }} </td>
            </tr>
              {{#each consumed}}
                <tr>
                  <td colspan=2 class="text-center">{{ add @index 1 }}</td>
                  <td>{{ inventory_text }}</td>
                  <td>{{ inventoryUnit }}</td>
                  <td>{{ lotLabel }}</td>
                  <td class="text-right"> {{ quantity }} </td>
                  <td class="text-right"> {{ currency unit_cost ../../metadata.enterprise.currency_id }} </td>
                  <td class="text-right"> {{ debcred  total ../../metadata.enterprise.currency_id }} </td>
                </tr>
              {{/each}}
              <tr class="text-right text-bold">
                <td colspan="7"> {{translate "FORM.LABELS.TOTAL" }} </td>
                <td>{{ debcred value ../metadata.enterprise.currency_id }} </td>
              </tr>

              <!-- dummy row to make offset padding -->
              <tr style="border: 0;"><td colspan="8" style="border:0;"></td></tr>
            </tbody>
          {{else}}
            <tbody>
              {{>emptyTable columns=8}}
            </tbody>
          {{/each}}
          <tfoot>
            <tr style="background-color: #ddd;" class="text-uppercase">
              <th class="text-right" colspan="7">
                {{translate "REPORT.PATIENT_STANDING.TOTAL_ALL_STOCK_MOV" }}
              </th>
              <th class="text-right">
               {{ debcred totalAllMovement metadata.enterprise.currency_id }}
              </th>
            </tr>
          </tfoot>
      </table>
    {{/if}}
  </section>
</body>
