{{> head title="REPORT.EMPLOYEE_STANDING.REPORT" }}

<body>

  {{> header }}

  <h3 class="text-center text-uppercase">
    <span style="text-decoration-line: underline">
      <b> {{translate "REPORT.EMPLOYEE_STANDING.REPORT"}} </b>
    </span>
  </h3>
  <h4> {{translate "FORM.LABELS.EMPLOYEE_NAME"}} : <b class="text-uppercase">{{ employee.display_name }}</b></h4>
  <h4>{{translate "FORM.LABELS.REFERENCE"}} : <b class="text-uppercase"></b>{{ employee.reference }}</b></h4>
  <h5>{{translate "FORM.LABELS.REGISTRATION_NUMBER"}} : <b class="text-uppercase"></b>{{ employee.code }}</b></h5>
  <h4 class="text-uppercase" style="background-color: #efefef;">
    <b>
      {{translate balanceCreditorText}} = {{debcred ./creditorAggregates.balance metadata.enterprise.currency_id}}
    </b>
  </h4>
  {{#if includeMedicalCare }}
    <h5 class="text-uppercase" style="background-color: #efefef;">
      <em>
        {{translate "TABLE.COLUMNS.TOTAL_MEDICAL_CARE_EMPLOYEE"}} = {{debcred ./debtorAggregates.balance metadata.enterprise.currency_id}}
      </em>
    </h5>
  {{/if}}
  <hr/>

  <section>
    {{#if includeMedicalCare }}
      <h4>{{translate 'CREDITOR_GROUP.CREDITOR.TRANSACTIONS'}}</h4>
    {{/if}}
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;" >
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 10%;">{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#if extractEmployee}}
          <tr>
            <td colspan="4" class="text-right"><b>{{translate "TABLE.COLUMNS.BALANCE_AT" }} {{date dates.dateFrom }} </b></td>
            <td class="text-right">
              {{debcred creditorOpeningBalance.debit metadata.enterprise.currency_id}}
            </td>
            <td class="text-right">
              {{debcred creditorOpeningBalance.credit metadata.enterprise.currency_id}}
            </td>
            <td class="text-right">
              <span> {{debcred creditorOpeningBalance.balance metadata.enterprise.currency_id}} </span>
            </td>
          </tr>
        {{/if}}

        {{#each creditorTransactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td class="text-right" title="{{this.document}}">{{this.document}}</td>
            <td class="text-right" title="{{this.trans_id}}">{{this.trans_id}}</td>
            <td class="text-uppercase" style="max-width : 200px; white-space : nowrap; overflow : hidden; text-overflow : ellipsis;" title="{{this.description}}">{{this.description}}</td>
            <td class="text-right">
              {{currency this.debit ../metadata.enterprise.currency_id}}
            </td>
            <td class="text-right">
              {{currency this.credit ../metadata.enterprise.currency_id}}
            </td>
            <td class="text-right">
              {{debcred this.cumsum ../metadata.enterprise.currency_id}}
            </td>
          </tr>
        {{else}}
          {{>emptyTable columns=7}}
        {{/each}}
      </tbody>
      <tfoot style="background-color: #ddd;">
        {{#if employeeStandingReport}}
        <tr>
          <td colspan="4" class="text-right"><b>{{translate "FORM.LABELS.TOTAL" }}</b></th>
          <th class="text-right">
            <span>{{currency creditorAggregates.debit metadata.enterprise.currency_id}}</span>
          </th>
          <th class="text-right">
            <span>{{currency creditorAggregates.credit metadata.enterprise.currency_id}}</span>
          </th>
          <th class="text-right">
            <span>{{currency creditorAggregates.balance metadata.enterprise.currency_id}}</span>
          </th>
        </tr>
        {{/if}}
        {{#if extractEmployee}}
        <tr>
          <td colspan="6" class="text-right"><b>{{translate "FORM.LABELS.EXTRACT_EMPLOYEE_STANDING" }} ({{date dates.dateFrom }} - {{date dates.dateTo }}) </b></th>
          <th class="text-right">
            <span><em>{{translate  extratCreditorText }}</em> : {{debcred lastTransaction.cumsum metadata.enterprise.currency_id}} </span>
          </th>
        </tr>
        {{/if}}
      </tfoot>
    </table>
    {{#if includeMedicalCare }}
    <br/>
    <h4>{{translate 'DEBTOR_GROUP.DEBTOR.TRANSACTIONS'}}</h4>
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;" >
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 10%;">{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each debtorTransactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td class="text-right" title="{{this.document}}">{{this.document}}</td>
            <td class="text-right" title="{{this.trans_id}}">{{this.trans_id}}</td>
            <td class="text-uppercase" style="max-width : 200px; white-space : nowrap; overflow : hidden; text-overflow : ellipsis;" title="{{this.description}}">{{this.description}}</td>
            <td class="text-right">
              {{currency this.debit ../metadata.enterprise.currency_id}}
            </td>
            <td class="text-right">
              {{currency this.credit ../metadata.enterprise.currency_id}}
            </td>
            <td class="text-right">
              {{debcred this.cumsum ../metadata.enterprise.currency_id}}
            </td>
          </tr>
        {{else}}
          {{>emptyTable columns=7}}
        {{/each}}
      </tbody>
      <tfoot style="background-color: #ddd;">
        <tr>
          <td colspan="4" class="text-right"><b>{{translate "FORM.LABELS.TOTAL" }}</b></th>
          <th class="text-right">
            <span>{{currency debtorAggregates.debit metadata.enterprise.currency_id}}</span>
          </th>
          <th class="text-right">
            <span>{{currency debtorAggregates.credit metadata.enterprise.currency_id}}</span>
          </th>
          <th class="text-right">
            <span>{{currency debtorAggregates.balance metadata.enterprise.currency_id}}</span>
          </th>
        </tr>
      </tfoot>
    </table>
    {{/if}}
  </section>

</body>
