{{> head title="PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE" }}

<body>

  {{> header }}

  <h3 class="text-center">{{translate "PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE"}}</h3>
  <h4 class="text-center">{{ debtor.display_name }}</h4>
  <h4 class="text-center">{{translate "PATIENT_RECORDS.FINANCIAL_ACTIVITY.DEBTOR_GROUP"}} : {{ debtor.debtor_group_name }} </h4>
  <h4 class="text-center">{{translate "PATIENT_RECORDS.FINANCIAL_ACTIVITY.ACCOUNT"}} : {{ debtor.number }} </h4>

  <section>
    <table class="table table-condensed table-striped table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ccc;" >
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.INVOICE_ID" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.TRANSACTION_ID" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 35%;">{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each patients}}
          <tr>
            <td class="text-right">{{this.reference}}</td>
            <td class="text-right">{{this.trans_id}}</td>
            <td>{{date this.date}}</td>
            <td>{{this.description}}</td>
            <td class="text-right">{{currency this.debit ../metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{currency this.credit ../metadata.enterprise.currency_id}}</td>
          </tr>
        {{else}}
          {{>emptyTable columns=6}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="background-color: #ededed;">
          <th colspan="4">{{translate "FORM.LABELS.TOTAL" }}</th>
          <th class="text-right">{{currency sum.debit metadata.enterprise.currency_id}}</th>
          <th class="text-right">{{currency sum.credit metadata.enterprise.currency_id}}</th>
        </tr>
        <tr style="background-color: #ededed;">
          <th colspan="6" class="text-right">{{translate "FORM.LABELS.BALANCE" }} {{currency sum.balance metadata.enterprise.currency_id}}</th>
        </tr>
      </tfoot>
    </table>
  </section>
</body>
