{{> head }}

<body>

  {{#> header }}
    <h4 class="text-right">{{translate "FORM.LABELS.EMPLOYEE_NAME"}} : <b class="text-uppercase">{{ employee.display_name }}</b></h4>
    <h4 class="text-right">{{translate "FORM.LABELS.REFERENCE"}} : <b class="text-uppercase"></b>{{ employee.reference }}</b></h4>
    <h5 class="text-right">{{translate "FORM.LABELS.REGISTRATION_NUMBER"}} : <b class="text-uppercase"></b>{{ employee.code }}</b></h5>
  {{/header}}

  <h4 class="text-center text-uppercase" style="background-color: #efefef; margin-bottom: 1em;">
    <b>
      {{translate balanceCreditorText}} = {{debcred (multiply ./creditorAggregates.balance exchangeRate) currencyId}}
    </b>
  </h4>

  {{> exchangeRate rate=exchangeRate currencyId=currencyId date=dateExchangeRate}}

  {{#if includeMedicalCare }}
    <h5 class="text-uppercase" style="background-color: #efefef;">
      <em>
        {{translate "TABLE.COLUMNS.TOTAL_MEDICAL_CARE_EMPLOYEE"}} = {{debcred (multiply ./debtorAggregates.balance exchangeRate) currencyId}}
      </em>
    </h5>
  <hr/>
  {{/if}}

  <section>
    {{#if includeMedicalCare }}
      <h4>{{translate 'CREDITOR_GROUP.CREDITOR.TRANSACTIONS'}}</h4>
    {{/if}}
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;" >
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 10%;">{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#if limitTimeInterval}}
          <tr>
            <td colspan="4" class="text-right"><b>{{translate "TABLE.COLUMNS.BALANCE_AT" }} {{date dates.dateFrom }} </b></td>
            <td class="text-right">
              {{debcred (multiply creditorOpeningBalance.debit exchangeRate) currencyId}}
            </td>
            <td class="text-right">
              {{debcred (multiply creditorOpeningBalance.credit exchangeRate) currencyId}}
            </td>
            <td class="text-right">
              <span> {{debcred (multiply creditorOpeningBalance.balance exchangeRate) currencyId}} </span>
            </td>
          </tr>
        {{/if}}

        {{#each creditorTransactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td class="text-right" title="{{this.document}}">{{this.document}}</td>
            <td class="text-right" title="{{this.trans_id}}">{{this.trans_id}}</td>
            <td class="text-uppercase" style="max-width : 200px; white-space : nowrap; overflow : hidden; text-overflow : ellipsis;" title="{{this.description}}">{{this.description}}</td>
            <td class="text-right">
              {{currency (multiply this.debit ../exchangeRate) ../currencyId}}
            </td>
            <td class="text-right">
              {{currency (multiply this.credit ../exchangeRate) ../currencyId}}
            </td>
            <td class="text-right">
              {{debcred (multiply this.cumsum ../exchangeRate) ../currencyId}}
            </td>
          </tr>
        {{else}}
          {{>emptyTable columns=7}}
        {{/each}}
      </tbody>
      <tfoot style="background-color: #ddd;">
        {{#if employeeStandingReport}}
        <tr>
          <td colspan="4" class="text-right"><b>{{translate "FORM.LABELS.TOTAL" }}</b></th>
          <th class="text-right">
            <span>{{currency (multiply creditorAggregates.debit exchangeRate) currencyId}}</span>
          </th>
          <th class="text-right">
            <span>{{currency (multiply creditorAggregates.credit exchangeRate) currencyId}}</span>
          </th>
          <th class="text-right">
            <span>{{debcred (multiply creditorAggregates.balance exchangeRate) currencyId}}</span>
          </th>
        </tr>
        {{/if}}
        {{#if limitTimeInterval}}
        <tr>
          <td colspan="6" class="text-right"><b>{{translate "FORM.LABELS.EXTRACT_EMPLOYEE_STANDING" }} ({{date dates.dateFrom }} - {{date dates.dateTo }}) </b></th>
          <th class="text-right">
            <span><em>{{translate  extratCreditorText }}</em> : {{debcred (multiply lastTransaction.cumsum exchangeRate) currencyId}} </span>
          </th>
        </tr>
        {{/if}}
      </tfoot>
    </table>
    {{#if includeMedicalCare }}
    <br/>
    <h4>{{translate 'DEBTOR_GROUP.DEBTOR.TRANSACTIONS'}}</h4>
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;" >
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 10%;">{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th style="width: 5%;">{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
          <th style="width: 15%;" class="text-center">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each debtorTransactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td class="text-right" title="{{this.document}}">{{this.document}}</td>
            <td class="text-right" title="{{this.trans_id}}">{{this.trans_id}}</td>
            <td class="text-uppercase" style="max-width : 200px; white-space : nowrap; overflow : hidden; text-overflow : ellipsis;" title="{{this.description}}">{{this.description}}</td>
            <td class="text-right">
              {{currency (multiply this.debit ../exchangeRate) ../currencyId}}
            </td>
            <td class="text-right">
              {{currency (multiply this.credit ../exchangeRate) ../currencyId}}
            </td>
            <td class="text-right">
              {{debcred (multiply this.cumsum ../exchangeRate) ../currencyId}}
            </td>
          </tr>
        {{else}}
          {{>emptyTable columns=7}}
        {{/each}}
      </tbody>
      <tfoot style="background-color: #ddd;">
        <tr>
          <td colspan="4" class="text-right"><b>{{translate "FORM.LABELS.TOTAL" }}</b></th>
          <th class="text-right">
            <span>{{currency (multiply debtorAggregates.debit exchangeRate) currencyId}}</span>
          </th>
          <th class="text-right">
            <span>{{currency (multiply debtorAggregates.credit exchangeRate) currencyId}}</span>
          </th>
          <th class="text-right">
            <span>{{debcred (multiply debtorAggregates.balance exchangeRate) currencyId}}</span>
          </th>
        </tr>
      </tfoot>
    </table>
    {{/if}}
  </section>
</body>
