<head>
  <title>{{translate "TREE.PATIENT_INVOICE"}} {{reference}}</title>
  <link href="{{absolutePath}}/css/bhima-bootstrap.css" rel="stylesheet">
</head>

<div class="container-fluid">

  <!-- header  -->
  <div class="row">
    <!-- enterprise  -->
    <div class="col-xs-6">
      <h3 style="margin:2px;">{{ enterprise.name }} ({{ enterprise.abbr}})</h3>
      <span>{{translate 'FORM.LABELS.PHONE'}}: {{ enterprise.phone }}</span><br>
      <span>{{translate 'FORM.LABELS.EMAIL'}}: {{ enterprise.email }}</span><br>
    </div>

    <!-- invoice  -->
    <div class="col-xs-3 col-xs-offset-3">
      <div class="text-right" style="border:1px solid #ccc; padding-right: 10px;">
        <h2 style="margin:2px;">{{translate "TREE.PATIENT_INVOICE"}}</h2>
        <h3 style="margin:2px;">{{recipient.first_name}} {{recipient.middle_name}} {{recipient.last_name}}</h3>
        <p>{{translate "TABLE.COLUMNS.TRANSACTION_ID"}} : {{reference}}</p>
      </div>
    </div>
  </div>

  <!-- invoice  -->
  <h4>
    <span style="border-radius: 100%; background-color: #ccc; display:inline-block; padding: 5px;">1</span>
    {{translate 'FORM.LABELS.INVOICE'}}
  </h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{translate 'TABLE.COLUMNS.DATE'}}</th>
        <th>{{translate 'FORM.LABELS.CLIENT'}}</th>
        <th>{{translate 'TABLE.COLUMNS.DESCRIPTION'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.AMOUNT'}}</th>
        <th>{{translate 'TABLE.COLUMNS.BY'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{date date}}</td>
        <td>{{debtor_name}}</td>
        <td>{{description}}</td>
        <td class="text-right">{{currency cost}}</td>
        <td>{{responsible}}</td>
      </tr>
    </tbody>
  </table>

  <!-- invoice details  -->
  <h4>
    <span style="border-radius: 100%; background-color: #ccc; display:inline-block; padding: 5px;">2</span>
    {{translate 'FORM.LABELS.INVOICES_DETAILS'}}
  </h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{translate 'TABLE.COLUMNS.CODE'}}</th>
        <th>{{translate 'TABLE.COLUMNS.DESCRIPTION'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.UNIT_PRICE'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.QUANTITY'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td>{{this.code}}</td>
        <td>{{this.text}}</td>
        <td class="text-right">{{currency this.transaction_price}}</td>
        <td class="text-right">{{quantity}}</td>
        <td class="text-right">{{currency (multiply this.transaction_price quantity)}}</td>
      </tr>
      {{/each}}
      <tr>
        <td colspan="4" class="text-right">{{translate 'TABLE.COLUMNS.TOTAL'}}</td>
        <td class="text-right">{{currency (sum items 'transaction_price' 'quantity')}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-xs-5 col-xs-offset-7" >
      <!-- billing service  -->
      <h4>
        <u>{{translate 'FORM.LABELS.BILLING_SERVICES'}}</u> :
      </h4>
      <ul style="list-style: none; ">
        {{#each billing}}
        <li>
          + ({{this.label}} {{this.billing_value}}%
          {{translate 'FORM.LABELS.OF'}}
          {{currency (sum ../items 'transaction_price' 'quantity')}})= {{currency this.value}}
        </li>
        {{/each}}
      </ul>

      <br>

      <!-- subsidies  -->
      <h4>
        <u>{{translate 'FORM.LABELS.SUBSIDIES'}}</u> ({{subsidy.length}}) : -{{currency (sum subsidy 'value')}}
      </h4>

      <hr>

      <h1>{{translate 'FORM.LABELS.TOTAL'}} : {{currency cost}}</h1>
    </div>
  </div>

</div>
