<link href="{{absolutePath}}/css/bhima-bootstrap.css" rel="stylesheet">

<div class="container-fluid">
  <!-- header  -->
  <div class="row">
    <div class="col-xs-4">
      <h3 style="margin:2px;">{{ model.enterprise.name }} ({{ model.enterprise.abbr}})</h3>
      <span>{{translate 'FORM.LABELS.PHONE'}}: {{ model.enterprise.phone }}</span><br>
      <span>{{translate 'FORM.LABELS.EMAIL'}}: {{ model.enterprise.email }}</span><br>
    </div>
    <div class="col-xs-4">
      &nbsp;
    </div>
    <div class="col-xs-4 text-right">
      <small>{{ model.project.name}} ({{ model.project.abbr }})</small>
    </div>
  </div>

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h1 style="margin:15px; font-weight:bold" class="text-center">
        {{uppercase (translate 'VOUCHERS.GLOBAL.REPORT') }}<br>
        <small>
          {{#if  model.resolve.dateFrom }} {{date model.resolve.dateFrom }} {{/if}} -
          {{#if  model.resolve.dateTo }} {{date model.resolve.dateTo }} {{/if}}
        </small>
      </h1>

      <!-- list of data  -->
      <!-- voucher info  -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{translate 'FORM.LABELS.REFERENCE'}}</th>
            <th>{{translate 'FORM.LABELS.DATE'}}</th>
            <th>{{translate 'FORM.LABELS.DESCRIPTION'}}</th>
            <th class="text-right">{{translate 'FORM.LABELS.AMOUNT'}}</th>
            <th>{{translate 'FORM.LABELS.BY'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.data }}
            {{#if debit}}
              <tr>
                <td>{{ reference }}</td>
                <td>{{date date }}</td>
                <td>{{ description }}</td>
                <td class="text-right">{{currency amount }}</td>
                <td>{{ user }}</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>

</div>
