{{> head title="VOUCHERS.GLOBAL.REPORT"}}

<div class="container">

  <!-- header  -->
  <div class="row">
    <div class="col-xs-4">
      <h3 style="margin:2px;">{{model.enterprise.name}} ({{model.enterprise.abbr}})</h3>
      <span>{{translate 'FORM.LABELS.PHONE'}}: {{model.enterprise.phone}}</span><br>
      <span>{{translate 'FORM.LABELS.EMAIL'}}: {{model.enterprise.email}}</span><br>
    </div>
    <div class="col-xs-offset-4 col-xs-4 text-right">
      <small>{{model.project.name}} ({{model.project.abbr}})</small>
    </div>
  </div>

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{translate 'VOUCHERS.GLOBAL.REPORT'}}<br>
        <small>
          {{#if model.data.dateFrom}} {{date model.data.dateFrom}} - {{/if}}
          {{#if model.data.dateTo}} {{date model.data.dateTo}} {{/if}}
        </small>
      </h2>

      <!-- list of data  -->
      <!-- voucher info  -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{translate 'FORM.LABELS.REFERENCE'}}</th>
            <th>{{translate 'FORM.LABELS.DATE'}}</th>
            <th>{{translate 'FORM.LABELS.DESCRIPTION'}}</th>
            <th class="text-right">{{translate 'FORM.LABELS.AMOUNT'}}</th>
            <th>{{translate 'FORM.LABELS.BY'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.data.rows}}
            <tr>
              <td>{{reference}}</td>
              <td>{{date date}}</td>
              <td>{{description}}</td>
              <td class="text-right">{{currency amount}}</td>
              <td>{{user}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
