{{> head title="REPORT.INVENTORY_CHANGE.TITLE"}}

<body>
  <!-- header  -->
 {{> header}}

  <h2 class="text-center">
    {{ translate 'REPORT.INVENTORY_CHANGE.TITLE' }}
  </h2>
  <h3 class="text-center">
    {{date dateFrom }} - {{date dateTo}}
  </h3>

  <table class="table table-report table-condensed">
    <thead>
      <tr style="background-color: #CCCCCC;">
        <th>{{translate "FORM.LABELS.DATE"}}</th>
        <th>{{translate "FORM.LABELS.USER"}}</th>
        <th>{{translate "FORM.LABELS.LABEL"}}</th>
        <th>{{translate "INVENTORY.PREVIOUS_VALUE"}}</th>
        <th>{{translate "INVENTORY.UPDATED_VALUE"}}</th>
        <th>{{translate "INVENTORY.NUM_CHANGES"}}</th>
      </tr>
    </thead>

    {{#each ./inventories as | inventory |}}
      <tbody>
        <tr style="background-color: #EEEEEE;">
          <th colspan="5">
            {{inventory.group_name}} <span>&#x7c;</span> {{inventory.code}} - {{inventory.label}}
          </th>
          <th colspan="1" class="text-right">
            {{#if inventory.logs.length}}
            {{inventory.logs.length}}
            {{else}}
            {{translate "INVENTORY.NONE"}}
            {{/if}}
          </th>
        </tr>

        {{#each inventory.logs as | log |}}
          <tr>
            <td>{{timestamp log.date}}</td>
            <td>{{log.userName}}</td>
            <td>{{translate log.col}}</td>
            <td class="text-right">
              {{#if log.is_unit_price}}
              {{currency log.value.from ../../currencyId 4}}
              {{else}}
              {{ log.value.from }}
              {{/if}}
            </td>
            <td class="text-right">
              {{#if log.is_unit_price}}
              {{currency log.value.to ../../currencyId 4}}
              {{else}}
              {{ log.value.to }}
              {{/if}}
            </td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    {{else}}
      <tbody>
        {{> emptyTable columns=6 }}
      </tbody>
    {{/each}}
  </table>


  <br />

  <table style="max-width:50%" class="table table-condensed table-report">
    <thead>
      <tr>
        <th>{{translate "FORM.LABELS.USER"}}</th>
        <th>{{translate "INVENTORY.CHANGES"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each userChanges as | row |}}
        <tr>
          <td>{{row.user}}</td>
          <td class="text-right">{{row.numberOfChanges}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</body>
