{{> head title="INVENTORY.LIST"}}

<body>
  <div class="container">
    {{> header title='FORM.LABELS.INVENTORY' }}

    <!-- body  -->
    <div class="row">
      <div class="col-xs-12">

        <!-- list of data  -->
        <table class="table table-condensed table-bordered table-striped">
          <thead>
            <tr>
              <th>{{translate 'FORM.LABELS.CODE'}}</th>
              <th>{{translate 'FORM.LABELS.LABEL'}}</th>
              <th class+"text-center">{{translate 'FORM.LABELS.PRICE'}}</th>
              <th>{{translate 'FORM.LABELS.UNIT'}}</th>
              <th>{{translate 'FORM.LABELS.TYPE'}}</th>
              <th>{{translate 'FORM.LABELS.GROUP'}}</th>
              <th>{{translate 'FORM.LABELS.UNIT_WEIGHT'}}</th>
              <th>{{translate 'FORM.LABELS.UNIT_VOLUME'}}</th>
              <th>{{translate 'FORM.LABELS.CONSUMABLE'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each rows}}
              <tr>
                <td title="{{code}}">{{code}}</td>
                <td title="{{label}}">{{label}}</td>
                <td class="text-right">{{currency price ../metadata.enterprise.currency_id }}</td>
                <td>{{unit}}</td>
                <td>{{type}}</td>
                <td>{{groupName}}</td>
                <td class="text-right">{{unit_weight}}</td>
                <td class="text-right">{{unit_volume}}</td>
                <td>
                  {{#if consumable}}
                    <i class="fa fa-check-circle-o"></i>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
