{{> head title="PURCHASES.RECEIPT.TITLE"}}

<div class="container" style="font-size: 0.9em;">
  <header>
    <div class="row">
      {{> enterpriseDetails }}

      <div class="col-xs-5 text-right">
        <h3 class="text-uppercase" style="margin: 0px;">
          {{translate "PURCHASES.RECEIPT.TITLE" }} <br />
          <strong>{{purchase.reference}}</strong> <br>
        </h3>

        <div>
          {{translate "REPORT.PRODUCED_ON"}} <time datetime="{{metadata.timestamp}}">{{date metadata.timestamp}}</time>
          {{translate "REPORT.BY"}} {{metadata.user.display_name}}
        </div>

        {{#if metadata.enterprise.settings.enable_barcodes}}
          <small>{{> barcode value=purchase.barcode}}</small>
          <br>
        {{/if}}
      </div>
    </div>
  </header>

  <!-- page title  -->

  <!-- order details -->
  <div class="row" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;">
    <div class="col-xs-6">
      <span class="text-capitalize">{{translate "FORM.LABELS.SUPPLIER"}}</span>: <strong>{{purchase.supplier}}</strong> <br>
      <span class="text-capitalize">{{translate "FORM.LABELS.DATE"}}</span>: {{date purchase.date}} <br>
      <span class="text-capitalize">{{translate "FORM.LABELS.REFERENCE"}}</span>: {{purchase.reference}} <br>
      <span>{{translate "FORM.LABELS.NOTES"}}</span>: <strong>{{purchase.note}}</strong> <br>
      <span class="text-capitalize">{{translate 'TABLE.COLUMNS.RESPONSIBLE'}}</span>: <strong>{{purchase.author}}</strong>
    </div>
  </div>

  <table class="table table-condensed table-report">
    <thead>
      <th>{{translate "FORM.LABELS.CODE" }}</th>
      <th>{{translate "FORM.LABELS.INVENTORY_ITEM" }}</th>
      <th>{{translate "FORM.LABELS.TYPE" }}</th>
      <th>{{translate "FORM.LABELS.QUANTITY" }}</th>
      <th>{{translate "FORM.LABELS.UNIT_PRICE" }}</th>
      <th>{{translate "FORM.LABELS.TOTAL" }}</th>
    </thead>
    <tbody>
      {{#each purchase.items}}
        <tr>
          <td>{{this.code}}</td>
          <td>{{this.text}}</td>
          <td>{{this.unit}}</td>
          <td class="text-right">{{this.quantity}}</td>
          <td class="text-right">{{currency this.unit_price ../purchase.currency_id}}</td>
          <td class="text-right">{{currency this.total ../purchase.currency_id}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      {{#if purchase.shipping_handling }}
      <tr>
        <td class="text-left" colspan="5">{{translate "FORM.LABELS.SHIPPING_HANDLING_COST"}}</td>
        <td class="text-right" >{{currency purchase.shipping_handling purchase.currency_id}}</td>
      </tr>
      {{/if}}
      <tr>
        <td class="text-left" colspan="5">{{translate "FORM.LABELS.TOTAL"}} ({{purchase.items.length}} {{ translate "TABLE.AGGREGATES.RECORDS" }})</td>
        <td class="text-right" >{{currency purchase.total_cost purchase.currency_id}}</td>
      </tr>
    </tfoot>
  </table>
  <script>JsBarcode('.barcode').init();</script>
</div>
