{{> head title="PURCHASES.RECEIPT.TITLE"}}

<body  class="container" style="font-size: 0.9em;">

  {{> header}}

  <header>
    <!-- page title  -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">
          <span class="text-uppercase">
            {{translate "PURCHASES.RECEIPT.TITLE" }} N&deg; 
            {{purchase.reference}}
          </span>
        </h2>
      </div>
    </div>

    <!-- order details -->
    <div class="row" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;">
      <div class="col-xs-6">
        <span class="text-capitalize">{{translate "FORM.LABELS.SUPPLIER"}}</span>: <strong>{{purchase.supplier}}</strong> <br>
        <span class="text-capitalize">{{translate "FORM.LABELS.DATE"}}</span>: {{date purchase.date}} <br>
        <span class="text-capitalize">{{translate "FORM.LABELS.REFERENCE"}}</span>: {{purchase.reference}} <br>
        <span class="text-capitalize">{{translate "FORM.LABELS.NOTES"}}</span>: <strong>{{purchase.note}}</strong> <br>
        <span class="text-capitalize">{{translate "FORM.LABELS.AUTHOR"}}</span>: <strong>{{purchase.author}}</strong>
      </div>
    </div>
  </header>

  <table class="table table-bordered table-condensed">
    <thead>
      <th>{{translate "FORM.LABELS.INVENTORY_ITEM" }}</th>
      <th>{{translate "FORM.LABELS.QUANTITY" }}</th>
      <th>{{translate "FORM.LABELS.UNIT_PRICE" }}</th>
      <th>{{translate "FORM.LABELS.TOTAL" }}</th>
    </thead>
    <tbody>
      {{#each purchase.items}}
        <tr>
          <td>{{this.text}}</td>
          <td class="text-right">{{this.quantity}}</td>
          <td class="text-right">{{currency this.unit_price}}</td>
          <td class="text-right">{{currency this.total}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td class="text-left" colspan="3">{{translate "FORM.LABELS.TOTAL"}}</td>
        <td class="text-right" >{{currency purchase.cost}}</td>
      </tr>
    </tfoot>
  </table>

</body>
