{{> head title="REPORT.CASHFLOW_BY_SERVICE.TITLE" }}

<div class="container-fluid">
  <!-- heading  -->
  <div class="row">
    <div class="col-xs-4">
      <h3 style="margin:2px;">{{ metadata.enterprise.name }}</h3>
      <p style="margin:2px;">
        {{translate 'FORM.LABELS.PROJECT'}}: {{ metadata.project.name }}<br>
        {{translate 'FORM.LABELS.PHONE'}}: {{ metadata.enterprise.phone }}<br>
        {{translate 'FORM.LABELS.EMAIL'}}: {{ metadata.enterprise.email }}<br>
        {{translate 'FORM.LABELS.ADDRESS'}}: {{ metadata.enterprise.location }}
      </p>
    </div>

    <div class="col-xs-4">
      <h3 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{translate 'REPORT.CASHFLOW_BY_SERVICE.TITLE'}}<br>
        <small>{{date dateFrom }} - {{date dateTo }}</small>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-condensed"  style="font-size:0.75em;">
        <thead>
          <tr>
            <th>{{translate 'FORM.LABELS.REFERENCE'}}</th>
            <th>{{translate 'TABLE.COLUMNS.NAME' }}</th>
            {{#each services as |service| }}
              <th>{{ service }}</th>
            {{/each}}
            <th>{{translate "FORM.LABELS.BALANCE"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each matrix as | row |}}
            <tr>
              {{#each row as |value |}}

                {{! this is the balance calculation }}
                {{#if @last}}
                  <th class="text-right">{{value}}</th>

                {{! this is the rest of the matrix }}
                {{else}}
                  <td {{#unless @first}}class="text-right"{{/unless}}>
                    {{#if value}}
                      {{value}}
                    {{/if}}
                  </td>
                {{/if}}
              {{/each}}
            </tr>
          {{else}}
            {{> emptyTable columns=3}}
          {{/each}}
        </tbody>

        <tfoot>
          <tr>
            <th colspan="2">{{translate "TABLE.COLUMNS.TOTAL" }}</th>
            {{#each aggregates as | aggregate |}}
              <th class="text-right">{{aggregate.totalCashIncome}}</th>
            {{/each}}
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
