{{> head title="TREE.CASHFLOW_BY_SERVICE" }}

<body>
  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "REPORT.CASHFLOW_BY_SERVICE.TITLE"}}</strong></h3>
  <h4 class="text-center">{{cashbox.label}}</h3>

  {{#if dateFrom }}
    <h4 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
      {{date dateFrom }} - {{date dateTo }}
    </h4>
  {{/if}}

  <section>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-condensed table-report table-header-rotated">
          <thead>
            <tr class="text-capitalize text-center">
              <th class="text-center">{{translate 'FORM.LABELS.REFERENCE'}}</th>
              <th class="text-center">{{translate 'TABLE.COLUMNS.NAME' }}</th>
              {{#each services as |service| }}
                <th class="rotate-45"><div><span style="padding-left:2px;">{{ service }}</span></div></th>
              {{/each}}
              <th class="text-center">{{translate "FORM.LABELS.BALANCE"}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each matrix as | row |}}
              <tr>
                {{#each row as |value|}}
                  {{! this is the balance calculation }}
                  {{#if @last}}
                    <th class="text-right">{{currency value ../../cashbox.currency_id}}</th>

                  {{! this is the rest of the matrix }}
                  {{else}}
                    <td {{#gt @index 2}}class="text-right"{{/gt}}>
                      {{#if @first}}
                        {{value}}
                      {{else}}
                        {{#equal @index 1}}
                          {{value}}
                        {{/equal}}
                        {{#gt @index 2}}
                          {{#if value}}
                            {{currency value ../../cashbox.currency_id}}
                          {{/if}}
                        {{/gt}}
                      {{/if}}
                    </td>
                  {{/if}}
                {{/each}}
              </tr>
            {{else}}
              {{> emptyTable columns=3}}
            {{/each}}

            {{! adds in a single line for gain/loss on exchange during the period if it exists }}
            {{#if gainOrLossOnExchange}}
              <tr class="text-capitalize text-center">
                <th colspan="3">{{translate "REPORT.CASHFLOW_BY_SERVICE.GAIN_OR_LOSS_ON_EXCHANGE"}}</th>
                <th class="text-right" colspan={{services.length}}>{{currency gainOrLossOnExchange cashbox.currency_id}}</th>
              </tr>
            {{/if}}
          </tbody>

          <tfoot>
            <tr class="text-capitalize text-center" style="background-color: #ddd;">
              <th colspan="2">{{translate "TABLE.COLUMNS.TOTAL" }}</th>
              {{#each totals as |value| }}
                <th class="text-right">{{currency value ../cashbox.currency_id}}</th>
              {{/each}}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
</body>
