{{> head title="REPORT.CASHFLOW.TITLE" }}

<body>
  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "REPORT.CASHFLOW.TITLE"}}</strong></h3>

  {{#if dateFrom }}
    <h4 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
      {{date dateFrom }} - {{date dateTo }}
    </h4>
  {{/if}}

  <h4 class="text-center">
    <span>{{cashLabels}}</span> <em>({{cashLabelSymbol}})</em>
    <span class="text-lowercase">{{translate 'REPORT.CASHFLOW.IN'}}</span> {{metadata.enterprise.currencySymbol}}
  </h4>

  <section>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-condensed table-bordered table-report table-bordered">
          <thead>
            <tr class="text-capitalize text-center">
              <th></th>
              {{#each periodDates as |period| }}
                <th class="text-center">{{date period 'MMM YYYY'}}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{!-- INCOMES --}}
            <tr style="background-color: #efefef;font-size:1.3rem;">
              <th class="text-left text-uppercase">{{translate 'REPORT.CASHFLOW.INCOMES'}}</th>
              {{#each periods as |period| }}
                <th class="text-right">{{debcred (look ../incomeTotal period) ../metadata.enterprise.currency_id}}</th>
              {{/each}}
            </tr>

            {{!-- inspect all transaction text for income --}}
            {{#each incomeTextKeys as |key|}}
              <tr>
                <th>{{translate key}}</th>
                {{#each ../periods as |period| }}
                  <th class="text-right">{{debcred (look ../../incomeTotalByTextKeys key period) ../../metadata.enterprise.currency_id}}</th>
                {{/each}}
              </tr>

              {{!-- inspect data for all those transaction text --}}
              {{#each (look ../incomes key) as |value|}}
                <tr>
                  <td>{{ value.account_label }}</td>
                  {{#each ../../periods as |period| }}
                    <td class="text-right">{{debcred (look value period) ../../../metadata.enterprise.currency_id}}</td>
                  {{/each}}
                </tr>
              {{/each}}

              {{!-- blank line --}}
              <tr>
                <td colspan="{{colspan}}">&nbsp;</td>
              </tr>
            {{/each}}
            <tr>
              <td colspan="{{colspan}}">&nbsp;</td>
            </tr>
          </tbody>

          <tbody>
            {{!-- EXPENSES --}}
            <tr style="background-color: #efefef;font-size:1.3rem;">
              <th class="text-left text-uppercase">{{translate 'REPORT.CASHFLOW.EXPENSES'}}</th>
              {{#each periods as |period| }}
                <th class="text-right">{{debcred (multiply (look ../expenseTotal period) -1) ../metadata.enterprise.currency_id}}</th>
              {{/each}}
            </tr>

            {{!-- inspect all transaction text for expense --}}
            {{#each expenseTextKeys as |key|}}
              <tr>
                <th>{{translate key}}</th>
                {{#each ../periods as |period| }}
                  <th class="text-right">{{debcred (multiply (look ../../expenseTotalByTextKeys key period) -1) ../../metadata.enterprise.currency_id}}</th>
                {{/each}}
              </tr>

              {{!-- inspect data for all those transaction text --}}
              {{#each (look ../expenses key) as |value|}}
                <tr>
                  <td>{{ value.account_label }}</td>
                  {{#each ../../periods as |period| }}
                    <td class="text-right">{{debcred (multiply (look value period) -1) ../../../metadata.enterprise.currency_id}}</td>
                  {{/each}}
                </tr>
              {{/each}}

              {{!-- blank line --}}
              <tr>
                <td colspan="{{colspan}}">&nbsp;</td>
              </tr>
            {{/each}}
            <tr>
              <td colspan="{{colspan}}">&nbsp;</td>
            </tr>
          </tbody>

          <tbody>
            {{!-- BALANCE --}}
            <tr style="background-color: #efefef;font-size:1.3rem;">
              <th class="text-left text-uppercase">{{translate 'FORM.LABELS.BALANCE'}}</th>
              {{#each periods as |period| }}
                <th class="text-right">{{debcred (look ../totalPeriodColumn period) ../metadata.enterprise.currency_id}}</th>
              {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section style="border-top:1px solid #333; margin-top: 20px;" class="col-xs-12 col-sm-6">
    <p>{{translate 'REPORT.CASHFLOW.CONCERNED_ACCOUNT'}}</p>
    <ul class="text-left">
      {{#each cashLabelDetails as |label|}}
        <li>{{label}}</li>
      {{/each}}
    </ul>
  </section>
</body>
