{{> head title="{{translate 'TREE.OPERATING_ACCOUNT' }}" }}


<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h3 class="text-center text-uppercase">
        <strong>{{translate 'TREE.HGR_FINANCIAL_REPORT'}}</strong>
      </h3>
      
      <h5 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{date this.dateFrom}} - {{date this.dateTo}}
      </h5>
      <table class="table table-condensed table-report table-bordered">
        <tbody>
          <tr>
            <th class="text-center">
              {{ translate 'ACCOUNT.TYPES.INCOME'}}
            </th>
            <th class="text-center">
              {{ translate 'ACCOUNT.TYPES.EXPENSE'}}
            </th>
          </tr>
          <tr>
            <td>
              <table class="table table-condensed table-report table-bordered">
                <thead>
                  <th>{{ translate 'FORM.LABELS.CODE'}}</th>
                  <th>{{ translate 'FORM.LABELS.LABEL'}}</th>
                  <th> {{ translate 'FORM.LABELS.AMOUNT'}}</th>
                  <th>%</th>
                </thead>
                <tbody>
                  {{#each this.revenue}}
                  <tr>
                    <td class="text-right">{{number}}</td>
                    <td {{#if title}}style="font-weight:bold; text-align:center;"{{/if}}>
                      {{label}}
                    </td>
                    <td class="text-right">{{amount}}</td>
                    <td class="text-right">{{percent}}</td>
  
                  </tr>
                  {{/each}}
                  <tr>
                    <th></th>
                    <th>{{ translate 'FORM.LABELS.TOTAL'}} {{translate 'INCOME'}}</th>
                    <th class="text-right">{{this.totalIncome}}</th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-condensed table-report table-bordered">
                <thead>
                  <th>{{ translate 'FORM.LABELS.CODE'}}</th>
                  <th>{{ translate 'FORM.LABELS.LABEL'}}</th>
                  <th> {{ translate 'FORM.LABELS.AMOUNT'}}</th>
                  <th>%</th>
                </thead>
                <tbody>
                  {{#each this.expense}}
                  <tr>
                    <td class="text-right">{{number}}</td>
                    <td {{#if title}}style="font-weight:bold; text-align:center;"{{/if}}>
                      {{label}}
                    </td>
                    <td class="text-right">{{amount}}</td>
                    <td class="text-right">{{percent}}</td>
                  </tr>
                  {{/each}}
                  <tr>
                    <th></th>
                    <th>{{ translate 'FORM.LABELS.TOTAL'}} {{translate 'EXPENSE'}}</th>
                    <th class="text-right">{{this.totalExpense}}</th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              {{ translate 'ACCOUNT.RECEIVABLES'}}
            </th>
            <th class="text-center">
              {{ translate 'ACCOUNT.DEBTS'}}
            </th>
          </tr>
          <tr>
            <td>
              <table class="table table-condensed table-report table-bordered">
                <thead>
                  <th>{{ translate 'FORM.LABELS.CODE'}}</th>
                  <th>{{ translate 'FORM.LABELS.LABEL'}}</th>
                  <th> {{ translate 'FORM.LABELS.AMOUNT'}}</th>
                  <th>%</th>
                </thead>
                <tbody>
                  {{#each this.receivables}}
                  <tr>
                    <td class="text-right">{{number}}</td>
                    <td {{#if title}}style="font-weight:bold; text-align:center;"{{/if}}>
                      {{label}}
                    </td>
                    <td class="text-right">{{amount}}</td>
                    <td class="text-right">{{percent}}</td>
                  </tr>
                  {{/each}}
                  <tr>
                    <th></th>
                    <th>{{ translate 'FORM.LABELS.TOTAL'}} {{translate 'ACCOUNT.RECEIVABLES'}}</th>
                    <th class="text-right">{{this.totalReceivables}}</th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-condensed table-report table-bordered">
                <thead>
                  <th>{{ translate 'FORM.LABELS.CODE'}}</th>
                  <th>{{ translate 'FORM.LABELS.LABEL'}}</th>
                  <th> {{ translate 'FORM.LABELS.AMOUNT'}}</th>
                  <th>%</th>
                </thead>
                <tbody>
                  {{#each this.debts}}
                  <tr>
                    <td class="text-right">{{number}}</td>
                    <td {{#if title}}style="font-weight:bold; text-align:center;"{{/if}}>
                      {{label}}
                    </td>
                    <td class="text-right">{{amount}}</td>
                    <td class="text-right">{{percent}}</td>
                  </tr>
                  {{/each}}
                  <tr>
                    <th></th>
                    <th>{{ translate 'FORM.LABELS.TOTAL'}} {{translate 'ACCOUNT.DEBTS'}}</th>
                    <th class="text-right">{{this.totalDebts}}</th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            <table class="table table-condensed table-report table-bordered">
              <tr>
                <th>
                </th>
                <th class="text-center">
                  {{ translate 'ACCOUNT.TYPES.ASSET'}}
                </th>
                <th class="text-center">
                  {{ translate 'ACCOUNT.TYPES.LIABILITY'}}
                </th>
                
              </tr>
               <tr>
                <th class="text-center">
                  {{ translate 'FORM.LABELS.TOTAL'}}
                </th>
                <td class="text-right">
                    {{this.totalAsset}}
                </td>
                <td class="text-right">
                  {{this.totalLiability}}
                </td>
                
              </tr>
              
            </table>
            </td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>