{{> head title="REPORT.REPORT_INDICATORS.TITLE" }}

<body>
  <div class="container">
    {{> header}}

    <div class="row">
      <h4 class="text-center text-uppercase">
        {{translate 'REPORT.REPORT_INDICATORS.TITLE'}}
      </h4>
      <h5 class="text-center">{{date dateFrom}} - {{date dateTo}}</h5>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{#if display.finances}}
        <h5><u>{{translate 'TREE.DASHBOARDS.FINANCES'}}</u></h5>
        <table class="table table-condensed table-bordered table-report">
          <thead>
            <th style="width: 350px !important">{{translate 'FORM.LABELS.INDICATOR'}}</th>
            <th>{{translate 'FORM.LABELS.VALUE'}}</th>
          </thead>
          <tbody>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_OP_REVENU_ON_STAFF_CHARGE'}}</td>
              <td>{{ ignoreNan indicators.finance.operatingRevenueOverStaffCharge.value '%'}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_STAFF_CHARGE_ON_LOCAL_REVENU'}}</td>
              <td>{{ ignoreNan indicators.finance.staffChargeOverLocalRevenue.value '%'}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_AVERAGE_SALARY_BY_MONTH'}}</td>
              <td>{{ ignoreNan indicators.finance.averageSalary.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_AUTO_FINANCING'}}</td>
              <td>{{ ignoreNan indicators.finance.autoFinancing.value '%' }}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_DRUG_SALE_ON_PURCHASED'}}</td>
              <td>{{ ignoreNan indicators.finance.drugSalesOverPurchased.value '%'}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_OTHER_CHARGE'}}</td>
              <td>{{ ignoreNan indicators.finance.ratioVariousExpense.value '%'}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_DAILY_CASH_RATIO'}}</td>
              <td>{{ ignoreNan indicators.finance.ratioCashHand.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_TURNOVER_RATIO'}}</td>
              <td>{{ ignoreNan indicators.finance.ratioTurnOver.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_TOTAL_MARGE_RATIO'}}</td>
              <td>{{ ignoreNan indicators.finance.ratioTotalMarge.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.FINANCE_CURRENT_RATIO'}}</td>
              <td>{{ ignoreNan indicators.finance.ratioCurrent.value ''}}</td>
            </tr>
          </tbody>
        </table>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br/>
        {{#if display.hospitalization}}
          <h5>
            <u>{{translate 'TREE.DASHBOARDS.HOSPITALIZATION'}}</u>
            {{#if serviceName}}<b>: {{ serviceName }}</b>{{/if}}
          </h5>

          {{#each indicators.hospitalizationByProject as |value key|}}
            <strong>{{key}}</strong>
              <table class="table table-condensed table-bordered table-report">
              <thead>
                <th style="width: 350px !important">{{translate 'FORM.LABELS.INDICATOR'}}</th>
                <th style="width: 200px !important">{{translate 'FORM.LABELS.VALUE'}}</th>
                <th>{{translate 'DASHBOARD.NORM'}}</th>
              </thead>
              <tbody>
                <tr>
                  <td>{{translate 'DASHBOARD.INDICATORS_FILES.TOTAL_BED'}}</td>
                  <td>{{ ignoreNan value.totalBeds.value ''}}</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.HOSP_DAYS'}}</td>
                  <td>{{ ignoreNan value.totalDayRealized.value ''}}</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.INDICATORS_FILES.TOTAL_HOSPI_PATIENT'}}</td>
                  <td>{{ ignoreNan value.totalHospitalizedPatient.value ''}}</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.INDICATORS_FILES.TOTAL_DEATH'}}</td>
                  <td>{{ ignoreNan value.totalDeath.value ''}}</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.BEDS_OCCUPATION_RATE'}}</td>
                  <td>{{ ignoreNan value.bedOccupationRate.value '%'}}</td>
                  <td>{{translate 'DASHBOARD.BEDS_OCCUPATION_RATE_NORM'}}</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.HOSP_DAYS'}}</td>
                  <td>{{ ignoreNan value.averageHospitalizationDays.value ''}}</td>
                  <td>{{translate 'DASHBOARD.HOSP_DAYS_NORM'}}</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.HOSP_BY_DAY'}}</td>
                  <td>{{ ignoreNan value.dailyHospitalization.value ''}}</td>
                  <td>{{translate 'DASHBOARD.HOSP_BY_DAY_NORM'}}</td>
                </tr>
                <tr>
                  <td>{{translate 'DASHBOARD.DEATH_RATE'}}</td>
                  <td>{{ ignoreNan value.deathRate.value '%'}}</td>
                  <td>{{translate 'DASHBOARD.DEATH_RATE_NORM'}}</td>
                </tr>
              </tbody>
            </table>
            <br>
          {{/each}}
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br/>
        {{#if display.staff}}
        <h5><u>{{translate 'TREE.DASHBOARDS.HUMAN_RESOURCES'}}</u></h5>
        <table class="table table-condensed table-bordered table-report">
          <thead>
            <th style="width: 350px !important">{{translate 'FORM.LABELS.INDICATOR'}}</th>
            <th>{{translate 'FORM.LABELS.VALUE'}}</th>
          </thead>
          <tbody>
            <tr>
              <td>{{translate 'DASHBOARD.STAFF_MEDICAL_ON_TOTAL'}}</td>
              <td>{{ ignoreNan indicators.staff.doctorOverStaff.value '%'}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.STAFF_VISIT_BY_DAY'}}</td>
              <td>{{ ignoreNan indicators.staff.dailyVisit.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.STAFF_CHARGE_CASE_BY_STAFF'}}</td>
              <td>{{ ignoreNan indicators.staff.chargeOverStaff.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.STAFF_CHARGE_CASE_BY_STAFF_MED'}}</td>
              <td>{{ ignoreNan indicators.staff.chargeOverMedicalStaff.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.STAFF_SURGERY_BY_DOCTOR'}}</td>
              <td>{{ ignoreNan indicators.staff.surgeryByDoctor.value ''}}</td>
            </tr>
            <tr>
              <td>{{translate 'DASHBOARD.STAFF_PATIENT_BY_DOCTOR'}}</td>
              <td>{{ ignoreNan indicators.staff.patientByDoctor.value ''}}</td>
            </tr>
          </tbody>
        </table>
        {{/if}}
      </div>
    </div>

  </div>
</body>