{{> head title="REPORT.REPORT_INDICATORS.TITLE" }}

<body>

  {{> header}}

  <!-- body  -->
  <div class="row">
    <h4 class="text-center text-uppercase">
      {{translate 'REPORT.REPORT_INDICATORS.TITLE'}}
    </h4>
    <h5 class="text-center">{{date dateFrom}} - {{date dateTo}}</h5>
</div>
<div class="col-xs-12">
    <div class="col-xs-12">
      {{#if display.finances}}
      <h5><u>{{translate 'TREE.DASHBOARDS.FINANCES'}}</u></h5>
      <table class="table table-condensed table-bordered table-report">
        <thead>
          <th style="width: 150px !important">{{translate 'FORM.LABELS.VALUE'}}</th>
          <th>{{translate 'FORM.LABELS.INDICATOR'}}</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.finances.operatingRevenueOverStaffCharge.value '%'}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_OP_REVENU_ON_STAFF_CHARGE'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.staffChargeOverLocalRevenue.value '%'}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_STAFF_CHARGE_ON_LOCAL_REVENU'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.averageSalary.value ''}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_AVERAGE_SALARY_BY_MONTH'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.staff.surgeryByDoctor.value ''}}</td>
            <td>{{translate 'DASHBOARD.STAFF_SURGERY_BY_DOCTOR'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.autoFinancing.value '%' }}</td>
            <td>{{translate 'DASHBOARD.FINANCE_AUTO_FINANCING'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.drugSalesOverPurchased.value '%'}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_DRUG_SALE_ON_PURCHASED'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.ratioVariousExpense.value '%'}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_OTHER_CHARGE'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.ratioCashHand.value ''}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_DAILY_CASH_RATIO'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.ratioTotalMarge.value ''}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_TOTAL_MARGE_RATIO'}}</td>
          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.finances.ratioCurrent.value ''}}</td>
            <td>{{translate 'DASHBOARD.FINANCE_CURRENT_RATIO'}}</td>
          </tr>

        </tbody>
      </table>
      {{/if}}
    </div>
    <div class="col-xs-12">
      <br/>
    {{#if display.hospitalization}}
      <h5><u>{{translate 'TREE.DASHBOARDS.HOSPITALIZATION'}}</u></h5>
      <table class="table table-condensed table-bordered table-report">
        <thead>
          <th style="width: 150px !important" >{{translate 'FORM.LABELS.VALUE'}}</th>
          <th>{{translate 'FORM.LABELS.INDICATOR'}}</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.hospitalization.bedOccupationRate.value ''}}</td>
            <td>{{translate 'DASHBOARD.BEDS_OCCUPATION_RATE'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.hospitalization.averageHospitalizationDays.value ''}}</td>
            <td>{{translate 'DASHBOARD.HOSP_DAYS'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.hospitalization.dailyHospitalization.value ''}}</td>
            <td>{{translate 'DASHBOARD.HOSP_BY_DAY'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.hospitalization.deathRate.value '%'}}</td>
            <td>{{translate 'DASHBOARD.DEATH_RATE'}}</td>
          </tr>
        </tbody>
      </table>
      {{/if}}
    </div>
    <div class="col-xs-12">
      <br/>
      {{#if display.staff}}
      <h5><u>{{translate 'TREE.DASHBOARDS.HUMAN_RESOURCES'}}</u></h5>
      <table class="table table-condensed table-bordered table-report">
        <thead>
          <th style="width: 150px !important">{{translate 'FORM.LABELS.VALUE'}}</th>
          <th>{{translate 'FORM.LABELS.INDICATOR'}}</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.staff.doctorOverStaff.value '%'}}</td>
            <td>{{translate 'DASHBOARD.STAFF_MEDICAL_ON_TOTAL'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.staff.dailyVisit.value ''}}</td>
            <td>{{translate 'DASHBOARD.STAFF_VISIT_BY_DAY'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.staff.chargeOverStaff.value ''}}</td>
            <td>{{translate 'DASHBOARD.STAFF_VISIT_BY_DAY'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.staff.chargeOverStaff.value ''}}</td>
            <td>{{translate 'DASHBOARD.STAFF_CHARGE_CASE_BY_STAFF'}}</td>
          </tr>
          <tr>
            <td class="text-right">{{ ignoreNan indicators.staff.surgeryByDoctor.value ''}}</td>
            <td>{{translate 'DASHBOARD.STAFF_SURGERY_BY_DOCTOR'}}</td>

          </tr>
          <tr>
            <td  class="text-right">{{ ignoreNan indicators.staff.patientByDoctor.value ''}}</td>
            <td>{{translate 'DASHBOARD.STAFF_PATIENT_BY_DOCTOR'}}</td>
          </tr>
        </tbody>
      </table>
      {{/if}}
    </div>
  </div>
</body>