{{> head title="REPORT.MONTHLY_CONSUMPTION.TITLE" }}

<body class="container-fluid">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h4 class="text-center text-uppercase">{{translate 'REPORT.MONTHLY_CONSUMPTION.TITLE'}}</h4>

      <h4 class="text-center">
        {{ fiscalYear }} : {{ translate params.periodFromKey }} - {{ translate params.periodToKey }}
        <br />
        {{depot}}
      </h4>

      <table class="table table-striped table-condensed table-report table-bordered">
        <thead>
          <tr style="background-color:#ddd;">
            <th class="text-center" style="max-width: 3%;"> {{translate 'FORM.LABELS.NR'}}</th>
            <th style="min-width:100px;">{{translate 'FORM.LABELS.INVENTORY'}}</th>
            {{#each header as | key |}}
              <th class="text-center" style="width: calc(75% / {{../size}});">{{translate key}}</th>
            {{/each}}
            <th style="width: 7.5%;" class="text-center">{{translate 'FORM.LABELS.TOTAL'}} </th>
          </tr>
        </thead>

        <tbody>
          {{#each matrix as | row |}}
            <tr>
              {{#each row as | column | }}
                {{#unless @last}}
                  <td {{#gt @index 2}}class="text-right"{{/gt}}>
                    {{column}}
                  </td>
                {{else}}
                  <th class="text-right">{{column}}</th>
                {{/unless}}

              {{/each}}
            </tr>
          {{else}}
            <tr>
              <th class="text-center" colspan="{{size}}"> {{translate 'STOCK.NO_DATA'}} </th>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>
