{{> head title="REPORT.MONTHLY_CONSUMPTION.TITLE" }}

<body class="container-fluid">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h2 class="text-center text-uppercase">
        {{translate 'REPORT.RUMER.TITLE'}}
      </h2>

      <h5 class="text-center">{{translate 'REPORT.RUMER.DESCRIPTION'}}</h5>

      <h3 class="text-center">{{params.depot_text}}</h3>
      <h4 class="text-center">{{translate params.translate_key}} - {{params.year}} </h4>

      <table class="table table-striped table-condensed table-report table-bordered">
        <thead>
          <tr style="background-color:#ddd;">
            <th style="min-width:31%;">{{translate 'FORM.LABELS.INVENTORY'}}</th>
            <th style="width: 11.5%;" class="text-center"> {{translate 'REPORT.RUMER.STOCK_BEGINNING'}} </th>
            <th style="width: 11.5%;" class="text-center"> {{translate 'REPORT.RUMER.TOTAL_ENTRIES'}} </th>

            <th style="width: 11.5%;" class="text-center"> {{translate 'REPORT.RUMER.TOTAL_QUANTITIES_CONSUMED'}} </th>
            <th style="width: 11.5%;" class="text-center"> {{translate 'REPORT.RUMER.TOTAL_QUANTITIES_LOST'}} </th>

            <th style="width: 11.5%;" class="text-center">{{translate 'REPORT.RUMER.TOTAL_EXITS'}} </th>
            <th style="width: 11.5%;" class="text-center">{{translate 'REPORT.RUMER.STOCK_END'}}</th>
          </tr>
        </thead>

          <tbody>
            {{#each configurationData}}
            <tr>
              <td> {{ inventoryText }} </td>
              <td class="text-right"><strong> {{ quantityOpening }} </strong></td>
              <td class="text-right"><strong> {{ quantityTotalEntry }} </strong></td>

              <td class="text-right"> {{ outQuantityConsumption }} </td>
              <td class="text-right"> {{ outQuantityExit }} </td>

              <td class="text-right"><strong> {{ quantityTotalExit }} </strong></td>
              <td class="text-right"><strong> {{ quantityEnding }} </strong></td>
            </tr>
            {{/each}}
          </tbody>
      </table>
    </div>
  </div>
</body>
