{{> head title="REPORT.STOCK.EXIT_REPORT" }}

<body>

  <div class="container">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center">
        {{translate 'REPORT.STOCK.EXIT_REPORT'}}
      </h2>

      <h1 class="text-center">
        {{ depotName }}
      </h1>

      <h4 class="text-center">
        {{date dateFrom}} - {{date dateTo}}
      </h4>

      <br/>

      <!-- stock exit to patient -->
      {{#if includePatientExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5"><h3 style="margin: 0px;">{{translate 'STOCK.RECEIPT.EXIT_PATIENTS'}}</h3></th>
              <th colspan="2" class="text-right">{{currency exitToPatient.cost metadata.enterprise.currency_id}}</th>
            </tr>
          </thead>
          {{#each exitToPatient.data as | data |}}
            <thead>
              <tr>
                <th colspan="4">{{ data.inventory_name }}</th>
                <th class="text-right">{{ data.inventory_stock_exit_quantity }} <i>({{ data.inventory_unit }})</i></th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../metadata.enterprise.currency_id}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none; width: 40%;">({{ patient_reference }}) {{ patient_display_name }}</td>
                    <td class="text-left" style="border:none; width: 15%">
                      {{#if invoice_reference}}
                        {{translate 'FORM.LABELS.INVOICE' }}: <b>{{ invoice_reference }}</b>
                      {{/if}}
                    </td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} <i>({{ unit_text }})</i></td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../metadata.enterprise.currency_id}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../metadata.enterprise.currency_id}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToPatient.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit to service -->
      {{#if includeServiceExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5"><h3 style="margin: 0px;">{{translate 'STOCK.RECEIPT.EXIT_SERVICES'}}</h3></th>
              <th colspan="2" class="text-right">{{currency exitToService.cost metadata.enterprise.currency_id}}</th>
            </tr>
          </thead>
          {{#each exitToService.data as | data |}}
            <thead>
              <tr>
                <th colspan="4">{{ data.inventory_name }}</th>
                <th class="text-right">{{ data.inventory_stock_exit_quantity }} <i>({{ data.inventory_unit }})</i></th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../metadata.enterprise.currency_id}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none; width: 40%;">{{ service_display_name }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} <i>({{ unit_text }})</i></td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../metadata.enterprise.currency_id}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../metadata.enterprise.currency_id}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToService.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit to other depot -->
      {{#if includeDepotExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5"><h3 style="margin: 0px">{{translate 'STOCK.RECEIPT.EXIT_DEPOTS'}}</h3></th>
              <th colspan="2" class="text-right">{{currency exitToDepot.cost metadata.enterprise.currency_id}}</th>
            </tr>
          </thead>
          {{#each exitToDepot.data as | data |}}
            <thead>
              <tr>
                <th colspan="4">{{ data.inventory_name }}</th>
                <th class="text-right">{{ data.inventory_stock_exit_quantity }} <i>({{ data.inventory_unit }})</i></th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../metadata.enterprise.currency_id}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none;  width: 40%;">{{ depot_name }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} <i>({{ unit_text }})</i></td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../metadata.enterprise.currency_id}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../metadata.enterprise.currency_id}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToDepot.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit as loss -->
      {{#if includeLossExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5"><h3 style="margin: 0px;">{{translate 'STOCK.RECEIPT.EXIT_LOSS'}}</h3></th>
              <th colspan="2" class="text-right">{{currency exitToLoss.cost metadata.enterprise.currency_id}}</th>
            </tr>
          </thead>
          {{#each exitToLoss.data as | data |}}
            <thead>
              <tr>
                <th colspan="4">{{ data.inventory_name }}</th>
                <th class="text-right">{{ data.inventory_stock_exit_quantity }} <i>({{ data.inventory_unit }})</i></th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../metadata.enterprise.currency_id}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none;  width: 40%;">{{ description }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} <i>({{ unit_text }})</i></td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../metadata.enterprise.currency_id}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../metadata.enterprise.currency_id}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToLoss.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br>

      <p>*<em>{{translate 'STOCK.STOCK_COST_DESCRIPTION'}}</em></p>
      <p>*<em>{{translate 'STOCK.STOCK_UNIT_COST_ROUNDED'}}</em></p>
    </div>
  </div>

  </div>
</body>
