{{> head title="STOCK.RECEIPT.EXIT_DEPOT" }}

<!-- body  -->
<div class="container" style="font-size: 0.9em;">

  <header>
    <!-- headings  -->
    <div class="row">
      <div class="col-xs-6">
        <h3 style="margin: 0px;">{{enterprise.name}}</h3>
        <p>
          <span class="text-capitalize">{{translate 'FORM.LABELS.ADDRESS'}}</span>: {{enterprise.location}} <br>
          <span class="text-capitalize">{{translate 'FORM.LABELS.PHONE'}}</span>: {{enterprise.phone}} <br>
          <span class="text-capitalize">{{translate 'FORM.LABELS.EMAIL'}}</span>: {{enterprise.email}}
        </p>
      </div>
      <div class="col-xs-6 text-right">
        <h3 style="margin: 0px;">
          <span class="text-uppercase">
            {{translate 'STOCK.RECEIPT.EXIT_DEPOT'}}
          </span> <br>
          <strong>{{exit.details.depot_name}}</strong> <br>
          <strong>{{exit.details.document_reference}}</strong> <br>
          <small>{{date exit.details.date}}</small> <br>
          <br>
        </h3>
      </div>
    </div>

    <!-- client and user details  -->
    <div class="row" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;">
      <div class="col-xs-6">
        <h4>{{translate 'STOCK.FROM'}}</h4>
        <span class="text-capitalize">{{translate 'STOCK.DEPOT'}}</span>: <strong>{{exit.details.depot_name}}</strong> <br>
        <span class="text-capitalize">{{translate 'FORM.LABELS.DOCUMENT'}}</span>: <strong>{{exit.details.document_reference}}</strong> <br>
      </div>
      <div class="col-xs-6">
        <h4>{{translate 'STOCK.TO'}}</h4>
        <span class="text-capitalize">{{translate 'STOCK.DEPOT'}}</span>: <strong>{{exit.details.otherDepotName}}</strong> <br>
        <span class="text-capitalize">{{translate 'FORM.LABELS.DOCUMENT'}}</span>: <strong>{{exit.details.document_reference}}</strong> <br>
      </div>
    </div>

    <div class="row" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;"> 
      <div class="col-xs-6">
        <span class="text-capitalize">{{translate 'FORM.LABELS.DATE'}}</span>: {{date exit.details.date}} <br>
        <span class="text-capitalize">{{translate "TABLE.COLUMNS.CREATED_BY"}}</span>: {{exit.details.user_display_name}} <br>
      </div>
      <div class="col-xs-6">
        <span class="text-capitalize">{{translate 'STOCK.INVENTORY'}}</span>: <strong>{{rows.length}} {{translate 'STOCK.ITEMS'}}</strong> <br>
        <span class="text-capitalize">{{translate 'STOCK.AMOUNT'}}</span>: <strong>{{currency (sum rows 'total') enterprise.currency_id}}</strong> <br>
      </div>
    </div>
  </header>

  {{#if exit.details.description}}
  <blockquote>
    <strong>{{translate 'FORM.LABELS.DESCRIPTION'}}</strong><br>
    {{exit.details.description}}
  </blockquote>
  {{/if}}

  <!-- list of data  -->
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>{{translate 'STOCK.CODE'}}</th>
        <th>{{translate 'STOCK.INVENTORY'}}</th>
        <th>{{translate 'STOCK.LOT'}}</th>
        <th>{{translate 'STOCK.EXPIRATION'}}</th>
        <th>{{translate 'STOCK.QUANTITY'}}</th>
        <th>{{translate 'STOCK.UNIT_COST'}}</th>
        <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <td>{{code}}</td>
          <td>{{text}}</td>
          <td>{{label}}</td>
          <td>{{date expiration_date}}</td>
          <td class="text-right">{{quantity}}</td>
          <td class="text-right">{{currency unit_cost ../enterprise.currency_id}}</td>
          <td class="text-right">{{currency total ../enterprise.currency_id}}</td>
        </tr>
      {{else}}
        {{> emptyTable columns=9}}
      {{/each}}
    </tbody>
    <tfoot>
      <tr style="font-weight: bold;">
        <td colspan="6">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
        <td class="text-right">{{currency (sum rows 'total') enterprise.currency_id}}</td>
      </tr>
    </tfoot>
  </table>

  <br>

  <footer>
    <div class="row">
      <div class="col-xs-6">
        <h4>{{translate 'STOCK.RESPONSIBLE'}}</h4>
        <hr>
      </div>

      <div class="col-xs-6">
        <h4>{{translate 'STOCK.DEPOT_RESPONSIBLE'}}</h4>
        <hr>
      </div>
    </div>
  </footer>

</div>
