{{> head title="STOCK.RECEIPT.EXIT_LOSS" }}

<!-- body  -->
<div class="container" style="font-size: 0.9em;">

  <header>
    <!-- headings  -->
    {{> stockReceiptHeader
      title="STOCK.RECEIPT.EXIT_LOSS"
      entity=details.depot_name
      reference=details.document_reference
      barcode=details.barcode
    }}

    <!-- summary  -->
    <div class="row receipt-summary">
      <div class="col-xs-6">
        <h4>{{translate 'STOCK.MOTIF'}}</h4>
        <span class="text-capitalize">{{translate 'STOCK.LOSS'}}</span><br>
      </div>
      <div class="col-xs-6">
        <span class="text-capitalize">{{translate 'STOCK.DEPOT'}}</span>: <strong>{{details.depot_name}}</strong> <br>
        <span class="text-capitalize">{{translate 'FORM.LABELS.DOCUMENT'}}</span>: <strong>{{details.document_reference}}</strong> <br>
        {{#if details.autoStockAccountingEnabled}}
          <span class="text-capitalize">{{translate 'FORM.LABELS.VOUCHER'}}</span>: 
          {{#if details.voucher_reference}}
            <strong>{{details.voucher_reference}}</strong>
          {{else}}
            <i>{{translate 'STOCK.DO_NOT_EXIST_BEFORE_ACCOUNTING_SETUP'}}</i>
          {{/if}}
          <br>
        {{/if}}
        <span class="text-capitalize">{{translate 'FORM.LABELS.DATE'}}</span>: {{date details.date}} <br>
        <span class="text-capitalize">{{translate "TABLE.COLUMNS.CREATED_BY"}}</span>: {{details.user_display_name}}
      </div>
    </div>
  </header>

  {{#if details.description}}
  <div class="row receipt-summary">
    <strong>{{translate 'FORM.LABELS.NOTE'}}</strong><br>
    {{details.description}}
  </div>
  {{/if}}

  <!-- list of data  -->
  <table class="table table-condensed table-bordered table-report">
    <thead>
      <tr>
        <th>{{translate 'STOCK.CODE'}}</th>
        <th>{{translate 'STOCK.INVENTORY'}}</th>
        <th>{{translate 'STOCK.LOT'}}</th>
        <th>{{translate 'STOCK.EXPIRATION'}}</th>
        <th>{{translate 'STOCK.QUANTITY'}}</th>
        <th>{{translate 'STOCK.INVENTORY_UNIT'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <td>{{code}}</td>
          <td>{{text}}</td>
          <td>{{label}}</td>
          <td>{{date expiration_date}}</td>
          <td class="text-right">{{quantity}}</td>
          <td>{{unit}}</td>
        </tr>
      {{else}}
        {{> emptyTable columns=6}}
      {{/each}}
    </tbody>
    <tfoot>
      <tr style="font-weight: bold;">
        <td colspan="6">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
      </tr>
    </tfoot>
  </table>

  <br>

  <footer>
    <div class="row">
      <div class="col-xs-6">
        <h4 class="text-center">{{translate 'REPORT.FOOTER.APPROVED_BY'}}</h4>
        <hr>
      </div>

      <div class="col-xs-6">
        <h4 class="text-center">{{translate 'REPORT.FOOTER.DEPOT_MANAGER'}}</h4>
        <hr>
      </div>
    </div>
  </footer>
  {{#if metadata.enterprise.settings.enable_barcodes}}
    <script>JsBarcode('.barcode').init();</script>
  {{/if}}
</div>
