{{> head title="TREE.STOCK_INVENTORY" }}

<body>

  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-uppercase">
        {{translate 'TREE.STOCK_INVENTORY'}}
      </h2>

      <!-- filters  -->
      {{#if hasFilter}}
      <br />
        <div>
          <i class="fa fa-filter"></i>
          {{#if display.depot_uuid}}{{translate 'STOCK.DEPOT'}}: {{look display 'depot_uuid'}} /{{/if}}
          {{#if display.inventory_uuid}} {{translate 'STOCK.INVENTORY'}}: {{look display 'inventory_uuid'}} /{{/if}}
          {{#if display.status}} {{translate 'STOCK.STATUS.LABEL'}}: {{look display 'status'}} /{{/if}}
        </div>
        <br />
      {{/if}}

      <br>

      <!-- list of data  -->
      <table class="table table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th>{{translate 'STOCK.DEPOT'}}</th>
            <th>{{translate 'STOCK.CODE'}}</th>
            <th>{{translate 'STOCK.INVENTORY'}}</th>
            <th>{{translate 'STOCK.QUANTITY'}}</th>
            <th>{{translate 'STOCK.STATUS.LABEL'}}</th>
            <th>CM</th>
            <th>{{translate 'STOCK.MONTH'}}</th>
            <th>SS</th>
            <th>MIN</th>
            <th>MAX</th>
            <th>Q</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
            <tr>
              <td>{{depot_text}}</td>
              <td>{{code}}</td>
              <td>{{text}}</td>
              <td class="text-right" style="font-weight: bold;">{{quantity}}</td>
              <td>
                {{#equal status 'sold_out'}}<span class="label label-danger">{{translate 'STOCK.STATUS.SOLD_OUT'}}</span>{{/equal}}
                {{#equal status 'in_stock'}}<span class="label label-success">{{translate 'STOCK.STATUS.IN_STOCK'}}</span>{{/equal}}
                {{#equal status 'security_reached'}}<span class="label label-warning">{{translate 'STOCK.STATUS.SECURITY'}}</span>{{/equal}}
                {{#equal status 'minimum_reached'}}<span class="label label-info">{{translate 'STOCK.STATUS.MINIMUM'}}</span>{{/equal}}
                {{#equal status 'over_maximum'}}<span class="label label-primary">{{translate 'STOCK.STATUS.OVER_MAX'}}</span>{{/equal}}
              </td>
              <td class="text-right">{{avg_consumption}}</td>
              <td class="text-right">{{S_MONTH}}</td>
              <td class="text-right">{{S_SEC}}</td>
              <td class="text-right">{{S_MIN}}</td>
              <td class="text-right">{{S_MAX}}</td>
              <td class="text-right">
                {{#gt S_Q 0}}<span>{{S_Q}}</span>{{else}} 0 {{/gt}}
              </td>
            </tr>
          {{else}}
            {{> emptyTable columns=9}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr style="font-weight: bold;">
            <td colspan="11">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    {{!-- legend --}}
    <fieldset class="col-xs-4">
      <table class="table table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <td colspan="2" class="text-center">{{translate 'STOCK.LEGEND'}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CM</td>
            <td>{{translate 'STOCK.MONTHLY_CONSUM'}}</td>
          </tr>
          <tr>
            <td>SS</td>
            <td>{{translate 'STOCK.SECURITY'}}</td>
          </tr>
          <tr>
            <td>MIN</td>
            <td>{{translate 'STOCK.MINIMUM'}}</td>
          </tr>
          <tr>
            <td>MAX</td>
            <td>{{translate 'STOCK.MAXIMUM'}}</td>
          </tr>
          <tr>
            <td>Q</td>
            <td>{{translate 'STOCK.APPROVISIONING'}}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</body>
