{{> head }}

<script src="{{nodeModulesPath}}/chart.js/dist/Chart.min.js"></script>
<script src="{{nodeModulesPath}}/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

<body>

  <div>
    {{#> header}}
      <h4 class="text-right">{{translate destinationType}}</h4>
    {{/header}}

    <!-- body  -->
    <div class="row">
      <div class="col-xs-12">
        <div style="height: {{chartHeight}};">
          <canvas id="stockConsumptionChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <script>
   {{{chartjs}}}
  </script>

</body>