{{> head title=details.title }}

<!-- body  -->
<div class="container" style="font-size: 0.9em;">

  <header>
    <!-- headings  -->
    {{> stockReceiptHeader 
      title=details.title
      entity=details.depot_name
      reference=details.document_reference
      barcode=details.barcode
    }}

    <!-- summary  -->
    <div class="row receipt-summary">
      <div class="col-xs-6">
        {{#equal details.flux_id 12}}
          <h3><i class="fa fa-arrow-circle-o-down"></i> {{translate 'STOCK_FLUX.TO_ADJUSTMENT'}}</h3>
        {{/equal}}
        {{#equal details.flux_id 3}}
          <h3><i class="fa fa-arrow-circle-o-up"></i> {{translate 'STOCK_FLUX.FROM_ADJUSTMENT'}}</h3>
        {{/equal}}
        {{#equal details.flux_id 14}}
          <h3><i class="fa fa-ban"></i> {{translate 'STOCK_FLUX.INVENTORY_RESET'}}</h3>
        {{/equal}}
        {{#equal details.flux_id 15}}
          <h3><i class="fa fa-adjust"></i> {{translate 'STOCK_FLUX.INVENTORY_ADJUSTMENT'}}</h3>
        {{/equal}}
      </div>
      <div class="col-xs-6">
        <span class="text-capitalize">{{translate 'STOCK.DEPOT'}}</span>: <strong>{{details.depot_name}}</strong> <br>
        <span class="text-capitalize">{{translate 'FORM.LABELS.DOCUMENT'}}</span>: <strong>{{details.document_reference}}</strong> <br>
        {{#if details.autoStockAccountingEnabled}}
          <span class="text-capitalize">{{translate 'FORM.LABELS.VOUCHER'}}</span>: 
          {{#if details.voucher_reference}}
            <strong>{{details.voucher_reference}}</strong>
          {{else}}
            <i>{{translate 'STOCK.DO_NOT_EXIST_BEFORE_ACCOUNTING_SETUP'}}</i>
          {{/if}}
          <br>
        {{/if}}
        <span class="text-capitalize">{{translate 'FORM.LABELS.DATE'}}</span>: {{date details.date}} <br>
        <span class="text-capitalize">{{translate "TABLE.COLUMNS.CREATED_BY"}}</span>: {{details.user_display_name}}
      </div>
    </div>
  </header>

  {{#if details.description}}
  <div class="receipt-summary">
    <strong>{{translate 'FORM.LABELS.NOTE'}}</strong><br>
    {{details.description}}
  </div>
  {{/if}}

  <!-- list of data  -->
  {{#equal details.flux_id 15}}
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr>
          <th style="background-color: #ccc;" colspan="9">{{translate 'STOCK_FLUX.FROM_ADJUSTMENT'}}</th>
        </tr>
        <tr>
          <th>{{translate 'STOCK.CODE'}}</th>
          <th>{{translate 'STOCK.INVENTORY'}}</th>
          <th>{{translate 'STOCK.LOT'}}</th>
          <th>{{translate 'STOCK.EXPIRATION'}}</th>
          <th>{{translate 'INVENTORY_ADJUSTMENT.OLD_QUANTITY'}}</th>
          <th>{{translate 'INVENTORY_ADJUSTMENT.NEW_QUANTITY'}}</th>
          <th>{{translate 'INVENTORY_ADJUSTMENT.DIFFERENCE'}}</th>
          <th>{{translate 'STOCK.UNIT_COST'}}</th>
          <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each increasedAdjustment}}
          <tr>
            <td>{{code}}</td>
            <td>{{text}}</td>
            <td>{{label}}</td>
            <td>{{date expiration_date}}</td>
            <td class="text-right">{{old_quantity}}</td>
            <td class="text-right">{{new_quantity}}</td>
            <td class="text-right">{{difference}}</td>
            <td class="text-right">{{currency unit_cost ../enterprise.currency_id}}</td>
            <td class="text-right">{{currency total ../enterprise.currency_id}}</td>
          </tr>
        {{else}}
          {{> emptyTable columns=9}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="font-weight: bold;">
          <td colspan="8">{{increasedAdjustment.length}} {{translate 'STOCK.ITEMS'}}</td>
          <td class="text-right">{{currency (sum increasedAdjustment 'total') enterprise.currency_id}}</td>
        </tr>
      </tfoot>
    </table>

    <br>

    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr>
          <th style="background-color: #ccc;" colspan="9">{{translate 'STOCK_FLUX.TO_ADJUSTMENT'}}</th>
        </tr>
        <tr>
          <th>{{translate 'STOCK.CODE'}}</th>
          <th>{{translate 'STOCK.INVENTORY'}}</th>
          <th>{{translate 'STOCK.LOT'}}</th>
          <th>{{translate 'STOCK.EXPIRATION'}}</th>
          <th>{{translate 'INVENTORY_ADJUSTMENT.OLD_QUANTITY'}}</th>
          <th>{{translate 'INVENTORY_ADJUSTMENT.NEW_QUANTITY'}}</th>
          <th>{{translate 'INVENTORY_ADJUSTMENT.DIFFERENCE'}}</th>
          <th>{{translate 'STOCK.UNIT_COST'}}</th>
          <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each decreasedAdjustment}}
          <tr>
            <td>{{code}}</td>
            <td>{{text}}</td>
            <td>{{label}}</td>
            <td>{{date expiration_date}}</td>
            <td class="text-right">{{old_quantity}}</td>
            <td class="text-right">{{new_quantity}}</td>
            <td class="text-right">{{difference}}</td>
            <td class="text-right">{{currency unit_cost ../enterprise.currency_id}}</td>
            <td class="text-right">{{currency total ../enterprise.currency_id}}</td>
          </tr>
        {{else}}
          {{> emptyTable columns=9}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="font-weight: bold;">
          <td colspan="8">{{decreasedAdjustment.length}} {{translate 'STOCK.ITEMS'}}</td>
          <td class="text-right">{{currency (sum decreasedAdjustment 'total') enterprise.currency_id}}</td>
        </tr>
      </tfoot>
    </table>
  {{else}}
    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr>
          <th>{{translate 'STOCK.CODE'}}</th>
          <th>{{translate 'STOCK.INVENTORY'}}</th>
          <th>{{translate 'STOCK.LOT'}}</th>
          <th>{{translate 'STOCK.EXPIRATION'}}</th>
          <th>{{translate 'STOCK.QUANTITY'}}</th>
          <th>{{translate 'STOCK.UNIT_COST'}}</th>
          <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
          <tr>
            <td>{{code}}</td>
            <td>{{text}}</td>
            <td>{{label}}</td>
            <td>{{date expiration_date}}</td>
            <td class="text-right">{{quantity}}</td>
            <td class="text-right">{{currency unit_cost ../enterprise.currency_id}}</td>
            <td class="text-right">{{currency total ../enterprise.currency_id}}</td>
          </tr>
        {{else}}
          {{> emptyTable columns=9}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="font-weight: bold;">
          <td colspan="6">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
          <td class="text-right">{{currency (sum rows 'total') enterprise.currency_id}}</td>
        </tr>
      </tfoot>
    </table>
  {{/equal}}

  <br>

  <footer>
    <div class="row">
      <div class="col-xs-6">
        <h4 class="text-center">{{translate 'REPORT.FOOTER.APPROVED_BY'}}</h4>
        <hr>
      </div>

      <div class="col-xs-6">
        <h4 class="text-center">{{translate 'REPORT.FOOTER.DEPOT_MANAGER'}}</h4>
        <hr>
      </div>
    </div>
  </footer>
  {{#if metadata.enterprise.settings.enable_barcodes}}
    <script>JsBarcode('.barcode').init();</script>
  {{/if}}
</div>
