{{> head title="REPORT.AGGREGATED_STOCK_CONSUMPTION.TITLE" }}

<body>

  <div class="container">
  {{> header}}
    <!-- body  -->
    <div class="row">
      <div class="col-xs-12">

        <!-- page title  -->
        <h2 class="text-center text-uppercase">
          {{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.TITLE'}}
        </h2>

        {{#if inventoryGroupName}}
        <h2 class="text-center">
          {{inventoryGroupName}}
        </h2>
        {{/if}}

        <h3 class="text-center">
          {{#if depot.text}}{{depot.text}}{{/if}}
        </h3>

        <h4 class="text-center">
          {{date dateFrom}} - {{date dateTo}}
        </h4>

        <br>

        <!-- list of data  -->
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color:#ddd;">
              <th style="border-bottom: 0;"></th>
              <th style="border-bottom: 0;"></th>
              <th class="text-center" colspan=5>{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.DISTRIBUTED_TO'}}</th>
              <th class="text-center" colspan=4>{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.DISTRIBUTED_TO_PATIENTS'}}</th>
            </tr>
            <tr style="background-color:#ddd;">
              <th class="text-center">{{translate 'STOCK.CODE'}}</th>
              <th>{{translate 'FORM.LABELS.DESIGNATION'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.NUMBER_DISTRIBUTIONS'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.MIN_QUANTITY_DISTRIBUTED'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.MAX_QUANTITY_DISTRIBUTED'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.AVG_QUANTITY_DISTRIBUTED'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.TOTAL_QUANTITY_DISTRIBUTED'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.NUM_DISTRIBUTIONS_TO_PATIENTS'}}</th>
              <th class="text-center">{{translate 'TABLE.AGGREGATES.NUM_PATIENTS'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.QUANTITY_DISTRIBUTED_TO_PATIENTS'}}</th>
              <th class="text-center">{{translate 'REPORT.AGGREGATED_STOCK_CONSUMPTION.AVG_DISTRIBUTION_PER_PATIENT'}}</th>
            </tr>
          </thead>
          <tbody>
            {{!-- for each depot --}}
            {{#each depots as | items depot_name |}}

              <!-- depot group header -->
              <tr style="border:none; background-color:#eee;">
                <th style="border:none; border-bottom: solid black 2px;" class="text-uppercase" colspan="7">
                  {{ depot_name }}
                </th>

                <th colspan="4" style="border:none; border-bottom: solid black 2px;" class="text-right">
                  ({{ items.length }} {{ translate "TABLE.AGGREGATES.RECORDS" }})
                </th>
              </tr>

              <!-- the items for this depot -->
              {{#each items}}
              <tr>
                <td class="text-right">{{code}}</td>
                <td>{{inventory_name}}</td>
                <td class="text-right">{{num_distributions}}</td>
                <td class="text-right">{{min_quantity}}</td>
                <td class="text-right">{{max_quantity}}</td>
                <td class="text-right">{{avg_distribution}}</td>
                <td class="text-right">{{quantity}}</td>
                <td class="text-right">{{num_distributions_patients}}</td>
                <td class="text-right">{{num_patients}}</td>
                <td class="text-right">{{quantity_patients}}</td>
                <td class="text-right">{{avg_distribution_per_patient}}</td>
              </tr>
              {{else}}
                {{> emptyTable columns=11}}
              {{/each}}
            {{/each}}
          </tbody>
        </table>
        {{#if accumulatedResults}}
        <p class="text-left">{{accumulatedResults.length}} {{translate 'TABLE.AGGREGATES.RECORDS'}}</p>
        {{/if}}
        </div>
    </div>
  </div>
</body>