{{> head }}

<body>

  {{> header }}

  <style>
    .card {
      border: 1px solid #A0A0A0;
      padding: 10px;
    }
    .card .title {
      margin: 0;
      padding: 0;
      margin-bottom: 5px;
    }
    .card .value {
      font-size: 2em;
    }
  </style>

  {{> exchangeRate rate=exchangeRate currencyId=currencyId}}

  <div class="row">
    <div class="col-xs-6">
      <div class="card" >
        <label class="title">{{translate 'STOCK.EXPIRED'}}</label>
        <div class="details text-right text-danger">
          <b class="value">{{currency totals.expired.value currencyId}}</b>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="card">
        <label class="title">{{translate 'STOCK.STATUS.IS_IN_RISK_OF_EXPIRATION'}}</label>
        <div class="details text-right text-warning">
          <b class="value">{{currency totals.at_risk_of_stock_out.value currencyId}}</b>
        </div>
      </div>
    </div>
  </div>

  {{#each result as |depot|}}
    <h4 style="margin-top: 1em;"><b>{{depot.depot_name}}</b></h4>

    <table class="table table-condensed table-bordered table-report">
      <thead>
        <tr>
          <th width="30%">{{translate 'STOCK.INVENTORY'}}</th>
          <th width="10%">{{translate 'STOCK.CODE'}}</th>
          <th width="10%">{{translate 'STOCK.LOT'}}</th>
          <th width="5%">{{translate 'STOCK.EXPIRATION'}}</th>
          <th width="5%">{{translate 'STOCK.CMM'}}</th>
          <th width="5%">{{translate 'STOCK.CURRENT_QUANTITY'}}</th>
          <th width="5%">{{translate 'STOCK.RISK_QUANTITY'}}</th>
          <th width="5%">{{translate 'TABLE.COLUMNS.UNIT'}}</th>
          <th width="5%">{{translate 'REPORT.STOCK.UNIT_COST'}}</th>
          <th width="5%">{{translate 'STOCK.RISK_VALUE'}}</th>
          <th width="15%">{{translate 'STOCK.STATUS.LABEL'}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each depot.rows as |lot| }}
          <tr>
            <td>{{lot.text}}</td>
            <td>{{lot.code}}</td>
            <td>{{lot.label}}</td>
            <td>{{date lot.expiration_date}}</td>
            <td class="text-right">{{lot.avg_consumption}}</td>
            <td class="text-right">{{lot.quantity}}</td>
            <td class="text-right">{{lot.quantity_at_risk}}</td>
            <td>{{translate lot.unit_type}}</td>
            <td class="text-right">{{currency lot.unit_cost ../../currencyId}}</td>
            <td class="text-right">{{currency lot.value ../../currencyId}}</td>
            <td class="{{lot.classKey}}">{{translate lot.statusKey}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th class="text-right" style="margin-right: 0.5em;" colspan="9">{{translate 'TABLE.COLUMNS.TOTAL'}}:</th>
          <th class="text-right">{{currency depot.total ../currencyId}}</th>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <br />
  {{else}}
    <table>
      <tbody>{{> emptyTable columns=10}}</tbody>
    </table>
  {{/each}}
</body>
