{{> head title="TREE.STOCK_MOVEMENTS" }}

<body>

  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-uppercase">
        {{translate 'TREE.STOCK_MOVEMENTS'}}
      </h2>

      <h4 class="text-center">
        {{date}}
      </h4>

      <!-- filters  -->
      {{#if hasFilter}}

        <p class="pills">
          {{#each filters}}
            <span class="label label-primary text-capitalize">
              <i class="fa fa-filter"></i> {{translate this.displayName}}

              {{#if this.comparitor}} {{this.comparitor}}
              {{else}}: {{/if}}

              {{#if this.isDate}} {{date this.value}}
              {{else}} {{translate this.value}} {{/if}}
            </span>
          {{/each}}
        </p>

      {{/if}}

      <!-- list of data  -->
      <table class="table table-condensed table-bordered table-report">
        <thead>
          <tr>
            <th>{{translate 'STOCK.IO'}}</th>
            <th>{{translate 'STOCK.INVENTORY'}}</th>
            <th>{{translate 'STOCK.LOT'}}</th>
            <th>{{translate 'STOCK.QUANTITY'}}</th>
            <th>{{translate 'STOCK.UNIT_COST'}}</th>
            <th>{{translate 'STOCK.COST'}}</th>
            <th>{{translate 'FORM.LABELS.DATE'}}</th>
            <th>{{translate 'STOCK.FLUX'}}</th>
          </tr>
        </thead>
        <tbody>
          {{!-- for each depots which contains inventories --}}
          {{#each depots as | items name |}}

            <!-- this is the depot group header -->
            <tr style="border:none">
              <th style="border:none; border-bottom: solid black 2px;" class="text-uppercase">
                {{ name }}
              </th>

              <th colspan="7" style="border:none; border-bottom: solid black 2px;" class="text-right">
                ({{ items.length }} {{ translate "TABLE.AGGREGATES.RECORDS" }})
              </th>
            </tr>

            <!-- these are the items for each group -->
            {{#each items as | item | }}
              {{#if is_exit}}
                <tr class="text-danger">
                  <td>
                    <span>{{translate 'STOCK.OUTPUT'}}</span>
                  </td>
                  <td>{{text}}</td>
                  <td>{{label}}</td>
                  <td class="text-right">{{quantity}}</td>
                  <td class="text-right">{{unit_cost}}</td>
                  <td class="text-right">{{multiply quantity unit_cost}}</td>
                  <td>{{date date}}</td>
                  <td>{{translate flux_label}}</td>
                </tr>
              {{else}}
                <tr>
                  <td>
                    <span>{{translate 'STOCK.INPUT'}}</span>
                  </td>
                  <td>{{text}}</td>
                  <td>{{label}}</td>
                  <td class="text-right">{{quantity}}</td>
                  <td class="text-right">{{unit_cost}}</td>
                  <td class="text-right">{{multiply quantity unit_cost}}</td>
                  <td>{{date date}}</td>
                  <td>{{translate flux_label}}</td>
                </tr>
              {{/if}}
            {{/each}}

            <!-- blank row  -->
            {{#unless @last }}
              <!-- blank line -->
              <tr style="border:none;">
                <th style="border:none;"></th>
              </tr>
            {{/unless}}

          {{else}}
            {{> emptyTable columns=7}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr style="font-weight: bold;">
            <td colspan="10">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</body>
