{{> head title="REPORT.STOCK.EXIT_REPORT" }}

<body class="container-fluid">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center">
        {{translate 'REPORT.STOCK.EXIT_REPORT'}}
      </h2>

      <h1 class="text-center">
        {{ depotName }}
      </h1>

      <h4 class="text-center">
        {{date dateFrom}} - {{date dateTo}}
      </h4>

      {{#unless isEnterpriseCurrency}}
        <div class="alert alert-warning">
          <p>{{translate "REPORT.REPORT_ACCOUNTS.WARN_CURRENCY"}}</p>
        </div>
      {{/unless}}

      <br/>

      <!-- stock exit to patient -->
      {{#if includePatientExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5">{{translate 'STOCK.RECEIPT.EXIT_PATIENTS'}}</th>
              <th colspan="2" class="text-right">{{currency exitToPatient.cost currencyId}}</th>
            </tr>
          </thead>
          {{#each exitToPatient.data as | data |}}
            <thead>
              <tr>
                <th colspan="3">{{ data.inventory_name }}</th>
                <th colspan="2" class="text-right">{{ data.inventory_stock_exit_quantity }} {{ data.inventory_unit }}</th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../currencyId}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none; width: 40%;">({{ patient_reference }}) {{ patient_display_name }}</td>
                    <td class="text-left" style="border:none; width: 15%">
                      {{#if invoice_reference}}
                        {{translate 'FORM.LABELS.INVOICE' }}: <b>{{ invoice_reference }}</b>
                      {{/if}}
                    </td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} {{ unit_text }}</td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../currencyId}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../currencyId}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToPatient.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit to service -->
      {{#if includeServiceExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5">{{translate 'STOCK.RECEIPT.EXIT_SERVICES'}} <small>{{translate 'STOCK.BY_INVENTORY'}}</small></th>
              <th colspan="2" class="text-right">{{currency exitToService.cost currencyId}}</th>
            </tr>
          </thead>
          {{#each exitToService.data as | data |}}
            <thead>
              <tr>
                <th colspan="3">{{ data.inventory_name }}</th>
                <th colspan="2" class="text-right">{{ data.inventory_stock_exit_quantity }} {{ data.inventory_unit }}</th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../currencyId}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none; width: 40%;">{{ service_display_name }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} {{ unit_text }}</td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../currencyId}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../currencyId}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToService.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit to service grouped by service -->
      {{#if includeGroupedServiceExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5">{{translate 'STOCK.RECEIPT.EXIT_SERVICES'}} <small>{{translate 'STOCK.BY_SERVICE'}}</small></th>
              <th colspan="2" class="text-right">{{currency exitToServiceGrouped.cost currencyId}}</th>
            </tr>
          </thead>
          {{#each exitToServiceGrouped.data as | data |}}
            <thead>
              <tr>
                <th colspan="5">{{ data.inventory_name }}</th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../currencyId}}</th>
              </tr>
            </thead>

            {{#each data.subset.data as | newData |}}
              <thead>
                <tr>
                  <th style="padding-left: 30px;" colspan="3">{{ newData.inventory_name }}</th>
                  <th colspan="2" class="text-right">{{ newData.inventory_stock_exit_quantity }} {{ newData.inventory_unit }}</th>
                  <th colspan="2" class="text-right">{{currency newData.inventory_stock_exit_cost ../../currencyId}}</th>
                </tr>
              </thead>

              {{#if ../../showDetails}}
                <tbody>
                  {{#each newData.inventory_stock_exit_data as | item |}}
                    <tr>
                      <td style="border:none; width: 20%; padding-left: 60px;"><b>{{ document_reference }}</b></td>
                      <td class="text-left" style="border:none; width: 40%;">{{ text }}</td>
                      <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                      <td style="border:none;">{{date date }}</td>
                      <td class="text-right" style="border:none;">{{ quantity }} {{ unit_text }}</td>
                      <td class="text-right" style="border:none;">{{currency unit_cost ../../../currencyId}}</td>
                      <td class="text-right" style="border:none;">{{currency cost ../../../currencyId}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              {{/if}}
            {{/each}}

          {{/each}}

          <!-- no data -->
          {{#if exitToService.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit to other depot -->
      {{#if includeDepotExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5">{{translate 'STOCK.RECEIPT.EXIT_DEPOT'}}</th>
              <th colspan="2" class="text-right">{{currency exitToDepot.cost currencyId}}</th>
            </tr>
          </thead>
          {{#each exitToDepot.data as | data |}}
            <thead>
              <tr>
                <th colspan="3">{{ data.inventory_name }}</th>
                <th colspan="2" class="text-right">{{ data.inventory_stock_exit_quantity }} {{ data.inventory_unit }}</th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../currencyId}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none;  width: 40%;">{{ depot_name }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} {{ unit_text }}</td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../currencyId}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../currencyId}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToDepot.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br/>

      <!-- stock exit as loss -->
      {{#if includeLossExit}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5">{{translate 'STOCK.RECEIPT.EXIT_LOSS'}}</th>
              <th colspan="2" class="text-right">{{currency exitToLoss.cost currencyId}}</th>
            </tr>
          </thead>
          {{#each exitToLoss.data as | data |}}
            <thead>
              <tr>
                <th colspan="3">{{ data.inventory_name }}</th>
                <th colspan="2" class="text-right">{{ data.inventory_stock_exit_quantity }} {{ data.inventory_unit }}</th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../currencyId}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none;  width: 40%;">{{ description }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} {{ unit_text }}</td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../currencyId}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../currencyId}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitToLoss.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br>

      <!-- stock exit aggregate consumption -->
      {{#if includeAggregateConsumption}}
        <table class="table table-condensed table-report">
          <thead>
            <tr style="background-color: #EFEFEF;">
              <th colspan="5">{{translate 'STOCK.RECEIPT.AGGREGATE_CONSUMPTION'}}</th>
              <th colspan="2" class="text-right">{{currency exitAggregateConsumption.cost currencyId}}</th>
            </tr>
          </thead>
          {{#each exitAggregateConsumption.data as | data |}}
            <thead>
              <tr>
                <th colspan="3">{{ data.inventory_name }}</th>
                <th colspan="2" class="text-right">{{ data.inventory_stock_exit_quantity }} {{ data.inventory_unit }}</th>
                <th colspan="2" class="text-right">{{currency data.inventory_stock_exit_cost ../currencyId}}</th>
              </tr>
            </thead>

            {{#if ../showDetails}}
              <tbody>
                {{#each data.inventory_stock_exit_data as | item |}}
                  <tr>
                    <td style="border:none; width: 20%; padding-left: 30px;"><b>{{ document_reference }}</b></td>
                    <td class="text-left" style="border:none;  width: 40%;">{{ description }}</td>
                    <td class="text-left" style="border:none; width: 15%">&nbsp;</td>
                    <td style="border:none;">{{date date }}</td>
                    <td class="text-right" style="border:none;">{{ quantity }} {{ unit_text }}</td>
                    <td class="text-right" style="border:none;">{{currency unit_cost ../../currencyId}}</td>
                    <td class="text-right" style="border:none;">{{currency cost ../../currencyId}}</td>
                  </tr>
                {{/each}}
              </tbody>
            {{/if}}

          {{/each}}

          <!-- no data -->
          {{#if exitAggregateConsumption.isEmpty}}
            <tr><th colspan="7" class="text-center">{{translate 'STOCK.NO_DATA'}}</th></tr>
          {{/if}}
        </table>
      {{/if}}

      <br>

      <p>*<em>{{translate 'STOCK.STOCK_COST_DESCRIPTION'}}</em></p>
      <p>*<em>{{translate 'STOCK.STOCK_UNIT_COST_ROUNDED'}}</em></p>
    </div>
  </div>
</body>
