
{{> barcode-header }}
{{> point-of-sale-stylesheet }}
<body>
<p style="text-transform: uppercase; text-align:center; margin : 0px;"><b>{{enterprise.name}}</b></p>
{{#if metadata.enterprise.logo}}
  <div style="text-align: center; margin : 0px;">
    <img src="{{absolutePath}}/{{slashed metadata.enterprise.logopath}}" width="40" height="40" alt="">
  </div>
{{/if}}
<h2 style="text-align: center; margin : 0px">{{translate 'STOCK.RECEIPT.EXIT_DEPOT'}}</h2>
<hr />
<p style="margin-top: 0px">
  <span class="text-capitalize">{{translate 'STOCK.DEPOT'}}</span> : <strong>{{exit.details.depot_name}}</strong> <br>
  <span class="text-capitalize">{{translate 'FORM.LABELS.REFERENCE'}}</span> : <strong>{{exit.details.document_reference}}</strong> <br>
  {{#if exit.details.document_requisition}}
    <span>{{translate 'FORM.LABELS.REQUISITION_REFERENCE'}}</span>: <strong>{{exit.details.document_requisition}}</strong> <br>
  {{/if}}

  {{date details.date}} {{translate 'FORM.LABELS.BY'}} {{exit.details.user_display_name}}
</p>

{{#if metadata.enterprise.settings.enable_barcodes}}
  <small>{{> barcode value=exit.details.barcode}}</small><br>
{{/if}}
<hr />
<div>
  <span class="text-capitalize">{{translate 'STOCK.TO'}}</span> : <strong>{{exit.details.otherDepotName}}</strong> <br>
</div>
<hr />

{{#if details.description}}
  <div style="text-align: left;">
    <strong>{{translate 'FORM.LABELS.DESCRIPTION'}}</strong><br>
    {{details.description}}
  </div>
{{/if}}

<!-- list of data  -->
<table style="width: 100%;" class="table table-condensed table-bordered table-report">
  <thead>
    <tr>
      <th style="text-align: left;">{{translate 'STOCK.INVENTORY'}}</th>
      <th style="text-align: left;">{{translate 'STOCK.QUANTITY'}}</th>
      <th style="text-align: left;">{{translate 'STOCK.UNIT_COST'}}</th>
      <th style="text-align: left;">{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <td>({{code}}) {{text}}, {{label}}</td>
        <td class="text-right">{{quantity}} ({{unit}})</td>
        <td class="text-right">{{currency unit_cost ../enterprise.currency_id}}</td>
        <td class="text-right">{{currency total ../enterprise.currency_id}}</td>
      </tr>
    {{else}}
      {{> emptyTable columns=4}}
    {{/each}}
  </tbody>
  <tfoot>
    <tr style="font-weight: bold;">
      <td colspan="3">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
      <td class="text-right">{{currency (sum rows 'total') enterprise.currency_id}}</td>
    </tr>
  </tfoot>
</table>

<br>

<footer>
  <div>
    <h4 class="text-center">{{translate 'REPORT.FOOTER.APPROVED_BY'}}</h4>
    <hr>
  </div>

  <div>
    <h4 class="text-center">{{translate 'REPORT.FOOTER.DEPOT_MANAGER'}}</h4>
    <hr>
  </div>
</footer>
 {{#if metadata.enterprise.settings.enable_barcodes}}
  <script>JsBarcode('.barcode').init();</script>
{{/if}}
</body>
