
{{> head}}
<body>
  <div class="container-fluid">

    {{#> header}}
      <h4 class="text-right">
        <strong class="text-capitalize">{{date dateFrom "MMMM YYYY"}}</strong>
          -
        <strong class="text-capitalize">{{date dateTo "MMMM YYYY"}}</strong>
      </h4>
    {{/header}}

    <!-- body -->
    <div class="row">
      <div class="col-xs-12">

        <!-- @TODO convert to exchangeRate partial -->
        {{#if this.lastRateUsed}}
          <h5 class="text-center">
            {{translate 'EXCHANGE.EXCHANGE_RATES'}} :
            {{currency 1 this.firstCurrency}} = {{currency this.lastRateUsed this.secondCurrency}}
            <i>(<span>{{translate 'EXCHANGE.AT_THE_DATE'}}</span> {{date this.dateToMonth}})</i>
          </h5>
          <div class="alert alert-warning" style="margin-top: 0.5em;">
            <p>{{translate "REPORT.REPORT_ACCOUNTS.WARN_CURRENCY"}}</p>
          </div>
        {{/if}}

        <table style="page-break-after: always;" class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <tr>
              <th>{{translate 'FORM.LABELS.COST_CENTER'}}</th>
              <th>{{translate 'FORM.LABELS.INCOME'}}</th>
              <th>{{translate 'FORM.LABELS.EXPENSE'}}</th>
              <th>{{translate 'FORM.LABELS.BALANCE'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each data as | item |}}
              <tr>
                <td>{{ item.label }}</td>
                <td class="text-right">{{debcred item.income ../currencyId}}</td>
                <td class="text-right">{{debcred item.expense ../currencyId}}</td>
                <td class="text-right">{{debcred item.balance ../currencyId}}</td>
              </tr>
            {{else}}
              {{> emptyTable columns=4}}
            {{/each}}
          </tbody>
          <tfoot>
            {{#each totals as | total |}}
              <tr>
                <th>{{translate 'FORM.LABELS.TOTAL'}}</th>
                <th class="text-right">{{debcred total.income ../currencyId}}</th>
                <th class="text-right">{{debcred total.expense ../currencyId}}</th>
                <th class="text-right">{{debcred total.balance ../currencyId}}</th>
              </tr>
            {{/each}}
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</body>
