{{> head }}
<body>

  <div class="container-fluid">
    {{#> header}}
      <h4 class="text-right">
        <strong class="text-capitalize">{{date dateFromMonth "MMMM YYYY"}}</strong>
          -
        <strong class="text-capitalize">{{date dateToMonth "MMMM YYYY"}}</strong>
      </h4>
    {{/header}}

    <!-- body -->
    <div class="row">
      <div class="col-xs-12">

        {{> exchangeRate rate=rate currencyId=currencyId date=dateToMonth}}

        {{!-- VIEW OF COST CENTER ALLOCATION --}}
        <p><strong>{{translate 'COST_CENTER.ALLOCATION_BY_COST_CENTERS'}}</strong></p>
        <p>P : {{translate 'COST_CENTER.PRINCIPAL'}}</p>
        <table style="page-break-after: always;" class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <tr>
              <th>{{translate 'FORM.LABELS.SERVICE'}}</th>
              <th>{{translate 'COST_CENTER.DIRECT_COST'}}</th>
              <th>{{translate 'COST_CENTER.ALLOCATION_BASIS'}}</th>
              {{#each data as | service |}}
                {{#unless service.is_principal}}
                <th>{{ service.cost_center_label }}</th>
                <th style="width: 3em;">%</th>
                {{/unless}}
              {{/each}}
              <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each hView as | service |}}
              <tr>
                <td>
                  {{#if service.principal}}
                    <strong>{{ service.name }}</strong> <em>(P)</em>
                  {{else}}
                    {{ service.name }}
                  {{/if}}
                </td>
                <td class="text-right">{{debcred service.direct ../currencyId}}</td>
                <td>
                  {{#if service.auxiliary}}
                    {{translate service.allocation_basis}}
                  {{/if}}
                </td>
                {{#each service.values as | distribution |}}
                  {{#if distribution.selfCenter}}
                    <td class="text-right">{{debcred distribution.selfCenterValue ../../currencyId}}</td>
                  {{else}}
                    <td class="text-right">{{debcred distribution.value ../../currencyId}}</td>
                  {{/if}}
                  <td class="text-right">{{#if distribution.ratio}}{{percentage distribution.ratio 1}}{{/if}}</td>
                {{/each}}
                <td class="text-right">{{debcred service.total ../currencyId}}</td>
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <tr>
              <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
              <th class="text-right">{{debcred directCostTotal currencyId}}</th>
              <th></th>
              {{#each cumulatedAllocatedCosts as | value |}}
                <th class="text-right">{{debcred value ../currencyId}}</th>
                <th></th>
              {{/each}}
              <th class="text-right">{{debcred totalAfterAllocation currencyId}}</th>
            </tr>
          </tfoot>
        </table>

        {{#if this.showAllocationsTable}}
        <hr>

        <p><strong>{{translate 'COST_CENTER.ALLOCATION_BASIS_TABLE'}}</strong></p>

        <table style="width: auto; page-break-after: always;" class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <tr>
              <th>{{translate 'COST_CENTER.TITLE'}}</th>
              {{#each allocationColumns as | value |}}
                <th>{{translate value }}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each allocationRows as | row |}}
              <tr>
                <td>{{translate row.centerName }}</td>
                {{#each row.allocationValues as | value |}}
                  <td class="text-right">{{ value }}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}
      </div>
    </div>
  </div>
</body>

