{{> head title="REQUISITION.STOCK_REQUISITION" }}

<!-- body  -->
<div class="container" style="font-size: 0.9em;">

  <header>
    <!-- headings  -->
    <div class="row">
      {{> enterpriseDetails }}

      <div class="col-xs-5 text-right">
        <h3 style="margin: 0px;">
          <span class="text-uppercase">{{translate 'REQUISITION.STOCK_REQUISITION'}}</span><br>
          {{#if details.service_requestor}}
            <strong>{{details.service_requestor}}</strong>
          {{/if}}
          {{#if details.depot_requestor}} 
            <strong>{{details.depot_requestor}}</strong>
          {{/if}}
          <br>
        </h3>
        <small>{{> barcode value=barcode}}</small>
      </div>
    </div>

    <!-- client and user details  -->
    <div class="row" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;">
      <div class="col-xs-6">
        <h4>{{translate 'FORM.LABELS.SUPPLIER'}}</h4>
        <span class="text-capitalize">{{translate 'STOCK.DEPOT'}}</span>: <strong>{{details.depot_text}}</strong> <br>
        <span class="text-capitalize">{{translate 'FORM.LABELS.REFERENCE'}}</span>: <strong>{{details.reference}}</strong> <br>
      </div>
      <div class="col-xs-6">
        <h4>{{translate 'STOCK.TO'}}</h4>
          {{#if details.service_requestor}}
            <span class="text-capitalize">{{translate 'FORM.LABELS.SERVICE'}}</span>: 
            <span>{{details.service_requestor}}</span><br>
          {{/if}}
          {{#if details.depot_requestor}}
            <span class="text-capitalize">{{translate 'FORM.LABELS.DEPOT'}}</span>: 
            <span>{{details.depot_requestor}}</span><br>
          {{/if}}
        <span class="text-capitalize">{{translate 'FORM.LABELS.DATE'}}</span>: <strong>{{date details.date}}</strong> <br>
        <span class="text-capitalize">{{translate 'FORM.LABELS.AUTHOR'}}</span>: <strong>{{details.user_display_name}}</strong> <br>
      </div>
    </div>
  </header>

  {{#if details.description}}
  <blockquote>
    <strong>{{translate 'FORM.LABELS.NOTE'}}</strong><br>
    {{details.description}}
  </blockquote>
  {{/if}}

  <!-- list of data  -->
  <table class="table table-condensed table-bordered table-report">
    <thead>
      <tr>
        <th>{{translate 'STOCK.CODE'}}</th>
        <th>{{translate 'STOCK.INVENTORY'}}</th>
        <th class="text-right">{{translate 'STOCK.QUANTITY'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#if details.items}}
        {{#each details.items as | item |}}
        <tr>
          <td>{{item.code}}</td>
          <td>{{item.text}}</td>
          <td class="text-right">{{item.quantity}}</td>
        </tr>
        {{/each}}
      {{else}}
        {{> emptyTable columns=3}}
      {{/if}}
    </tbody>
  </table>

  <br>

  <footer>
    <div class="row">
      <div class="col-xs-6">
        <h4>{{translate 'STOCK.RESPONSIBLE'}}</h4>
        <hr>
      </div>

      <div class="col-xs-6 text-center">
        <h4>{{translate 'REQUISITION.RECEIVER'}}</h4>
        <hr>
        (
          {{#if details.service_requestor}}
            <strong>{{details.service_requestor}}</strong>
          {{/if}}
          {{#if details.depot_requestor}}
            <strong>{{details.depot_requestor}}</strong>
          {{/if}}
        )
      </div>
    </div>
  </footer>
  <script>JsBarcode('.barcode').init();</script>
</div>
