{{> head title="TREE.PATIENT_INVOICE"}}

<div class="container-fluid">

  <!-- header  -->
  <div class="row">

    <div class="col-xs-4">
      <h3 style="margin:2px;">{{ metadata.enterprise.name }}</h3>
      <p style="margin:2px;">
        {{translate 'FORM.LABELS.PROJECT'}}: {{ metadata.project.name }}<br>
        {{translate 'FORM.LABELS.PHONE'}}: {{ metadata.enterprise.phone }}<br>
        {{translate 'FORM.LABELS.EMAIL'}}: {{ metadata.enterprise.email }}<br>
        {{translate 'FORM.LABELS.ADDRESS'}}: {{ metadata.enterprise.location }}
      </p>
    </div>

    <!-- invoice details  -->
    <div class="col-xs-4">
      <div class="text-right">
        <h3 style="margin:2px;"><b>{{translate "FORM.LABELS.SALE_ID"}} : {{reference}}</b></h3>
        <h3 style="margin:2px;">{{date date}}</h3>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="text-right">
        <h3 style="margin:2px;">{{translate "TREE.PATIENT_INVOICE"}}</h3>
        <p style="margin:2px;">
          {{recipient.display_name}}<br>
          {{translate 'FORM.LABELS.PATIENT_ID'}}: {{recipient.reference}}<br>
          {{translate 'FORM.LABELS.GROUPS_DEBTOR_TITLE'}}: {{recipient.debtor_group_name}}<br>
          {{translate 'FORM.LABELS.HOSPITAL_FILE_NR'}}: {{recipient.hospital_no}}
        </p>
      </div>
    </div>

  </div>

  <!-- invoice  -->
  <h4>
    <u>{{translate 'FORM.LABELS.INVOICE'}}</u>
  </h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{translate 'TABLE.COLUMNS.REFERENCE'}}</th>
        <th>{{translate 'TABLE.COLUMNS.DATE'}}</th>
        <th>{{translate 'FORM.LABELS.CLIENT'}}</th>
        <th>{{translate 'TABLE.COLUMNS.DESCRIPTION'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.AMOUNT'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.BY'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{reference}}</td>
        <td>{{date date}}</td>
        <td>{{debtor_name}}</td>
        <td>{{description}}</td>
        <td class="text-right">{{currency cost}}</td>
        <td class="text-right">{{display_name}}</td>
      </tr>
    </tbody>
  </table>

  <!-- invoice details  -->
  {{#if items.length}}
  <h4>
    <u>{{translate 'FORM.LABELS.INVOICES_DETAILS'}}</u>
  </h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{translate 'TABLE.COLUMNS.CODE'}}</th>
        <th>{{translate 'TABLE.COLUMNS.DESCRIPTION'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.UNIT_PRICE'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.QUANTITY'}}</th>
        <th class="text-right">{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td>{{this.code}}</td>
        <td>{{this.text}}</td>
        <td class="text-right">{{currency this.transaction_price}}</td>
        <td class="text-right">{{quantity}}</td>
        <td class="text-right">{{currency (multiply this.transaction_price quantity)}}</td>
      </tr>
      {{/each}}
      <tr>
        <td colspan="4" class="text-right">{{translate 'TABLE.COLUMNS.TOTAL'}}</td>
        <td class="text-right">{{currency (sum items 'transaction_price' 'quantity')}}</td>
      </tr>
    </tbody>
  </table>
  {{/if}}

  <div class="row">
    <div class="col-xs-6 col-xs-offset-6" >
      <!-- billing service  -->
      {{#if billing.length}}
        <h4>
          <u>{{translate 'FORM.LABELS.BILLING_SERVICES'}}</u> :
        </h4>
        <table style="width: 100%;">
          {{#each billing}}
            <tr>
              <td class="text-right">
                ({{this.label}} {{this.billing_value}}%
                {{translate 'FORM.LABELS.OF'}}
                {{currency (sum ../items 'transaction_price' 'quantity')}}) =
              </td>
              <td class="text-right">
                +{{currency this.value}}
              </td>
            </tr>
          {{/each}}
          <tr style="font-weight: bold;">
            <td class="text-right">{{translate 'FORM.LABELS.TOTAL'}} ({{translate 'FORM.LABELS.BILLING_SERVICES'}}) = </td>
            <td class="text-right">+{{currency (sum billing 'value')}}</td>
          </tr>
        </table>
      {{/if}}

      <!-- subsidies  -->
      {{#if subsidy.length}}
        <table style="width: 100%;">
          <tr>
            <td>
              <h4><u>{{translate 'FORM.LABELS.SUBSIDIES'}}</u> ({{subsidy.length}}) :</h4>
            </td>
            <td class="text-right">
              <b>-{{currency (sum subsidy 'value')}}</b>
            </td>
          </tr>
        </table>
      {{/if}}

      <!-- general total  -->
      <table style="width: 100%;">
        <tr>
          <td>
            <h1>{{translate 'FORM.LABELS.TOTAL'}} : </h1>
          </td>
          <td class="text-right">
            <h1><b>{{currency cost}}</b></h1>
          </td>
        </tr>
      </table>

    </div>
  </div>

  <h4>{{translate 'FORM.LABELS.SIGNATURE'}}</h4>

  <div class="row">
    <div class="col-xs-5">
      {{translate 'FORM.LABELS.SALE_RESPONSIBLE'}} <br />
      <br />
      <hr/>
    </div>
    <div class="col-xs-offset-2 col-xs-5">
      {{translate "FORM.LABELS.CLIENT"}} <br />
      <br />
      <hr/>
    </div>
  </div>
</div>
