<head>
  <meta charset="utf-8" />
  <script src="{{absolutePath}}/vendor/JsBarcode.all.min.js"></script>
</head>
<body>
<p><b style="text-transform : uppercase">{{translate 'HOME.BHIMA_FINANCE'}} - {{translate 'PATIENT_INVOICE.PAGE_TITLE'}}</b></p>
<!-- <p>----------------------------------------------------------------</p> -->
<div style="text-align : center;">{{> barcode value=barcode}}</div>
<p><b>{{recipient.display_name}}</b></p>
<p>{{recipient.debtor_group_name}}</p>
<p style="text-transform : uppercase">{{reference}} {{translate 'FORM.LABELS.ON'}} {{date date}} {{translate 'FORM.LABELS.BY'}} {{user.display_name}}</p>
<p>----------------------------------------------------------------</p>
<table style="width : 100%">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td>{{quantity}} x {{this.text}}</td>
    </tr>
    <tr>
      <td style="text-align : right;">{{currency (multiply this.transaction_price quantity) ../metadata.enterprise.currency_id}}</td>
    </td>
    {{/each}}
  </tbody>
</table>
<p>----------------------------------------------------------------</p>
<h2 style="text-align : right;">{{translate 'FORM.LABELS.TOTAL'}}: <b>{{currency cost metadata.enterprise.currency_id}}</b></h2>

<!-- Bill exchange -->
{{#if exchange}}
<span>{{{translate 'EXCHANGE.INVOICE_DISCLAIMER'}}}</span>
<br>
<span>{{{translate 'EXCHANGE.SET_AS'}}} 1:{{exchange}} {{{translate 'EXCHANGE.ON'}}} {{dateFormat}}</span>
<h2 style="text-align : right;">{{translate 'FORM.LABELS.TOTAL'}}: <b>{{{currency exchangedTotal receiptCurrency}}}</b></h2>
{{/if}}

<script>JsBarcode('.barcode').init();</script>
</body>

