<head>
  <title>{{translate "PATIENT_RECORDS.CHECK_IN.TITLE"}}</title>
  <link href="{{absolutePath}}/css/bhima-bootstrap.css" rel="stylesheet">
  <link href="{{absolutePath}}/vendor/components-font-awesome/css/font-awesome.css" rel="stylesheet">
  <meta charset="utf-8" /> 
  <style>
    .table-report{
      font-size: 0.8em;
    }

    .table-report tr td,
    .table-report tr th {
      padding : 1px;
    }
  </style>
</head>
<body>

  <!-- patient header -->
  <header>
    <section class="row">
      <!-- patient information -->
      <div class="col-xs-6">
        <div>
          <strong>{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</strong>

          <!-- patient age/sex symbol -->
          <span>
            {{#if patient.isMale}}
              <i class="fa fa-mars"></i>
            {{else}}
              <i class="fa fa-venus"></i>
            {{/if}}
            {{age patient.dob}}
          </span>

          <!-- patient locked indicator -->
          {{#if patient.locked}}
            <i class="fa fa-locked"></i>
          {{/if}}
        </div>

        <!-- patient identifier & registration date -->
        <div>{{patient.reference}} <span class="text-lowercase">{{translate "REPORT.SINCE"}}</span> {{date patient.registration_date}}</div>
        <div><i class="fa fa-h-square"></i> {{patient.hospital_no}}</div>

        <!-- patient group information -->
        <div><i class="fa fa-group"></i> {{patient.debtor_group_name}}</div>

        <!-- patient origin location information -->
        <div><i class="fa fa-home"></i> {{location.name}}, {{location.sector_name}}, {{location.province_name}}, {{location.country_name}}</div>
      </div>

      <!-- Report Metadata -->
      <div class="col-xs-6 text-right">
        <div><strong>{{translate "PATIENT_RECORDS.CHECK_IN.REPORT_TITLE"}}</strong></div>
        <div><i class="fa fa-hospital-o"></i> {{metadata.enterprise.name}}</div>
        <div>{{metadata.enterprise.location}}</div>
        <div><i class="fa fa-calendar"></i> {{translate "REPORT.PRODUCED_ON"}} {{timestamp metadata.timestamp}}</div>
        <div><i class="fa fa-user"></i> {{translate "REPORT.PRODUCED_BY"}} {{metadata.user.username}}</div>
      </div>
    </div>
  </header>

  <section class="text-center">
    <h4>{{translate "PATIENT_RECORDS.CHECK_IN.REPORT_TITLE"}}</h4>
  </section>

  <section>
    <table class="table table-bordered table-condensed table-report">
      <thead>
        <tr class="text-capitalize">
          <th class="text-center"><i class="fa fa-bookmark-o"></i></th>
          <th class="text-center">{{translate "TABLE.COLUMNS.DATE"}}</th>
          <th class="text-center">{{translate "TABLE.COLUMNS.ACTION"}}</th>
          <th class="text-center">{{translate "TABLE.COLUMNS.USER"}}</th>
        </tr>
      </thead>
      <tbody>

        <!-- initial patient registration -->
        <tr>
          <th class="text-center">{{patient.year}}</th>
          <td>{{date patient.registration_date}}</td>
          <td>{{translate "FORM.LABELS.DATE_REGISTRATION"}}</td>
          <td>{{patient.displayName}}</td>
        </tr>

        <!-- print a row for each checkin -->
        {{#each checkins as |records year|}}
          {{#each records}}
            {{#if @first}}
              <tr>
                <th rowspan="{{records.length}}" class="text-center">{{year}}</th>
                <td>{{timestamp this.start_date}}</td>
                <td>{{translate "PATIENT_RECORDS.CHECK_IN.TITLE"}}</td>
                <td>{{this.displayName}}</td>
              </tr>
            {{else}}
              <tr>
                <td>{{timestamp this.start_date}}</td>
                <td>{{translate "PATIENT_RECORDS.CHECK_IN.TITLE"}}</td>
                <td>{{this.displayName}}</td>
              </tr>
            {{/if}}
          {{/each}}
        {{else}}
          <tr>
            <td colspan="4" class="text-center">
              <i class="fa fa-warning"></i> {{translate "TABLE.COLUMNS.EMPTY"}}
            </td>
          </tr>
        {{/each}}
    </table>
    <p class="text-right">{{translate "FORM.LABELS.TOTAL"}} {{total}}</p>
  </section>
</body>
