{{> head title="PATIENT_REG.CARD" }}

<body class="container">

  <style>
    span { 
      font-size : 18px;
    }
  </style>
  <div class="row">
      
    <h4 style="margin-bottom : 0px;"><strong>{{patient.enterprise_name}} - {{translate "PATIENT_REG.IDENTITY"}}</strong></h4>
    <hr>

    <!-- left side is patient information -->
    <div class="col-xs-7">
      <h2 style="margin-top : 0px"><strong>{{patient.display_name}}</strong></h2>

      <span><u>{{translate "FORM.LABELS.DOB"}}</u> {{date patient.dob }}</span> <br />
      <span><u>{{translate "FORM.LABELS.SEX"}}</u> {{translate patient.sexFormatted }}</span> <br />
      {{#if patient.email}}
        <span><u>{{translate "FORM.LABELS.EMAIL"}}</u> {{patient.email}}</span><br />
      {{/if}}

      {{#if patient.telephone}}
        <span><u>{{translate "FORM.LABELS.TELEPHONE"}}</u> {{patient.telephone}}</span><br />
      {{/if}}

      <span><u>{{translate "FORM.LABELS.DEBTOR_GROUP"}}</u></span><br /> 
      <span>{{ patient.debtor_group_name }}</span><br />
      <span><u>{{translate "FORM.LABELS.ADDRESS"}}</u></span> <br />
      <address>
        <span>{{village.name}}, {{village.sector_name}}, {{village.province_name}}</span> <br />
        <span>{{village.country_name}}</span>
      </address>
    </div>

    <!-- right side is enterprise information -->
    <div class="col-xs-5" style="text-align:right;">
      <h2 style="margin-top : 0px"><strong>{{patient.reference}}</strong></h2>
      <span>{{translate "TABLE.COLUMNS.REGISTERED_ON"}} {{date patient.registration_date }}</span><br />
    </div>
  </div>

  <div class="row" style="margin-top: 1em;">
    <div class="col-xs-12">
      {{> barcode value=patient.barcode }}
    </div>
  </div>

  <script>JsBarcode('.barcode').init();</script>
</body>
