<head>
  <title>{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</title>
</head>
<link href="{{absolutePath}}/css/bhima-bootstrap.css" rel="stylesheet">

<table style="width:100%;">
  <tbody>
  <tr colspan="2">
      <th>
        <h1>
          <strong>
            {{patient.first_name}} {{patient.middle_name}}
          </strong>
        </h1>
      </th>
  </tr>
  <tr colspan="2">
      <td class="key" style="width:65%;">
        <h1>
          <strong>
            {{patient.last_name}} 
          </strong>
        </h1>
      </td>
      <td style="width:35%; font-size : 70px">
        <h1>
          <strong>
            {{patient.abbr}}{{patient.reference}}
          </strong>
        </h1>
      </td>
  </tr>
  </tbody>
</table>
<br>
<br>
<table>
  <tr>
    <td colspan="2">
      <h2>
        <strong>
          {{patient.enterprise_name}}
        </strong>
      </h2>          
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h2>
        <strong>
          {{translate "TABLE.COLUMNS.REGISTERED_ON"}} {{date patient.registration_date }}
        </strong>
      </h2>    
    </td>
  </tr> 
  <tr>
    <td style="width:65%; font-size : 70px">
      <h3>
        <strong>
          <span class="glyphicon glyphicon-user"></span> 
          {{date patient.dob }}
        </strong>
      </h3>    
    </td>
    <td style="width:35%; font-size : 70px"></td>    
  </tr>    
</table>

