{{> head title="PATIENT_REG.CARD" }}

<body class="container">
  <style>
    @page {
      /* A6 landscape */
      size: 148mm 105mm;
      margin : 1mm;
    }
  </style>

  <div class="row">

    <h5 style="margin-bottom : 0px;">
      <strong>{{patient.enterprise_name}} - {{translate "PATIENT_REG.IDENTITY"}}</strong>
    </h5>

    <hr />

    <!-- left side is patient information -->
    <div class="col-xs-7">
      <h2 style="margin-top : 0px"><strong>{{patient.display_name}}</strong></h2>

      <span><u>{{translate "FORM.LABELS.DOB"}}</u> {{date patient.dob }}</span> <br />
      <span><u>{{translate "FORM.LABELS.SEX"}}</u> {{translate patient.sexFormatted }}</span> <br />
      {{#if patient.email}}
        <span><u>{{translate "FORM.LABELS.EMAIL"}}</u> {{patient.email}}</span><br />
      {{/if}}

      {{#if patient.telephone}}
        <span><u>{{translate "FORM.LABELS.TELEPHONE"}}</u> {{patient.telephone}}</span><br />
      {{/if}}

      <span><u>{{translate "FORM.LABELS.DEBTOR_GROUP"}}</u></span><br />
      <span>{{ patient.debtor_group_name }}</span>

    </div>

    <!-- right side is enterprise information -->
    <div class="col-xs-5" style="text-align:right;">
      <h2 style="margin-top : 0px"><strong>{{patient.reference}}</strong></h2>
      <span>{{translate "TABLE.COLUMNS.REGISTERED_ON"}} {{date patient.registration_date }}</span><br />
      <span><b>{{translate "FORM.LABELS.HOSPITAL_NO"}}:</b> {{patient.hospital_no}}</span><br />
      {{#if patient.health_zone}}
      <span>{{translate "FORM.LABELS.HEALTH_ZONE"}}: {{patient.health_zone}}</span><br />
      {{/if}}
      {{#if patient.health_area}}
      <span>{{translate "FORM.LABELS.HEALTH_AREA"}}: {{patient.health_area}}</span><br />
      {{/if}}
    </div>
  </div>

  <!-- Information only shown on larger form identities -->
  {{#unless simplified}}
  <div class="row">
    <div class="col-xs-7">
      <span><u>{{translate "FORM.LABELS.ORIGIN"}}</u></span> <br />
      <address>
        <span>{{village.name}}, {{village.sector_name}}, {{village.province_name}}</span> <br />
        <span>{{village.country_name}}</span>
      </address>
    </div>

    <div class="col-xs-5">
      <span><u>{{translate "FORM.LABELS.ADDRESS"}}</u></span> <br />
      <address>
        <span>{{currentVillage.name}}, {{currentVillage.sector_name}}, {{currentVillage.province_name}}</span> <br />
        <span>{{currentVillage.country_name}}</span>
      </address>
    </div>
  </div>
  {{/unless }}

  {{#if metadata.enterprise.settings.enable_barcodes}}
  <div class="row" style="margin-top: 0.25em;">
    <div class="col-xs-12">
      {{> barcode value=patient.barcode }}
    </div>
  </div>

  <script>JsBarcode('.barcode').init();</script>
  {{/if}}
</body>
