<head>
  <meta charset="utf-8" />
  <script src="{{absolutePath}}/vendor/JsBarcode.all.min.js"></script>
</head>
<body>
<p><b style="text-transform : uppercase">{{patient.enterprise_name}}</b></p>
<h2 style="text-align : left; margin : 0px">{{patient.reference}}</h2>
<p style="margin-top : 0px">
  {{date patient.registration_date}} {{translate 'FORM.LABELS.BY'}} {{patient.userName}}
</p>

<div style="text-align:center">{{>barcode value=patient.barcode }}</div>

<h2 style="margin-bottom : 0px">{{patient.display_name}}</h2>
({{patient.reference}}) - {{patient.debtor_group_name}}
<p>----------------------------------------------------------------</p>
<p><u>{{translate "FORM.LABELS.DOB"}}</u>: {{date patient.dob }}</p>
<p><u>{{translate "FORM.LABELS.HOSPITAL_FILE_NR"}}</u>: {{ patient.hospital_no }}</p>
<p><u>{{translate "FORM.LABELS.GENDER"}}</u>: {{ patient.sex }}</p>
<p><u>{{translate "TABLE.COLUMNS.REGISTERED_ON"}}</u>: {{date patient.registration_date }}</p>
<p><u>{{translate "FORM.LABELS.DEBTOR_GROUP"}}</u>: {{ patient.debtor_group_name }}</p>
<p>----------------------------------------------------------------</p>

<script>JsBarcode('.barcode').init();</script>
</body>
