{{> head title="PATIENT_REG.CARD" }}

<body class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2>
        <strong>{{patient.first_name}} {{patient.middle_name}}  {{patient.last_name}}</strong>
      </h2>
    </div>
    <div class="col-xs-4" style="text-align:right;">
      <h2>
        <strong>{{patient.reference}}</strong>
      </h2>
    </div>
  </div>

  <h4>{{patient.enterprise_name}}</h4>
  <h4>{{translate "TABLE.COLUMNS.REGISTERED_ON"}} {{date patient.registration_date }}</h4>
  <h4><i class="fa fa-{{patient.symbol}}"></i> {{date patient.dob }}</h4>
</body>
