{{> head title="PATIENT_REG.PATIENT_REGISTRATIONS" }}

<body>

  {{> header }}

  <h4 class="text-center">{{translate "PATIENT_REG.PATIENT_REGISTRATIONS"}}</h4>

  <p class="pills">
    {{#each metadata.filters}}
      <span class="label label-primary text-capitalize">
        <i class="fa fa-filter"></i> {{translate this.displayName}}

        {{#if this.comparitor}} {{this.comparitor}}
        {{else}}: {{/if}}

        {{#if this.isDate}} {{date this.value}}
        {{else}} {{this.value}} {{/if}}
      </span>
    {{/each}}
  </p>

  <section>
    <table class="table table-condensed table-report table-bordered ">
      <thead>
        <tr class="text-capitalize text-center">
          <th>{{translate "TABLE.COLUMNS.REFERENCE" }}</th>
          <th>{{translate "TABLE.COLUMNS.NAME" }}</th>
          <th>{{translate "TABLE.COLUMNS.DOB" }}</th>
          <th>{{translate "TABLE.COLUMNS.GENDER" }}</th>
          <th>{{translate "TABLE.COLUMNS.HOSPITAL_FILE_NR" }}</th>
          <th>{{translate "TABLE.COLUMNS.DATE_REGISTERED" }}</th>
          <th>{{translate "TABLE.COLUMNS.LAST_VISIT" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each patients}}
          <tr>
            <td>{{this.reference}}</td>
            <td>{{this.display_name}}</td>
            <td>{{date this.dob}}</td>
            <td>{{this.sex}}</td>
            <td>{{this.hospital_no}}</td>
            <td>{{date this.registration_date}}</td>
            <td>{{date this.last_visit}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan="7" class="text-center">
              {{translate "TABLE.COLUMNS.EMPTY"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7" class="text-right">{{translate "FORM.LABELS.TOTAL" }} {{ patients.length }}</th>
        </tr>
      </tfoot>
    </table>
  </section>
</body>
