{{> head title="REPORT.RECOVERY_CAPACITY.TITLE"}}

<body>

<div class="container">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h3 class="text-center text-uppercase">
        <strong>{{translate 'REPORT.RECOVERY_CAPACITY.TITLE'}}</strong> <br>
        {{#if includeUnpostedValues}}<strong>({{translate 'REPORT.PROVISIONARY'}})</strong><br>{{/if}}
        <small>{{date dateFrom}} - {{date dateTo}}</small>
      </h3>

      <table class="table table-condensed" style="margin-bottom:16px; border:0px;">
        <tr>
          <td style="border: 0px;">
            <span class="bg-success text-success" style="display: inline-block; width: 50px; border:1px solid #333;">&nbsp;</span>
            <span>{{translate 'REPORT.RECOVERY_CAPACITY.RECOVERY_CAPACITY'}} &gt; 70%</span>
          </td>
          <td style="border: 0px;">
            <span class="bg-warning text-warning" style="display: inline-block; width: 50px; border:1px solid #333;">&nbsp;</span>
            <span>60% &lt; {{translate 'REPORT.RECOVERY_CAPACITY.RECOVERY_CAPACITY'}} &lt;&equals; 70%</span>
          </td>
          <td style="border: 0px;">
            <span class="bg-danger text-danger" style="display: inline-block; width: 50px; border:1px solid #333;">&nbsp;</span>
            <span>{{translate 'REPORT.RECOVERY_CAPACITY.RECOVERY_CAPACITY'}} &lt;&equals; 60%</span>
          </td>
        </tr>
      </table>

      <table class="table table-striped table-condensed table-report table-bordered">
        <thead>
          <tr>
            <th>{{translate 'TABLE.COLUMNS.DATE'}}</th>
            <th>{{translate 'REPORT.RECOVERY_CAPACITY.PATIENTS'}}</th>
            <th>{{translate 'REPORT.RECOVERY_CAPACITY.INVOICES'}}</th>
            <th>{{translate 'REPORT.RECOVERY_CAPACITY.AVERAGE_COST'}}</th>
            <th>{{translate 'REPORT.RECOVERY_CAPACITY.PAYMENTS'}}</th>
            <th>{{translate 'REPORT.RECOVERY_CAPACITY.RECOVERY_CAPACITY'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows as | row |}}
          <tr>
            <td>{{date row.date}}</td>
            <td style="width: 10em;" class="text-right">{{row.registrations}}</td>
            <td class="text-right">{{debcred row.total_invoiced ../metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred row.avg_cost ../metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred row.total_paid ../metadata.enterprise.currency_id}}</td>
            <td
              style="width: 15em;"
              {{#if row.has_data}}
                {{#gt row.recovery_capacity 0.71}} class="bg-success text-success text-right" {{/gt}}
                {{#between row.recovery_capacity 0.6 0.7}} class="bg-warning text-warning text-right" {{/between}}
                {{#lt row.recovery_capacity 0.6}} class="bg-danger text-danger text-right" {{/lt}}>
                {{percentage row.recovery_capacity}}
              {{else}}
                class="text-right"> <i>{{ translate "REPORT.NULL" }}</i>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
            <th style="width: 10em;" class="text-right">{{totals.registrations}}</th>
            <th class="text-right">{{debcred totals.total_invoiced metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.avg_cost metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.total_paid metadata.enterprise.currency_id}}</th>
            <th
              style="width: 15em;"
              {{#gt totals.recovery_capacity 0.71}} class="bg-success text-success text-right" {{/gt}}
              {{#between totals.recovery_capacity 0.6 0.7}} class="bg-warning text-warning text-right" {{/between}}
              {{#lt totals.recovery_capacity 0.6}} class="bg-danger text-danger text-right" {{/lt}}>
              {{percentage totals.recovery_capacity}}
            </th>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

</div>
</body>
