{{> head title="{{translate 'TREE.OPERATING_ACCOUNT' }}" }}

<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h3 class="text-center text-uppercase">
        {{translate 'REPORT.BALANCE_SHEET.TITLE'}}
      </h3>

      <h5 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{date this.dateFrom}} - {{date this.dateTo}}
      </h5>
      <table class="table table-condensed table-report table-bordered">
        <tbody>
          <tr>
            <th class="text-center">
              {{translate 'ACCOUNT.TYPES.ASSET'}}
            </th>
            <th class="text-center">
              {{translate 'ACCOUNT.TYPES.LIABILITY'}}
            </th>
          </tr>
          <tr>
            <td>
              <table class="table table-condensed table-report table-bordered">
                <thead>
                  <th>{{translate 'FORM.LABELS.ACCOUNT_NUMBER'}}</th>
                  <th>{{translate 'FORM.LABELS.LABEL'}}</th>
                  <th>{{translate 'FORM.LABELS.AMOUNT'}}</th>
                </thead>
                <tbody>
                  {{#each this.asset}}
                  <tr>
                    <td class="text-right">{{number}}</td>
                    <td
                      {{#if title}}class="text-bold text-center"{{/if}}
                        style="padding-left:calc(({{depth}} - 1) * 5px);">
                      {{label}}
                    </td>
                    <td class="text-right">{{debcred amount}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-condensed table-report table-bordered">
                <thead>
                  <th>{{translate 'FORM.LABELS.ACCOUNT_NUMBER'}}</th>
                  <th>{{translate 'FORM.LABELS.LABEL'}}</th>
                  <th>{{translate 'FORM.LABELS.AMOUNT'}}</th>
                </thead>
                <tbody>
                  {{#each this.liability}}
                  <tr>
                    <td class="text-right">{{number}}</td>
                    <td
                      {{#if title}}class="text-bold text-center"{{/if}}
                        style="padding-left:calc(({{depth}} - 1) * 5px);">
                      {{label}}
                    </td>
                    <td class="text-right">{{debcred amount}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
             <td colspan="2" class="text-center" style="background:#ddd; color:#fff">
                {{translate 'FORM.LABELS.TOTAL'}}
             </td>
          </tr>
           <tr>
            
            <td colspan="2">
            <table class="table table-condensed table-report table-bordered">
              <tr>
                <th class="text-center">
                  {{translate 'ACCOUNT.TYPES.ASSET'}}
                </th>
                 <th class="text-center">
                   {{translate 'ACCOUNT.TYPES.LIABILITY'}}
                </th>
              </tr>
               <tr>
                <td class="text-right">
                  {{debcred this.totalAsset}}
                </td>
                 <td class="text-right">
                  {{debcred this.totalLiability}}
                </td>
              </tr>
              
            </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
