{{> head title="REPORT.UNBALANCED_INVOICE_PAYMENTS_REPORT" }}

<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h3 class="text-center">
        <strong>{{translate "REPORT.UNBALANCED_INVOICE_PAYMENTS_REPORT.TITLE"}}</strong>
      </h3>

      <h5 style="margin:15px;" class="text-center">
        {{date dateFrom "DD/MM/YYYY"}} - {{date dateTo "DD/MM/YYYY"}}
      </h5>

      <table class="table table-condensed table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th style="width: 45%;">{{translate 'TABLE.COLUMNS.NAME'}}</th>
            <th class="text-center">{{translate 'FORM.LABELS.REFERENCE'}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.DEBIT'}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.CREDIT'}}</th>
            <th class="text-center">{{translate 'FORM.LABELS.BALANCE'}}</th>
            <th class="text-center">{{translate 'FORM.LABELS.PERCENTAGE'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each groups as |invoices|}}
            <tr>
              <th colspan="6" style="background: #f8f6f6">{{invoices.title}} ({{invoices.totals.numInvoices}})</th>
            </tr>

            {{#each invoices as |invoice|}}
              <tr>
                <td></td>
                <td>{{invoice.reference}} ({{date invoice.creation_date "DD/MM/YYYY"}})</td>
                <td class="text-right">{{currency debit ../../metadata.enterprise.currency_id}}</td>
                <td class="text-right">{{currency credit ../../metadata.enterprise.currency_id}}</td>
                <td class="text-right">{{debcred balance ../../metadata.enterprise.currency_id}}</td>
                <td class="text-right">{{percentage paymentPercentage}}</td>
              </tr>
            {{/each}}

            <tr>
              <th class="text-right" colspan="2">{{translate 'FORM.LABELS.TOTAL'}}</th>
              <th class="text-right">{{currency invoices.totals.sumDebit ../metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{currency invoices.totals.sumCredit ../metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{debcred invoices.totals.sumBalance ../metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{percentage invoices.totals.percentage}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <br/>

      <table style="width:500px" class="table table-condensed table-report pull-right">
        <thead>
          <tr style="background-color:#ddd;">
            <th colspan="2" class="text-center">{{translate 'FORM.LABELS.TOTAL'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{translate 'TABLE.COLUMNS.DEBIT'}}</td>
            <td class="text-right">
              {{currency totals.debit metadata.enterprise.currency_id}}
            </td>
          </tr>
          <tr>
            <td>{{translate 'TABLE.COLUMNS.CREDIT'}}</td>
            <td class="text-right">
              {{currency totals.credit metadata.enterprise.currency_id}}
            </td>
          </tr>
          <tr>
            <td>{{translate 'FORM.LABELS.BALANCE'}}</td>
            <td class="text-right">
              {{debcred totals.balance metadata.enterprise.currency_id}}
            </td>
          </tr>
        </tbody>
      </table>

      <br/>
      <br/>

      <div class="col-lg-12">
        <table style="width:500px;margin-top:10px; margin-right:-5px;" class="table table-condensed table-report pull-right">
        <thead>
          <tr style="background-color:#ddd;">
            <th colspan="2" class="text-center">{{translate 'FORM.LABELS.PERCENTAGE'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0%</td>
            <td class="text-right">
              {{paymentInterval._0}}
            </td>
          </tr>
          <tr>
            <td>0-25%</td>
            <td class="text-right">
              {{ paymentInterval._0_25}}
            </td>
          </tr>
          <tr>
            <td>25-50%</td>
            <td class="text-right">
              {{ paymentInterval._25_50}}
            </td>
          </tr>
          <tr>
            <td>50-75%</td>
            <td class="text-right"> {{ paymentInterval._50_75}} </td>
          </tr>
          <tr>
            <td>75-100%</td>
            <td class="text-right"> {{ paymentInterval._75_100}} </td>
          </tr>
          <tr>
            <td>{{translate "FORM.LABELS.OTHERS"}}</td>
            <td class="text-right"> {{ paymentInterval.more}} </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
