{{> head title="REPORT.UNPAID_INVOICE_PAYMENTS_REPORT" }}

<body>
  {{> header}}

  <!-- body -->
  <!-- page title  -->
  <h3 class="text-center">
    <strong>{{translate "REPORT.UNPAID_INVOICE_PAYMENTS_REPORT.TITLE"}}</strong>
  </h3>

  {{#if debtorGroupName}}
    <h4 class="text-center"><strong>{{ debtorGroupName }}</strong></h4>
  {{/if}}

  {{#if uniqueService}}
    <h4 class="text-center"><strong>{{ uniqueService }}</strong></h4>
  {{/if}}

  <h4 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
    {{date dateFrom "DD/MM/YYYY"}} - {{date dateTo "DD/MM/YYYY"}}
  </h4>

  {{#unless isEnterpriseCurrency}} 
    <div class="alert alert-warning"> 
      <p>{{translate "REPORT.REPORT_ACCOUNTS.WARN_CURRENCY"}}</p> 
    </div> 
  {{/unless}}

  <table class="table table-condensed table-report table-header-rotated">
    <thead>
      <tr class="text-center">
        {{#unless debtorGroupName}}
        <th class="text-center">{{translate 'FORM.LABELS.DEBTOR_GROUP'}}</th>
        {{/unless}}

        <th class="text-center text-capitalize">{{translate 'FORM.LABELS.PATIENT'}}</th>
        {{#unless uniqueService}}
          {{#each services as |service|}}
            <th class="rotate-45"><div><span style="padding-left:2px;">{{service}}</span></div></th>
          {{/each}}
        {{/unless}}
        <th class="text-center">{{translate 'FORM.LABELS.TOTAL'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each dataset as |row|}}
        {{#unless row.hideTotalRow}}
        <tr
          {{#if row.isTotalRow}}class="table-subtotal-row"{{/if}}
          {{#if row.isGroupTotalRow}}style="font-style:italic"{{/if}}
          >
          {{#unless ../debtorGroupName}}
            <td>{{ row.debtorGroupName }}</td>
          {{/unless}}

          <td>
            {{#if row.debtorReference }}
              <strong>{{ row.debtorReference }}</strong> - {{row.debtorText}}, {{translate 'FORM.LABELS.AGE'}} : {{row.debtorAge}}
            {{/if}}
          </td>
          {{#unless ../uniqueService}}
            {{#each ../services as |service|}}
              <td class="text-right">{{debcred (look row service) ../../currencyId}}</td>
            {{/each}}
          {{/unless}}
          
          <td class="text-right">{{debcred row.Total ../currencyId}}</td>
        </tr>
        {{/unless}}
      {{else}}
        {{> emptyTable columns=3}}
      {{/each}}
      <tr>
        {{#each totals as |value key|}}
          {{#if @first}}
            {{#unless ../debtorGroupName}}
              <th>{{translate 'FORM.LABELS.TOTAL'}}</th>
            {{/unless}}
          {{else}}
            {{#equal key 'debtorUuid'}}
              {{#if ../debtorGroupName}}
                <th>{{translate 'FORM.LABELS.TOTAL'}}</th>
              {{else}}
                <th>&nbsp;</th>
              {{/if}}
            {{else}}
              <th class="text-right">{{debcred value ../currencyId}}</th>
            {{/equal}}
          {{/if}}
        {{/each}}
      </tr>
    </tbody>
  </table>
</body>
