{{> head title="TREE.INCOME_EXPENSE" }}


<div class="container-fluid">
  <!-- heading  -->
  <div class="row">
    <div class="col-xs-4">
      <h3 style="margin:2px;">{{ metadata.enterprise.name }}</h3>
      <p style="margin:2px;">
        {{translate 'FORM.LABELS.PROJECT'}}: {{ metadata.project.name }}<br>
        {{translate 'FORM.LABELS.PHONE'}}: {{ metadata.enterprise.phone }}<br>
        {{translate 'FORM.LABELS.EMAIL'}}: {{ metadata.enterprise.email }}<br>
        {{translate 'FORM.LABELS.ADDRESS'}}: {{ metadata.enterprise.location }}
      </p>
    </div>

    <div class="col-xs-4">
      <h1 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{translate 'TREE.INCOME_EXPENSE'}}<br>
      </h1>
      <h2 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{ incomeExpense.accountNumber}} : {{ incomeExpense.accountName}}<br> 
        <small>{{date incomeExpense.dateFrom }} - {{date incomeExpense.dateTo }}</small>
      </h2>
    </div>
  </div>

  <div class="row">
    <!-- the generated report  -->
    <div class="col-xs-12">
      {{#if incomeExpense.reportIncome }}
        <table
          class="table table-bordered table-condensed"
          style="border: 2px solid #ccc;">
          <thead>
            <tr>
              <td style="background-color: #ccc; font-weight: bold; text-align: center;" colspan="6">
                {{ translate 'REPORT.CASH_INCOME' }}
              </td>            
            </tr>
          </thead>  

            <!-- white line -->
          <tr>
            <td colspan="6"></td>
          </tr>

          <tbody>
            {{#if incomeExpense.sumIncome }}
            <tr style="background-color: #efefef; font-weight: bold; text-align: center; ">
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.TRANSACTION_ID' }} </td>
              <td style="width: 45%"> {{ translate 'TABLE.COLUMNS.DESCRIPTION'}} </td>
              <td style="width: 15%"> {{ translate 'TABLE.COLUMNS.AMOUNT' }} </td>
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.DATE'  }} </td>
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.SOURCE'  }} </td>
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.BY' }} </td>
            </tr> 
            {{/if}}

            {{#each incomeExpense.incomes}}
            <tr>
              <td class="text-left">{{ trans_id }}</td>
              <td class="text-left">{{ description }}</td>
              <td class="text-right">{{ currency debit ../metadata.currency_id}}</td>
              <td class="text-left">{{ date trans_date }}</td>
              <td class="text-left">{{ translate transactionType }}</td>
              <td class="text-left">{{ username }}</td>
            </tr> 
            {{/each}}
          </tbody>

          <tfoot>
            <tr style="background-color: #efefef; font-weight: bold; ">
              <td style="text-align: right;" colspan="6"> {{ translate 'TABLE.COLUMNS.TOTAL' }} :{{ currency incomeExpense.sumIncome ../metadata.currency_id}}</td>
            </tr>
          </tfoot>
        </table>
      {{/if}}
      <br>
      <br>
      {{#if incomeExpense.reportExpense }}
        <table
          class="table table-bordered table-condensed"
          style="border: 2px solid #ccc;">
          <thead>
            <tr>
              <td style="background-color: #ccc; font-weight: bold; text-align: center;" colspan="6">
                {{ translate 'REPORT.CASH_EXPENSE' }}
              </td>            
            </tr>
          </thead>  

            <!-- white line -->
          <tr>
            <td colspan="6"></td>
          </tr>

          <tbody>
            {{#if incomeExpense.sumExpense }}
            <tr style="background-color: #efefef; font-weight: bold; text-align: center; ">
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.TRANSACTION_ID' }} </td>
              <td style="width: 45%"> {{ translate 'TABLE.COLUMNS.DESCRIPTION'}} </td>
              <td style="width: 15%"> {{ translate 'TABLE.COLUMNS.AMOUNT' }} </td>
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.DATE'  }} </td>
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.SOURCE'  }} </td>
              <td style="width: 10%"> {{ translate 'TABLE.COLUMNS.BY' }} </td>
            </tr>
            {{/if}} 

            {{#each incomeExpense.expenses}}
            <tr>
              <td class="text-left">{{ trans_id }}</td>
              <td class="text-left">{{ description }}</td>
              <td class="text-right">{{ currency credit ../metadata.currency_id}}</td>
              <td class="text-left">{{ date trans_date }}</td>
              <td class="text-left">{{ translate transactionType }}</td>
              <td class="text-left">{{ username }}</td>
            </tr> 
            {{/each}}
          </tbody>

          <tfoot>
            <tr style="background-color: #efefef; font-weight: bold; ">
              <td style="text-align: right;" colspan="6"> {{ translate 'TABLE.COLUMNS.TOTAL' }} :{{ currency incomeExpense.sumExpense ../metadata.currency_id}}</td>
            </tr>
          </tfoot>
        </table>
      {{/if}}
    </div>
  </div>
</div>
