{{> head title="TREE.INCOME_EXPENSE" }}


<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h2 class="text-center text-uppercase">
          {{translate 'TREE.INCOME_EXPENSE'}}
      </h2>
      <br>

      <h4 class="text-center text-uppercase">
          {{translate 'FORM.LABELS.INCOME'}}
      </h2>
      <br>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th>{{translate 'TABLE.COLUMNS.LABEL'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.DEBIT'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.CREDIT'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each incomeExpense.incomes}}
            <tr>
              <td>{{number}}</td>
              <td>{{label}}</td>
              <td class="text-right">{{currency debit}}</td>
              <td class="text-right">{{currency credit}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <h4 class="text-center text-uppercase">
          {{translate 'FORM.LABELS.EXPENSE'}}
      </h2>
      <br>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th>{{translate 'TABLE.COLUMNS.LABEL'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.DEBIT'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.CREDIT'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each incomeExpense.expenses}}
            <tr>
              <td>{{number}}</td>
              <td>{{label}}</td>
              <td class="text-right">{{currency debit}}</td>
              <td class="text-right">{{currency credit}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
