{{> head title="TREE.INCOME_EXPENSE" }}


<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h3 class="text-center text-uppercase">
          <strong>{{translate 'TREE.INCOME_EXPENSE'}}</strong>
      </h3>
      <h5 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
        {{date incomeExpense.dateFrom}} - {{date incomeExpense.dateTo}}
      </h5>      

      <h6 class="text-center text-uppercase">
          {{translate 'FORM.LABELS.INCOME'}}
      </h6>

      <table class="table table-condensed table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th>{{translate 'TABLE.COLUMNS.LABEL'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.DEBIT'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.CREDIT'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each incomeExpense.incomes}}
            <tr>
              <td>{{number}}</td>
              <td>{{label}}</td>
              <td class="text-right">{{currency debit}}</td>
              <td class="text-right">{{currency credit}}</td>
            </tr>
          {{/each}}          
        </tbody>
        <tfoot>
          <tr style="background-color:#ddd; ">
            <th>{{translate 'TABLE.COLUMNS.BALANCE'}}</th>
            <th colspan="3" class="text-right">
              {{currency incomeExpense.incomeAggregation.balance}}
            </th>
          </tr>
        </tfoot>
      </table>

      <h6 class="text-center text-uppercase">
          {{translate 'FORM.LABELS.EXPENSE'}}
      </h6>

      <table class="table table-condensed table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th>{{translate 'TABLE.COLUMNS.LABEL'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.DEBIT'}}</th>
            <th class="text-right">{{translate 'TABLE.COLUMNS.CREDIT'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each incomeExpense.expenses}}
            <tr>
              <td>{{number}}</td>
              <td>{{label}}</td>
              <td class="text-right">{{currency debit}}</td>
              <td class="text-right">{{currency credit}}</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.BALANCE'}}</th>
            <th colspan="2" class="text-right">
              {{currency incomeExpense.expenseAggregation.balance}}
            </th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
