{{> head }}

<div class="container-fluid">

  {{#> header}}
  {{/header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center text-uppercase">
        <strong>{{translate 'REPORT.BUDGET_REPORT.TITLE'}}</strong>
      </h3>
      <h3 class="text-center text-uppercase">
        <strong>{{ fiscalYearLabel }}</strong>
      </h3>
      <table class="table table-striped table-condensed table-report table-bordered" style="font-size: 10pt;">
        <thead>
          <tr style="background-color: #c6c6c6; text-transform: uppercase; font-size: 14pt;">
            <th colspan="{{ colspanValue }}" class="text-center"> {{translate 'REPORT.BUDGET_REPORT.REVENUS'}} </th>
          </tr>
          <tr class="text-center" style="text-transform: uppercase; vertical-align: top;">
            <th class="text-center" width="5%"> {{translate 'FORM.LABELS.ACCOUNT_NUMBER'}} </th>
            <th class="text-center" width="10%"> {{translate 'FORM.LABELS.LABEL'}} </th>
            <th class="text-center" width="5%"> {{translate 'FORM.LABELS.BUDGET'}} {{ fiscalYearNumber }} </th>
            <th class="text-center" width="5%"> {{translate 'REPORT.BUDGET_REPORT.REALIZATION'}} {{ fiscalYearNumber }} </th>
            {{#each reportColumn as | col |}}
              <th class="text-center" width="5%">
                {{translate 'REPORT.BUDGET_REPORT.REALIZATION'}} {{ col.number }}
              </th>  
            {{/each}}
            <th class="text-center" width="5%"> {{translate 'REPORT.BUDGET_REPORT.VARIATION_IN_AMOUNT'}} {{ fiscalYearNumber }} - {{ lastFiscalYearNumber }} </th>
            <th class="text-center" width="5%"> {{translate 'REPORT.BUDGET_REPORT.PERCENTAGE_VARIATION_COMPARED'}} {{ fiscalYearNumber }} </th>
          </tr>
        </thead>

        <tbody>
          {{#each rowsIncome as | row |}}
            {{#if isTitle}}
            <tr style="font-weight: bold; font-style: italic">
            {{else}}
            <tr>
            {{/if}}
              <td> {{ row.number }} </td>
              <td> {{ row.label }} </td>
              <td class="text-right"> {{currency row.budget ../currencyId}} </td>
              <td class="text-right"> {{currency row.realisation ../currencyId}} </td>
              {{#each row.previousReport as | cl |}}
                <td class="text-right">
                  {{currency cl.realisation ../../currencyId}}
                </td>
              {{/each}}
              <td class="text-right"> {{currency row.variation ../currencyId}} </td>
              <td class="text-right"> {{percentage row.completion}} </td>     
            </tr>
          {{/each}}
          <tr style="background-color: #E1E1E1; font-weidth: bold; font-size: 10pt;">
            <th colspan="2"> {{translate 'BUDGET.INCOME_TOTAL'}} </th>
            <th class="text-right">{{currency totalBudgetIncome currencyId}}</th>
            <th class="text-right">{{currency totalRealisationIncome currencyId}}</th>
            {{#each reportFootColumIncome as | cl |}}
              <th class="text-right">
                {{currency cl.realisation ../currencyId}}
              </th>
            {{/each}}
            <th class="text-right">{{currency totalVariationIncome currencyId}}</th>
            <th class="text-right">{{percentage totalCompletionIncome}}</th>
          </tr>
        </tbody>
        <thead>
          <tr class="text-center" style="background-color: #c6c6c6; text-transform: uppercase; font-size: 14pt;">
            <th colspan="{{ colspanValue }}" class="text-center"> {{translate 'REPORT.BUDGET_REPORT.EXPENSES'}} </th>
          </tr>          
          <tr style="text-transform: uppercase; vertical-align: top;">
            <th class="text-center" width="3%"> {{translate 'FORM.LABELS.ACCOUNT_NUMBER'}} </th>
            <th class="text-center" width="10%"> {{translate 'FORM.LABELS.LABEL'}} </th>
            <th class="text-center" width="5%"> {{translate 'FORM.LABELS.BUDGET'}} {{ fiscalYearNumber }} </th>
            <th class="text-center" width="5%"> {{translate 'REPORT.BUDGET_REPORT.REALIZATION'}} {{ fiscalYearNumber }} </th>
            {{#each reportColumn as | col |}}
              <th class="text-center" width="5%">
                {{translate 'REPORT.BUDGET_REPORT.REALIZATION'}} {{ col.number }}
              </th>  
            {{/each}}
            <th class="text-center" width="5%"> {{translate 'REPORT.BUDGET_REPORT.VARIATION_IN_AMOUNT'}} {{ fiscalYearNumber }} - {{ lastFiscalYearNumber }} </th>
            <th class="text-center" width="10%"> {{translate 'REPORT.BUDGET_REPORT.PERCENTAGE_VARIATION_COMPARED'}} {{ fiscalYearNumber }} </th>
          </tr>
        </thead>

        <tbody>
          {{#each rowsExpense as | row |}}
            {{#if isTitle}}
            <tr style="font-weight: bold; font-style: italic">
            {{else}}
            <tr>
            {{/if}}
              <td> {{ row.number }} </td>
              <td> {{ row.label }} </td>
              <td class="text-right"> {{currency row.budget ../currencyId}} </td>
              <td class="text-right"> {{currency row.realisation ../currencyId}} </td>
              {{#each row.previousReport as | cl |}}
                <td class="text-right">
                  {{currency cl.realisation ../../currencyId}}
                </td>
              {{/each}}
              <td class="text-right"> {{currency row.variation ../currencyId}} </td>
              <td class="text-right"> {{percentage row.completion}} </td>     
            </tr>
          {{/each}}
          <tr style="background-color: #E1E1E1; font-weidth: bold; font-size: 10pt;">
            <th colspan="2"> {{translate 'BUDGET.EXPENSES_TOTAL'}} </th>
            <th class="text-right">{{currency totalBudgetExpense currencyId}}</th>
            <th class="text-right">{{currency totalRealisationExpense currencyId}}</th>
            {{#each reportFootColumExpense as | cl |}}
              <th class="text-right">
                {{currency cl.realisation ../currencyId}}
              </th>
            {{/each}}

            <th class="text-right">{{currency totalVariationExpense currencyId}}</th>
            <th class="text-right">{{percentage totalCompletionExpense}}</th>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
</body>

