{{> head title="REPORT.PROFIT_AND_LOSS_BY_YEAR" }}

<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h3 class="text-center">
        <strong>{{translate "REPORT.PROFIT_AND_LOSS_BY_YEAR"}}</strong>
      </h3>

      {{#if profits}}
      <table class="table table-condensed table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th style="width: 45%;">{{translate 'TABLE.COLUMNS.ACCOUNT_NAME'}}</th>
            <th class="text-center text-capitalize">{{translate 'TABLE.COLUMNS.BALANCE'}} {{firstYear.label}}</th>
            <th class="text-center text-capitalize">{{translate 'TABLE.COLUMNS.BALANCE'}} {{secondYear.label}}</th>
            <th class="text-center text-capitalize">{{translate 'TABLE.COLUMNS.BALANCE'}} {{thirdYear.label}}</th>
            <th class="text-center text-capitalize">{{translate 'FORM.LABELS.AVERAGE_BALANCE'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center" colspan="6">{{translate 'FORM.LABELS.PROFIT'}}</th>
          </tr>
          {{#each profits as |account|}}
            <tr {{#if account.isTitleAccount}} class="text-bold" {{/if}}>
              <td>{{account.number}}</td>
              <td style="padding-left:calc(({{account.depth}} - 1) * 15px);">{{account.label}}</td>
              <td class="text-right">{{debcred account.firstBalance ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.balance ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.thirdBalance ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.averageBalance ../metadata.enterprise.currency_id}}</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2" class="text-right">{{translate 'FORM.LABELS.TOTAL'}}</th>
            <th class="text-right">{{debcred totals.income.firstBalance metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.income.balance metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.income.thirdBalance metadata.enterprise.currency_id}}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    {{/if}}

    <br />

    {{#if losses}}
      <table class="table table-condensed table-report">
        <thead>
         <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th style="width: 45%;">{{translate 'TABLE.COLUMNS.ACCOUNT_NAME'}}</th>
            <th class="text-center text-capitalize">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date firstPeriod.start_date "MMMM"}}</th>
            <th class="text-center text-capitalize">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date secondPeriod.start_date "MMMM"}}</th>
            <th class="text-center text-capitalize">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date thirdPeriod.start_date "MMMM"}}</th>
            <th class="text-center text-capitalize">{{translate 'FORM.LABELS.AVERAGE_BALANCE'}}</th>
          </tr>
        <tbody>
          <tr>
            <th class="text-center" colspan="6">{{translate 'FORM.LABELS.EXPENSE'}}</th>
          </tr>
          {{#each losses as |account|}}
            <tr {{#if account.isTitleAccount}} class="text-bold" {{/if}}>
              <td>{{account.number}}</td>
              <td style="padding-left:calc(({{account.depth}} - 1) * 15px);">{{account.label}}</td>
              <td class="text-right">{{debcred account.firstBalance ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.balance ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.thirdBalance ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.averageBalance ../metadata.enterprise.currency_id}}</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2" class="text-right">{{translate 'FORM.LABELS.TOTAL'}}</th>
            <th class="text-right">{{debcred totals.expense.firstBalance metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.expense.balance metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.expense.thirdBalance metadata.enterprise.currency_id}}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    {{/if}}
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-offset-6 col-md-6">
      <table class="table table-condensed">
        <thead>
          <tr style="background-color:#ddd;">
            <th colspan="4" class="text-center text-capitalize">{{translate 'FORM.LABELS.TOTAL'}}</th>
          </tr>
          <tr>
            <th></th>
            <th class="text-center text-capitalize">{{firstYear.label}}</th>
            <th class="text-center text-capitalize">{{secondYear.label}}</th>
            <th class="text-center text-capitalize">{{thirdYear.label}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{translate 'FORM.LABELS.PROFIT'}}</th>
            <td class="text-right">{{debcred totals.income.firstBalance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.income.balance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.income.thirdBalance metadata.enterprise.currency_id}}</td>
          </tr>
          <tr>
            <th>{{translate 'FORM.LABELS.EXPENSE'}}</th>
            <td class="text-right">{{debcred totals.expense.firstBalance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.expense.balance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.expense.thirdBalance metadata.enterprise.currency_id}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>{{translate 'FORM.LABELS.DIFFERENCE'}}</th>
            <th class="text-right">{{debcred totals.difference.firstBalance metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.difference.balance metadata.enterprise.currency_id}}</th>
            <th class="text-right">{{debcred totals.difference.thirdBalance metadata.enterprise.currency_id}}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
