{{> head }}

<body>

  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h2 class="text-center text-uppercase">
        {{translate 'ASSIGN.STOCK_ASSIGN'}}
      </h2>

      <h4 class="text-center">
        {{date}}
      </h4>

      <!-- filters  -->
      {{> filterbar filters=filters }}

      <!-- list of data  -->
      <table class="table table-condensed table-bordered table-report">
        <thead>
          <tr>
            <th>{{translate 'STOCK.DEPOT'}}</th>
            <th>{{translate 'STOCK.CODE'}}</th>
            <th>{{translate 'STOCK.INVENTORY'}}</th>
            <th>{{translate 'STOCK.LOT'}}</th>
            <th>{{translate 'ENTITY.LABEL'}}</th>
            <th>{{translate 'STOCK.QUANTITY'}}</th>
            <th>{{translate 'FORM.LABELS.DATE'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows as | item |}}

            <tr>
              <td>{{item.depot_text}}</td>
              <td>{{item.code}}</td>
              <td>{{item.text}}</td>
              <td>{{item.label}}</td>
              <td>{{item.display_name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{date item.created_at}}</td>
            </tr>

          {{else}}
            {{> emptyTable columns=7}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr style="font-weight: bold;">
            <td colspan="7">{{rows.length}} {{translate 'STOCK.ITEMS'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</body>