{{> head title="REPORT.CLIENT_SUMMARY.TITLE"}}

<body class="container">
  {{> header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- page title  -->
      <h3 class="text-center text-uppercase">
        <strong>{{translate 'REPORT.CLIENT_SUMMARY.TITLE'}}</strong>
        <br>
        {{client.name}} ({{client.number}} - {{client.label}})
        <br>
      </h3>

      {{!-- content --}}
      <table class="table table-striped table-condensed table-report table-bordered">
        <thead>
          <tr>
            <th colspan="2">{{ client.name }}</th>
            <th class="text-right">{{debcred grandTotal metadata.enterprise.currency_id}}</th>
          </tr>
        </thead>


        <tbody>
          <tr>
            <th colspan="2">{{translate 'REPORT.CLIENT_SUMMARY.NOT_EMPLOYEES_DEBTS' }} ({{patients.length}})</th>
            <th class="text-right">{{debcred patientDebts metadata.enterprise.currency_id}}</th>
          </tr>
        </tbody>

        {{#if showDetails}}
        <tbody>
          {{#each patients as | emp |}}
            <tr>
              <td>{{emp.reference}}</td>
              <td>{{emp.display_name}}</td>
              <td class="text-right">{{debcred emp.balance ../metadata.enterprise.currency_id}}</td>
            </tr>
          {{/each}}
          <tr><td colspan="3">&nbsp;</td></tr>
        </tbody>
        {{/if}}

        <tbody>
          <tr>
            <th colspan="2">{{translate 'REPORT.CLIENT_SUMMARY.EMPLOYEES_DEBTS' }} ({{employees.length}})</th>
            <th class="text-right">{{debcred employeeDebts metadata.enterprise.currency_id}}</th>
          </tr>
        </tbody>

        {{#if showDetails}}
        <tbody>
          {{#each employees as | emp |}}
            <tr>
              <td>{{emp.reference }}</td>
              <td>{{emp.display_name }}</td>
              <td class="text-right">{{debcred emp.balance ../metadata.enterprise.currency_id}}</td>
            </tr>
          {{/each}}
          <tr><td colspan="3">&nbsp;</td></tr>
        </tbody>
        {{/if}}

        <thead>
          <tr>
            <th colspan="2">{{translate 'REPORT.CLIENT_SUMMARY.EMPLOYEES_SUPPORT' }} ({{supported.length}})</th>
            <th class="text-right">{{debcred supportedDebts metadata.enterprise.currency_id}}</th>
          </tr>
        </thead>

        {{#if showDetails}}
        <tbody>
          {{#each supported as | emp |}}
            <tr>
              <td>{{emp.reference}}</td>
              <td>{{emp.display_name}}</td>
              <td class="text-right">{{debcred emp.balance ../metadata.enterprise.currency_id}}</td>
            </tr>
          {{/each}}
          <tr><td colspan="3">&nbsp;</td></tr>
        </tbody>
        {{/if}}

      </table>
    </div>
  </div>
</body>
