<!doctype html>
<html>
  {{> head title="REPORT.FEE_CENTER_STEPDOWN.TITLE"}}
  <body>
  <div class="fluid container">
    {{> header}}

    <!-- body -->
    <div class="row">
      <div class="col-xs-12">

        <!-- page title  -->
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.FEE_CENTER_STEPDOWN.TITLE'}}</strong>
        </h3>

        <h4 class="text-center">
          <strong class="text-capitalize">{{date dateFrom "MMMM YYYY"}}</strong>
           -
          <strong class="text-capitalize">{{date dateTo "MMMM YYYY"}}</strong>
        </h4>

        {{!-- table with data --}}
        <table style="page-break-after: always;" class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <tr>
              <th>{{translate 'FORM.LABELS.SERVICE'}}</th>
              {{#each data as | service |}}
                <th>{{ service.fee_center_label }}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each data as | service |}}
              <tr key="serv.name">
                <td>{{ service.fee_center_label }}</td>
                {{#each service.toDist as | value |}}
                    <td>{{debcred value ../../currencyId}}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <tr>
              <th>{{translate 'TABLE.COLUMNS.TOTAL'}}</th>
              {{#each cumulatedAllocatedCosts as | value |}}
                <td>{{debcred value ../currencyId}}</td>
              {{/each}}
            </tr>
            <tr>
              <th>{{translate 'FEE_CENTER.AFTER_ALLOCATION'}}</th>
              {{#each afterAllocations as | value |}}
                <th>{{debcred value ../currencyId}}</th>
              {{/each}}
            </tr>
          </tfoot>
        </table>

        <hr>

        <p><i>{{translate 'FEE_CENTER.DISTRIBUTION_KEY_TABLE'}}</i></p>

        <table style="page-break-after: always;" class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <tr>
              <th>{{translate 'FEE_CENTER.DISTRIBUTION_KEY'}}</th>
              {{#each feeCenterList as | value |}}
                <th>{{ value }}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each feeCenterIndexes as | fcIndex |}}
              <tr>
                <td>{{ fcIndex.index }}</td>
                {{#each fcIndex.distribution as | dist |}}
                  <td>{{ dist.value }}</td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>