{{> head title="REPORT.INCOME_EXPENSE" }}

<div class="container">
  {{> header}}

  <!-- body -->
  <div class="row">
    <div class="col-xs-12">
      <!-- page title  -->
      <h3 class="text-center">
        <strong>{{translate "REPORT.INCOME_EXPENSE_BY_MONTH"}}</strong>
      </h3>

      <h5 style="margin:15px;" class="text-center text-capitalize">
        {{date thirdPeriod.start_date "MMMM"}} ({{ fiscalYear.label }})
      </h5>

      {{#if profits}}
      <table class="table table-condensed table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th style="width: 45%;">{{translate 'TABLE.COLUMNS.ACCOUNT_NAME'}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date firstPeriod.start_date "MMMM"}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date secondPeriod.start_date "MMMM"}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date thirdPeriod.start_date "MMMM"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center" colspan="6">{{translate 'FORM.LABELS.INCOME'}}</th>
          </tr>
          {{#each profits as |account|}}
            <tr {{#if account.isTitleAccount}} class="text-bold" {{/if}}>
              <td>{{account.number}}</td>
              <td style="padding-left:calc(({{account.depth}} - 1) * 15px);">{{account.label}}</td>
              <td class="text-right">{{debcred account.previousBalance metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.balance metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.nextBalance metadata.enterprise.currency_id}}</td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="2" class="text-right"><b>{{translate 'FORM.LABELS.TOTAL'}}</b></td>
            <td class="text-right">{{debcred totals.income.previousBalance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.income.balance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.income.nextBalance metadata.enterprise.currency_id}}</td>
          </tr>
        </tbody>
      </table>
    {{/if}}

    <br />

    {{#if losses}}
      <table class="table table-condensed table-report">
        <thead>
         <tr style="background-color:#ddd;">
            <th>{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th style="width: 45%;">{{translate 'TABLE.COLUMNS.ACCOUNT_NAME'}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date firstPeriod.start_date "MMMM"}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date secondPeriod.start_date "MMMM"}}</th>
            <th class="text-center">{{translate 'TABLE.COLUMNS.BALANCE'}} {{date thirdPeriod.start_date "MMMM"}}</th>
          </tr>
        <tbody>
          <tr>
            <th class="text-center" colspan="6">{{translate 'FORM.LABELS.EXPENSE'}}</th>
          </tr>
          {{#each losses as |account|}}
            <tr {{#if account.isTitleAccount}} class="text-bold" {{/if}}>
              <td>{{account.number}}</td>
              <td style="padding-left:calc(({{account.depth}} - 1) * 15px);">{{account.label}}</td>
              <td class="text-right">{{debcred account.previousBalance metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.balance metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{debcred account.nextBalance metadata.enterprise.currency_id}}</td>
            </tr>
          {{else}}
            {{>emptyTable columns=6}}
          {{/each}}
          <tr>
            <td colspan="2" class="text-right"><b>{{translate 'FORM.LABELS.TOTAL'}}</b></td>
            <td class="text-right">{{debcred totals.expense.previousBalance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.expense.balance metadata.enterprise.currency_id}}</td>
            <td class="text-right">{{debcred totals.expense.nextBalance metadata.enterprise.currency_id}}</td>
          </tr>
        </tbody>
      </table>
    {{/if}}
    </div>
  </div>
</div>
