<!doctype html>
<html>
  {{> head title="REPORT.ANALYSIS_AUX_CASHBOXES.TITLE" }}
  <body class="container">
    {{> header}}

    <!-- body -->
    <div class="row">
      <div class="col-xs-12">
        <!-- page title  -->
        <h3 class="text-center text-bold text-uppercase">{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.TITLE'}}</h3>
        <h3 class="text-center text-bold text-uppercase">{{ report.cashboxLabel }}</h3>
        <h4 class="text-center text-bold text-uppercase">{{ report.periodLabel }}</h4>

        <table style="width: 50%; float: right; margin-bottom: 1.5%">
          <tr>
            <td width="10%" style="background-color: #5cb85c; color:white; text-align:center"> ✔ </td>
            <td width="90%">&nbsp;<strong>{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.STATUS.CORRECT'}}</strong></td>
          </tr>
          <tr>
            <td width="10%" style="background-color: #777777; color:white; text-align:center"> X </td>
            <td width="90%">&nbsp;<strong>{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.STATUS.TRANSFERT_PENDING'}}</strong></td>
          </tr>
          <tr>
            <td width="10%" style="background-color: #f0ad4e; color:white; text-align:center"> ▲ </td>
            <td width="90%">&nbsp;<strong>{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.STATUS.TRANSFERT_GREATER'}}</strong></td>
          </tr>
          <tr>
            <td width="10%" style="background-color: #d9534f; color:white; text-align:center"> ▼ </td>
            <td width="90%">&nbsp;<strong>{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.STATUS.TRANSFERT_LOWWER'}}</strong></td>
          </tr>
        </table>

        <table class="table table-striped table-condensed table-report table-bordered">
          <thead>
            <th width="10%"></th>
            <th width="35%" class="text-uppercase" colspan="4"> {{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.AUXILIARY_TRANSFERT'}} </th>
            <th width="35%" class="text-uppercase" colspan="4">{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.TRANSFER_PRINCIPAL'}}</th>
            <th width="20%" class="text-uppercase" colspan="3">{{translate 'REPORT.ANALYSIS_AUX_CASHBOXES.TARGET'}}</th>
          </thead>
          <tbody>
          <tr>
            <th>{{translate 'FORM.LABELS.DATE'}}</th>
            <th width="9%">{{translate 'FORM.LABELS.DEBIT'}}</th>
            <th width="9%">{{translate 'FORM.LABELS.CREDIT'}}</th>
            <th width="9%">{{translate 'FORM.LABELS.BALANCE'}}</th>
            <th width="2%"></th>

            <th width="9%">{{translate 'FORM.LABELS.DEBIT'}}</th>
            <th width="9%">{{translate 'FORM.LABELS.CREDIT'}}</th>
            <th width="9%">{{translate 'FORM.LABELS.BALANCE'}}</th>
            <th width="2%"></th>

            <th width="21%">{{translate 'FORM.LABELS.LABEL'}}</th>
            <th width="9%">{{translate 'FORM.LABELS.DEBIT'}}</th>
            <th width="2%"></th>
          </tr>

          {{#each this.transactions}}
            <tr>
              <td>{{date trans_date "DD/MM/YYYY"}}, {{translate transDateDays }} </td>

              <td class="text-right">{{debcred debit ../report.currencyId}}</td>
              <td class="text-right">{{debcred credit ../report.currencyId}}</td>
              <td class="text-right">{{debcred balance ../report.currencyId}}</td>
              <td style="color:white; background-color: {{ labelDisplay.color }}" class="text-center">
                {{ labelDisplay.icon }}
              </td>
              <td class="text-right">{{debcred debit_transfert ../report.currencyId}}</td>
              <td class="text-right">{{debcred credit_transfert ../report.currencyId}}</td>
              <td class="text-right">{{debcred balance_transfert ../report.currencyId}}</td>
              <td style="color:white; background-color: {{ labelDisplayTransfert.color }}" class="text-center">
                {{ labelDisplayTransfert.icon }}
              </td>

              <td><strong>{{ account_target }}</strong></td>
              <td class="text-right">{{debcred debit_primary ../report.currencyId}}</td>
              <td style="color:white; background-color: {{ labelDisplayPrimary.color }};" class="text-center">
                {{ labelDisplayPrimary.icon }}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
