{{> head title="REPORT.AGED_DEBTORS.TITLE"}}

<body>
  <main class="container">
    {{> header }}

    <h4 class="text-center">
      {{translate "REPORT.AGED_DEBTORS.TITLE"}}
      <p><small>{{date this.timestamp }}</small></p>
    </h4>

    <!-- margin is the cell size -->
    <section>
      <table class="table table-condensed table-report">
        <thead>
          <tr class="text-capitalize">
            <th class="text-center">{{translate "TABLE.COLUMNS.NAME"}}</th>
            <th class="text-center" style="width:15%">{{translate "FORM.LABELS.ACCOUNT_NUMBER"}}</th>
            <th class="text-center">{{translate "REPORT.AGED_DEBTORS.THIRTY_DAYS"}}</th>
            <th class="text-center">{{translate "REPORT.AGED_DEBTORS.SIXTY_DAYS"}}</th>
            <th class="text-center">{{translate "REPORT.AGED_DEBTORS.NINETY_DAYS"}}</th>
            <th class="text-center">{{translate "REPORT.AGED_DEBTORS.OVER_NINETY_DAYS"}}</th>
            <th class="text-center">{{translate "TABLE.COLUMNS.TOTAL"}}</th>
          </tr>
        </thead>
        <tbody>

          <!-- print a row for each debtor -->
          {{#each debtors}}
            <tr>
              <th>{{this.name}}</th>
              <td class="text-left">{{this.number}}</td>
              <td class="text-right">{{currency this.thirty ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{currency this.sixty ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{currency this.ninety ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{currency this.excess ../metadata.enterprise.currency_id}}</td>
              <td class="text-right">{{currency this.total ../metadata.enterprise.currency_id}}</td>
            </tr>
          {{else}}
            {{> emptyTable columns=7}}
          {{/each}}
        </tbody>
        {{#if aggregates}}
          <tfoot>
            <tr>
              <th colspan="2">{{translate "TABLE.COLUMNS.TOTAL"}}</th>
              <th class="text-right">{{currency aggregates.thirty metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{currency aggregates.sixty metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{currency aggregates.ninety metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{currency aggregates.excess metadata.enterprise.currency_id}}</th>
              <th class="text-right">{{currency aggregates.total metadata.enterprise.currency_id}}</th>
            </tr>
          </tfoot>
        {{/if}}
      </table>
    </section>
  </main>
</body>
