{{> head }}

<style>
  th.rotate {
    height: 11ex;
    white-space: nowrap;
    padding-bottom: 6px !important;
  }
  th.rotate > div {
    -webkit-transform: translateX(25%) translateY(25%) rotate(-90deg);
            transform: translateX(25%) translateY(25%) rotate(-90deg);
    width: 3ex;
    padding-left: 6px !important;
  }
  th.right {
    text-align: right;
  }
  td.center {
    text-align: center;
  }
</style>

<body>
  <main class="container">
    {{#> header }}
      <h4 class="text-right text-capitalize">
        {{date fiscalYear.start_date "MMMM YYYY"}} - {{date fiscalYear.end_date "MMMM YYYY"}}
      </h4>
    {{/header}}

    {{> exchangeRate rate=exchangeRate currencyId=currencyId}}

    <section>
      {{#if overallCustomer}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.OVERALL_CUSTOMER_REPORT' }}</strong>
        </h3>
      {{/if}}

      {{#if solventClient}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.REPORT_SOLVENT_CLIENTS' }}</strong>
        </h3>
      {{/if}}

      {{#if inSolventClient}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.INSOLVENT_CLIENTS_REPORT' }}</strong>
        </h3>
      {{/if}}

      {{#if debtorConventioned}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.REPORT_OF_CONVENTIONED_CLIENTS' }}</strong>
        </h3>
      {{/if}}

      {{#if debtorNonConventioned}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.REPORT_OF_NON_CONVENTIONED_CLIENTS' }}</strong>
        </h3>
      {{/if}}

      {{#if isLocked}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.BLOCKED_CLIENTS_REPORT' }}</strong>
        </h3>
      {{/if}}

      {{#if groupNonClient}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.REPORT_DEBT_GROUP_NON_CLIENT' }}</strong>
        </h3>
      {{/if}}

      {{#if globalClient}}
        <h3 class="text-center text-uppercase">
          <strong>{{translate 'REPORT.CLIENTS.GLOBAL_DEBTOR_GROUP_REPORT' }}</strong>
        </h3>
      {{/if}}

      <h3 class="text-center text-uppercase">
        <strong>{{fiscalYear.label}}</strong>
      </h3>

      <table class="table table-condensed table-report table-bordered">
        <thead>
          <tr class="text-capitalize text-center" style="background-color: #ddd;">
            <th>{{translate "TABLE.COLUMNS.ACCOUNT"}}</th>
            <th>{{translate "TABLE.COLUMNS.NAME"}}</th>
            {{#if includeCashClients}}
            <th class="rotate"><div>{{translate "TABLE.COLUMNS.CASHQ"}}</div></th>
            {{/if}}
            {{#if showLockedColumn}}
            <th class="rotate"><div>{{translate "TABLE.COLUMNS.LOCKEDQ"}}</div></th>
            {{/if}}
            <th class="right">{{translate "REPORT.OPENING_BALANCE"}}</th>
            <th class="right">{{translate "TABLE.COLUMNS.DEBIT"}}</th>
            <th class="right">{{translate "TABLE.COLUMNS.CREDIT"}}</th>
            <th class="right">{{translate "FORM.LABELS.DIFFERENCE"}}</th>
            <th class="right">{{translate "REPORT.CLOSING_BALANCE"}}</th>
          </tr>
        </thead>
        <tbody>
          <!-- print a row for each debtor account-->
          {{#each rows as | row |}}
            <tr>
              <td>{{row.accountNumber}}</td>
              <td>{{row.groupName}}</td>
              {{#if ../includeCashClients}}
              <td class="center">{{#if row.isConvention}}{{else}}<strong>X</strong>{{/if}}</td>
              {{/if}}
              {{#if ../showLockedColumn}}
              <td class="center">{{#if row.locked}}<strong>X</strong>{{/if}}</td>
              {{/if}}
              <td class="text-right">{{debcred row.openingBalance row.currencyId}}</td>
              <td class="text-right">{{debcred row.debit row.currencyId}}</td>
              <td class="text-right">{{debcred row.credit row.currencyId}}</td>
              <td class="text-right">{{debcred row.movement row.currencyId}}</td>
              <td class="text-right">{{debcred row.closingBalance row.currencyId}}</td>
            </tr>
          {{else}}
            {{> emptyTable columns="{{../numCols}}" }}
          {{/each}}
        </tbody>

        <tfoot>
          <th colspan="{{skipCols}}">{{translate "TABLE.COLUMNS.TOTAL"}}</th>
          <th class="text-right">{{debcred footer.openingBalance footer.currencyId}}</th>
          <th class="text-right">{{debcred footer.debit  footer.currencyId}}</th>
          <th class="text-right">{{debcred footer.credit  footer.currencyId}}</th>
          <th class="text-right">{{debcred footer.movement footer.currencyId}}</th>
          <th class="text-right">{{debcred footer.closingBalance footer.currencyId}}</th>
        </tfoot>
      </table>
      {{#if noLockedClientsFound}}
      <div style="padding-top: 1ex">
        <hr4 ><strong>* {{translate "REPORT.CLIENTS.NO_LOCKED_CLIENTS_FOUND"}}</strong></hr4>
      </div>
      {{/if}}
    </section>
  </main>
</body>
