{{> head}}

<body class="container-fluid">

  {{#> header}}
      <h4 class="text-right">
        <strong>{{fiscalYear.label}}</strong>:
        {{date fiscalYear.start_date "MMMM YYYY"}} - {{date fiscalYear.end_date "MMMM YYYY"}}
      </h4>
  {{/header}}

  <!-- body  -->
  <div class="row">
    <div class="col-xs-12">

      <!-- data  -->
      <table  class="table table-condensed table-bordered table-report">
        <thead>
          <tr style="background-color:#ddd;">
            <th class="text-left">{{translate 'TABLE.COLUMNS.ACCOUNT'}}</th>
            <th class="text-left">{{translate 'TABLE.COLUMNS.LABEL'}}</th>
            <th class="text-left">{{translate 'TABLE.COLUMNS.TYPE'}}</th>
            <th class="text-center">{{translate 'BUDGET.FY_BUDGET'}}</th>
            <th class="text-center">{{translate 'BUDGET.BUDGET_YTD'}}</th>
            <th class="text-center">{{translate 'BUDGET.FY_ACTUALS'}}</th>
            <th class="text-center">{{translate 'BUDGET.DIFFERENCE_YTD'}}</th>
            <th class="text-center">{{translate 'BUDGET.DEVIATION_YTD'}}</th>
          </tr>
        </thead>

        <tbody>
          {{#each incomeRows}}
          <tr>
            <td>{{number}}</td>
            <td>{{translate label}}</td>
            <td>{{translate type}}</td>
            <td style="text-align: right">{{#if budget}}{{currency budget ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if budgetYTD}}{{currency budgetYTD ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if actuals}}{{currency actuals ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if differenceYTD}}{{currency differenceYTD ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if deviationYTDPct}}{{deviationYTDPct}} %{{/if}}</td>
          </tr>
          {{/each}}

          {{#with incomeSummaryRow}}
          <tr style="font-style: bold; margin-bottom: 1ex; background-color: #cfc"> <!-- page-break-after: always -->
            <td>{{number}}</td>
            <td style="font-size: 125%">{{translate label}}</td>
            <td>{{translate type}}</td>
            <td style="text-align: right">{{currency budget ../currencyId}}</td>
            <td style="text-align: right">{{currency budgetYTD ../currencyId}}</td>
            <td style="text-align: right">{{currency actuals ../currencyId}}</td>
            <td style="text-align: right">{{currency differenceYTD ../currencyId}}</td>
            <td style="text-align: right">{{#if deviationYTDPct}}{{deviationYTDPct}} %{{/if}}</td>
          </tr>
          {{/with}}
          <tr><td colspan="8">&nbsp;</td></tr> <!-- blank row -->

          {{#each expenseRows}}
          <tr>
            <td>{{number}}</td>
            <td>{{translate label}}</td>
            <td>{{translate type}}</td>
            <td style="text-align: right">{{#if budget}}{{currency budget ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if budgetYTD}}{{currency budgetYTD ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if actuals}}{{currency actuals ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if differenceYTD}}{{currency differenceYTD ../currencyId}}{{/if}}</td>
            <td style="text-align: right">{{#if deviationYTDPct}}{{deviationYTDPct}} %{{/if}}</td>
          </tr>
          {{/each}}

          <tr style="font-style: bold;background-color: #fcc">
            {{#with expensesSummaryRow}}
            <td>{{number}}</td>
            <td style="font-size: 125%;">{{translate label}}</td>
            <td>{{translate type}}</td>
            <td style="text-align: right">{{currency budget ../currencyId}}</td>
            <td style="text-align: right">{{currency budgetYTD ../currencyId}}</td>
            <td style="text-align: right">{{currency actuals ../currencyId}}</td>
            <td style="text-align: right">{{currency differenceYTD ../currencyId}}</td>
            <td style="text-align: right">{{#if deviationYTDPct}}{{deviationYTDPct}} %{{/if}}</td>
            {{/with}}
          </tr>

          <tr><td colspan="8">&nbsp;</td></tr> <!-- blank row -->

          <tr style="font-style: bold;background-color: #ddd">
            {{#with totalSummaryRow}}
            <td>{{number}}</td>
            <td style="font-size: 125%;">{{translate label}}</td>
            <td>{{translate type}}</td>
            <td style="text-align: right">{{currency budget ../currencyId}}</td>
            <td style="text-align: right">{{currency budgetYTD ../currencyId}}</td>
            <td style="text-align: right">{{currency actuals ../currencyId}}</td>
            <td style="text-align: right">{{currency differenceYTD ../currencyId}}</td>
            <td style="text-align: right">{{#if deviationYTDPct}}{{deviationYTDPct}} %{{/if}}</td>
            {{/with}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
