{{> head title="REPORT.ACCOUNT" }}

<!-- ensure HTML report has enough room to be rendered -->
<body class="a4-report-body">
  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "REPORT.ACCOUNT"}}</strong></h3>

  <h4 class="text-center"><strong>{{ accountDetails.number }} | {{ accountDetails.label}}</strong></h4>
  {{#if params.dateFrom }}
    <h5 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
      {{date params.dateFrom }} - {{date params.dateTo }}
    </h5>
  {{/if}}

  <section>
    <table class="table table-condensed table-striped table-report table-bordered">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;">
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th>{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width:12%">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width:12%">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
          <th style="width:12%">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td>{{this.trans_id}}</td>
            <td>{{this.document_reference}}</td>
            <td>{{this.description}}</td>
            <td class="text-right">
              {{#if this.debit}}
                {{currency this.debit ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
            <td class="text-right">
              {{#if this.credit}}
                {{currency this.credit ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
            <td class="text-right">
              {{#if this.cumsum}}
                {{currency this.cumsum ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          {{> emptyTable columns=7}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="background-color: #ddd;">
          <td colspan="4"><strong>{{translate "FORM.LABELS.TOTAL" }}</strong></td>
          <td class="text-right"><strong>{{currency sum.debit metadata.enterprise.currency_id}}</strong></td>
          <td class="text-right"><strong>{{currency sum.credit metadata.enterprise.currency_id}}</strong></td>
          <td class="text-right"><strong>{{currency sum.balance metadata.enterprise.currency_id}}</strong></td>
        </tr>
      </tfoot>
    </table>
    <table class="table table-condensed">
      <tr>
        <th colspan="5" class="text-right">
          <strong>{{translate "FORM.LABELS.BALANCE" }} {{currency sum.balance metadata.enterprise.currency_id}}</strong>
        </th>
      </tr>
      <tr>
        <th colspan="5" class="text-right">
          <i>{{translate "TABLE.COLUMNS.DATA_SOURCE" }} : {{translate params.sourceLabel }}</i>
        </th>
      </tr>
    </table>
  </section>
</body>
