{{> head title="PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE" }}

<body>

  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "REPORT.ACCOUNT"}}</strong></h3>
  <h4 class="text-center"><strong>{{ title.accountNumber }}</strong></h4>
  <h4 class="text-center text-uppercase"><strong>{{ title.accountLabel}}</strong></h4>
  
  <section>
    <table class="table table-condensed table-striped table-report table-bordered">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;">
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.TRANSACTION_ID" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th style="width: 40%;">{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width: 15%;">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each accounts}}
          <tr>
            <td>{{this.trans_id}}</td>
            <td>{{date this.date}}</td>
            <td>{{this.description}}</td>
            <td>{{currency this.debit currency_id}}</td>
            <td>{{currency this.credit currency_id}}</td>
          </tr>
        {{else}}       
          <tr>
            <td colspan="5" class="text-center">
              {{translate "TABLE.COLUMNS.EMPTY"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="background-color: #ddd;">
          <td colspan="3"><strong>{{translate "FORM.LABELS.TOTAL" }}</strong></td>
          <td><strong>{{currency sum.debit currency_id}}</strong></td>
          <td><strong>{{currency sum.credit currency_id}}</strong></td>
        </tr>       
        <tr>
          <th colspan="5" class="text-right"><h3><strong>
            {{translate "FORM.LABELS.BALANCE" }} {{currency sum.balance currency_id}}</strong></h3></th>
        </tr>
      </tfoot>
    </table>
  </section>
</body>