{{> head title="REPORT.ACCOUNT" }}

<body>
  {{> header }}

  <h3 class="text-center text-uppercase"><strong>{{translate "REPORT.ACCOUNT"}}</strong></h3>

  <h4 class="text-center"><strong>{{ title.accountNumber }} | {{ title.accountLabel}}</strong></h4>

  {{#if title.dateFrom }}
    <h5 style="margin:15px; font-weight:bold" class="text-center text-uppercase">
      {{date title.dateFrom }} - {{date title.dateTo }}
    </h5>
  {{/if}}

  <section>
    <table class="table table-condensed table-report table-bordered">
      <thead>
        <tr class="text-capitalize text-center" style="background-color: #ddd;">
          <th>{{translate "TABLE.COLUMNS.DATE" }}</th>
          <th>{{translate "TABLE.COLUMNS.TRANSACTION" }}</th>
          <th>{{translate "TABLE.COLUMNS.DOCUMENT" }}</th>
          <th>{{translate "TABLE.COLUMNS.DESCRIPTION" }}</th>
          <th style="width:12%">{{translate "TABLE.COLUMNS.DEBIT" }}</th>
          <th style="width:12%">{{translate "TABLE.COLUMNS.CREDIT" }}</th>
          <th style="width:12%">{{translate "TABLE.COLUMNS.BALANCE" }}</th>
        </tr>
      </thead>
      <tbody>

        {{! Opening Balance Line }}
        <tr>
          <th>{{ date openingBalance.date }}</th>
          <th colspan="3">{{translate "REPORT.OPENING_BALANCE"}}</th>
          <th class="text-right">
            {{#unless openingBalance.isCreditBalance}} {{currency openingBalance.amount metadata.enterprise.currency_id}} {{/unless}}
          </th>
          <th class="text-right">
            {{#if openingBalance.isCreditBalance}} {{currency openingBalance.amount metadata.enterprise.currency_id}} {{/if}}
          </th>
          <th class="text-right">{{currency openingBalance.amount metadata.enterprise.currency_id}}</th>
        </tr>

        {{#each transactions}}
          <tr>
            <td>{{date this.trans_date}}</td>
            <td>{{this.trans_id}}</td>
            <td>{{this.document_reference}}</td>
            <td>{{this.description}}</td>
            <td class="text-right">
              {{#if this.debit}}
                {{currency this.debit ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
            <td class="text-right">
              {{#if this.credit}}
                {{currency this.credit ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
            <td class="text-right">
              {{#if this.cumsum}}
                {{currency this.cumsum ../metadata.enterprise.currency_id}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          {{> emptyTable columns=7}}
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="background-color: #ddd;">
          <td colspan="4"><strong>{{translate "FORM.LABELS.TOTAL" }}</strong></td>
          <td class="text-right"><strong>{{currency sum.debit metadata.enterprise.currency_id}}</strong></td>
          <td class="text-right"><strong>{{currency sum.credit metadata.enterprise.currency_id}}</strong></td>
          <td class="text-right"><strong>{{currency sum.balance metadata.enterprise.currency_id}}</strong></td>
        </tr>
      </tfoot>
    </table>
    <table class="table table-condensed">
      <tr>
        <th colspan="5" class="text-right">
          <strong>{{translate "FORM.LABELS.BALANCE" }} {{currency sum.balance metadata.enterprise.currency_id}}</strong>
        </th>
      </tr>
      <tr>
        <th colspan="5" class="text-right">
          <i>{{translate "TABLE.COLUMNS.DATA_SOURCE" }} : {{translate title.source }}</i>
        </th>
      </tr>
    </table>
  </section>
</body>
