{{> head title="PATIENT_RECORDS.FINANCIAL_ACTIVITY.REPORT_TITLE" }}

<body>


<style type="text/css">
    .right {
        float: right;
    }
    #exportButton {
        float: left;
    }
    table{
        box-shadow:1px 2px 3px #aaa; background:#aaa;
        width: 100%;
    }
    th, td{
        background:#fff;
    }
    th{
        color:blueviolet;
        background: #ddd
    }
    .odd td{
        background: #fafafa;
    }

</style>



  {{> header }}
 
 <br/>
  <br/>
  <table class="table table-condensed table-bordered">
         <tr>
            <th colspan="2" class="text-center">{{translate "WEEKLY BHIMA SUMMARY REPORT"}}</th>
          </tr>
          <tr>
            <td style="width: 50%">{{translate "THIS WEEK PATIENT(S) REGISTERED"}}</td>
            <td class="text-center">{{patientsData.NumberOfpatientsThisWeek}}</td>
          </tr>
            <tr>
            <td>{{translate "LAST WEEK PATIENT(S) REGISTERED"}}</td>
            <td class="text-center">{{patientsData.NumberOfpatientsLastWeek}}</td>
          </tr>
      
        
  </table>
</body>