{{> head title="ACCOUNT.ACCOUNT_CHART"}}

<div class="container-fluid">

  {{> header }}

  <!-- title  -->
  <h1 class="text-center text-uppercase">
    {{translate 'REPORT.CHART_OF_ACCOUNTS'}}
  </h1>

  <br>

  <!-- content  -->
  <table class="table table-condensed table-striped table-bordered table-report">
    <thead>
      <tr style="background-color:#ddd;">
        <th class="text-left" style="width: 15%;"></th>
        <th>{{translate 'ACCOUNT.LABEL'}}</th>
        <th>{{translate 'FORM.LABELS.TYPE'}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each accounts}}
        {{#if this.is_title}}
          <tr>
            <td class="text-right"><strong>{{ this.number }}</strong></td>
            <td class="text-left">
              <strong style="margin-left: {{indentAccount this.depth}};">
                {{#if this.locked}}
                  <i class="fa fa-lock"></i>
                {{/if}}
                {{ this.label }}
              </strong>
            </td>
            <td>{{translate this.translation_key }}</td>
          </tr>
        {{else}}
          <tr>
            <td class="text-right">{{ this.number }}</td>
            <td class="text-left">
              <span  style="margin-left: {{indentAccount this.depth}};">
                {{#if this.locked}}
                  <i class="fa fa-lock"></i>
                {{/if}}
                {{ this.label }}
              </span>
            </td>
            <td>{{translate this.translation_key }}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
