{{#equal currencyId metadata.enterprise.currency_id}}
{{else}}
<h5 class="text-center">
  {{#gt rate 1}}
    {{translate 'FORM.LABELS.EXCHANGE_RATE'}}: {{currency rate currencyId 4}}
    {{translate 'FORM.INFO.PER'}} {{currency 1 metadata.enterprise.currency_id 0}}
  {{else}}
    {{translate 'FORM.LABELS.EXCHANGE_RATE'}}: {{currency (divide 1 rate) metadata.enterprise.currency_id 4}}
    {{translate 'FORM.INFO.PER'}} {{currency 1 currencyId 0}}
  {{/gt}}
  {{#if date}}
    <i>({{translate 'EXCHANGE.AT_THE_DATE'}} {{date date}})</i>
  {{/if}}
</h5>
<div class="alert alert-warning" style="margin-top: 0.5em;">
  <p>{{translate "REPORT.REPORT_ACCOUNTS.WARN_CURRENCY"}}</p>
</div>
{{/equal}}
