<h5 class="text-center">
  {{#if this.lastRateUsed}}
    {{translate 'EXCHANGE.EXCHANGE_RATES'}} :
    {{currency 1 this.firstCurrency}} = {{currency this.lastRateUsed this.secondCurrency}}
    <i>(<span>{{translate 'EXCHANGE.AT_THE_DATE'}}</span> {{date this.dateTo}})</i>
  {{/if}}
</h5>