<!-- this partial requires binding the variable 'metadata' -->
<header class="row">
  <div class="col-xs-6">
    <h3 style="margin: 0px;">{{metadata.enterprise.name}}</h3>
    <address style="margin-bottom: 0px;">
      {{metadata.enterprise.location}}
    </address>
    <div>{{metadata.enterprise.email}}</div>
    <div>{{metadata.enterprise.phone}}</div>
  </div>
  <div class="col-xs-6 text-right">
    <div>{{translate "REPORT.PRODUCED_ON"}} <time datetime="{{metadata.timestamp}}">{{date metadata.timestamp}}</time></div>
    <div>{{translate "REPORT.PRODUCED_BY"}} {{metadata.user.display_name}}</div>
  </div>
</header>
