<!-- this partial requires binding the variable 'metadata' -->

<div class="col-xs-6 col-auto" style="border: 1px solid blue;">

  <h2 class="text-right" style="margin: 0">
    {{translate title}}
  </h2>

  {{#if inventoryGroupName}}
    <h3 class="text-right">
      <strong>{{inventoryGroupName}}</strong>
    </h3>
  {{/if}}

  {{#if depotName}}
    <h3 class="text-right" style="margin-bottom: 5px">
      {{translate depotName}}
    </h3>
  {{/if}}

  {{#if serviceName}}
  <h3 class="text-right" style="margin-bottom: 5px">
    {{translate 'STOCK.SERVICE'}}: {{ serviceName }}
  </h3>
  {{/if}}

  <!-- support adding extra content to the title block on right side of the header. -->
  <!-- See https://handlebarsjs.com/guide/partials.html#partial-parameters for usage. -->
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}

  {{#if dateTo}}
    {{#if dateFrom}}
      <h4 class="text-right">
        {{date dateFrom}} - {{date dateTo}}
      </h4>
    {{else}}
      <h4 class="text-right">
        {{translate 'REPORT.THROUGH'}}: {{date dateTo}}
      </h4>
    {{/if}}
  {{/if}}


  <h5 class="text-right">
    {{translate "REPORT.PRODUCED_ON"}} <time datetime="{{metadata.timestamp}}">{{date metadata.timestamp}}</time>
    {{translate "REPORT.BY"}} {{metadata.user.display_name}}
  </h5>

</div>
